openapi: 3.0.3
info:
  title: Binance Spot API
  version: '3.0'
  description: |
    Binance Spot REST API surface used by the Aomi `binance` app.

    Only the endpoints actually called by `apps/binance/src/tool.rs` are
    described here — public market data (price/depth/klines/24h stats) plus
    signed account/order/trade endpoints.

    ## Auth
    Signed endpoints require:
      - `X-MBX-APIKEY` header — your API key
      - `timestamp` query parameter (millis since epoch)
      - `signature` query parameter — HMAC-SHA256(secret_key, query_string)

    The HMAC signing is hand-written in `ext/src/binance/auth.rs` — this spec
    only describes the resulting `X-MBX-APIKEY` header and the `timestamp` /
    `signature` query parameters for codegen purposes. The curated tool layer
    in `apps/binance/src/tool.rs` computes the signature before calling the
    generated method.
servers:
  - url: https://api.binance.com
paths:
  /api/v3/ticker/price:
    get:
      operationId: getTickerPrice
      summary: Latest spot price for one or all symbols
      description: |
        Public endpoint. Returns the latest price for a single symbol when
        `symbol` is provided, or for every spot pair when omitted.
      parameters:
        - name: symbol
          in: query
          required: false
          description: Symbol like `BTCUSDT`. Omit for all symbols.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Either a single ticker or an array of tickers.
                type: object
                additionalProperties: true

  /api/v3/depth:
    get:
      operationId: getDepth
      summary: Order-book bids and asks for a symbol
      description: |
        Public endpoint. Returns the top N price levels for the given symbol.
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of levels — 5, 10, 20, 50, 100 (default), 500, 1000, 5000.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepthResponse'

  /api/v3/klines:
    get:
      operationId: getKlines
      summary: OHLCV candles for a symbol at a given interval
      description: |
        Public endpoint. Each candle is a 12-element array
        `[open_time, open, high, low, close, volume, close_time, quote_volume,
        trades, taker_buy_base_vol, taker_buy_quote_vol, ignore]`.
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: interval
          in: query
          required: true
          description: Candle interval — `1m`, `5m`, `15m`, `1h`, `4h`, `1d`, `1w`, `1M`, etc.
          schema:
            type: string
        - name: startTime
          in: query
          required: false
          description: Start time in millis since epoch.
          schema:
            type: integer
            format: int64
        - name: endTime
          in: query
          required: false
          description: End time in millis since epoch.
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          required: false
          description: Default 500, max 1000.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    description: Mixed numeric/string fields per Binance's wire format.
                    type: object
                    additionalProperties: true

  /api/v3/ticker/24hr:
    get:
      operationId: get24hrStats
      summary: Rolling 24h price-change stats
      description: |
        Public endpoint. Returns 24h volume, high/low, and percent change for
        a single symbol or every spot pair.
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Either a single stats object or an array of them.
                type: object
                additionalProperties: true

  /api/v3/order:
    post:
      operationId: placeOrder
      summary: Place a new spot order (signed)
      description: |
        Signed endpoint. The body is sent as URL-encoded query parameters
        (Binance's convention even for POST). The curated tool builds the query
        string, computes the HMAC signature, and passes both `signature` and
        `timestamp` as query params.
      parameters:
        - $ref: '#/components/parameters/XMbxApiKey'
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: side
          in: query
          required: true
          description: '`BUY` or `SELL`.'
          schema:
            type: string
        - name: type
          in: query
          required: true
          description: '`LIMIT`, `MARKET`, `STOP_LOSS_LIMIT`, `TAKE_PROFIT_LIMIT`.'
          schema:
            type: string
        - name: timeInForce
          in: query
          required: false
          description: '`GTC`, `IOC`, `FOK` (required for LIMIT orders).'
          schema:
            type: string
        - name: quantity
          in: query
          required: false
          schema:
            type: string
        - name: price
          in: query
          required: false
          schema:
            type: string
        - name: timestamp
          in: query
          required: true
          description: Millis since epoch (server-side validity window applies).
          schema:
            type: integer
            format: int64
        - name: signature
          in: query
          required: true
          description: HMAC-SHA256 hex of the encoded query string (without `signature`).
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'

    delete:
      operationId: cancelOrder
      summary: Cancel an open spot order (signed)
      description: |
        Signed endpoint. Pass either `orderId` (preferred) or
        `origClientOrderId`.
      parameters:
        - $ref: '#/components/parameters/XMbxApiKey'
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: orderId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: origClientOrderId
          in: query
          required: false
          schema:
            type: string
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: signature
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'

  /api/v3/account:
    get:
      operationId: getAccount
      summary: Account balances and permissions (signed)
      description: |
        Signed endpoint. Returns free / locked balances per asset and account
        permissions.
      parameters:
        - $ref: '#/components/parameters/XMbxApiKey'
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: signature
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'

  /api/v3/myTrades:
    get:
      operationId: getMyTrades
      summary: Personal fill history for one symbol (signed)
      description: |
        Signed endpoint. Returns the user's recent trades on the given symbol.
      parameters:
        - $ref: '#/components/parameters/XMbxApiKey'
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: fromId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: startTime
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: endTime
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          required: false
          description: Default 500, max 1000.
          schema:
            type: integer
            format: int32
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: signature
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trade'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-MBX-APIKEY

  parameters:
    XMbxApiKey:
      name: X-MBX-APIKEY
      in: header
      required: true
      description: Binance API key.
      schema:
        type: string

  schemas:
    DepthResponse:
      type: object
      properties:
        lastUpdateId:
          type: integer
          format: int64
        bids:
          type: array
          items:
            type: array
            items:
              type: string
        asks:
          type: array
          items:
            type: array
            items:
              type: string

    OrderResponse:
      type: object
      additionalProperties: true
      properties:
        symbol:
          type: string
        orderId:
          type: integer
          format: int64
        status:
          type: string

    Balance:
      type: object
      properties:
        asset:
          type: string
        free:
          type: string
        locked:
          type: string

    AccountResponse:
      type: object
      additionalProperties: true
      properties:
        balances:
          type: array
          items:
            $ref: '#/components/schemas/Balance'

    Trade:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
          format: int64
        price:
          type: string
        qty:
          type: string
        quoteQty:
          type: string
        time:
          type: integer
          format: int64
