openapi: 3.0.3
info:
  title: Binance Spot API
  description: |
    Binance Spot REST API surface used by the Aomi `binance` app.

    Only the endpoints actually called by `apps/binance/src/tool.rs` are
    described here — public market data (price/depth/klines/24h stats) plus
    signed account/order/trade endpoints.

    ## Auth
    Signed endpoints require:
      - `X-MBX-APIKEY` header — your API key
      - `timestamp` query parameter (millis since epoch)
      - `signature` query parameter — HMAC-SHA256(secret_key, query_string)

    The HMAC signing is hand-written in `ext/src/binance/auth.rs` — this spec
    only describes the resulting `X-MBX-APIKEY` header and the `timestamp` /
    `signature` query parameters for codegen purposes. The curated tool layer
    in `apps/binance/src/tool.rs` computes the signature before calling the
    generated method.
  version: '3.0'
servers:
- url: https://api.binance.com
paths:
  /api/v3/ticker/price:
    get:
      summary: Latest spot price for one or all symbols
      description: |
        Public endpoint. Returns the latest price for a single symbol when
        `symbol` is provided, or for every spot pair when omitted.
      operationId: getTickerPrice
      parameters:
      - in: query
        name: symbol
        description: Symbol like `BTCUSDT`. Omit for all symbols.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Either a single ticker or an array of tickers.
                type: object
                additionalProperties: true
  /api/v3/depth:
    get:
      summary: Order-book bids and asks for a symbol
      description: |
        Public endpoint. Returns the top N price levels for the given symbol.
      operationId: getDepth
      parameters:
      - in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: limit
        description: Number of levels — 5, 10, 20, 50, 100 (default), 500, 1000, 5000.
        schema:
          type: integer
          format: int32
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepthResponse'
  /api/v3/klines:
    get:
      summary: OHLCV candles for a symbol at a given interval
      description: |
        Public endpoint. Each candle is a 12-element array
        `[open_time, open, high, low, close, volume, close_time, quote_volume,
        trades, taker_buy_base_vol, taker_buy_quote_vol, ignore]`.
      operationId: getKlines
      parameters:
      - in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: interval
        description: Candle interval — `1m`, `5m`, `15m`, `1h`, `4h`, `1d`, `1w`, `1M`, etc.
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: startTime
        description: Start time in millis since epoch.
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: endTime
        description: End time in millis since epoch.
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: limit
        description: Default 500, max 1000.
        schema:
          type: integer
          format: int32
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    description: Mixed numeric/string fields per Binance's wire format.
                    type: object
                    additionalProperties: true
  /api/v3/ticker/24hr:
    get:
      summary: Rolling 24h price-change stats
      description: |
        Public endpoint. Returns 24h volume, high/low, and percent change for
        a single symbol or every spot pair.
      operationId: get24hrStats
      parameters:
      - in: query
        name: symbol
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Either a single stats object or an array of them.
                type: object
                additionalProperties: true
  /api/v3/order:
    post:
      summary: Place a new spot order (signed)
      description: |
        Signed endpoint. The body is sent as URL-encoded query parameters
        (Binance's convention even for POST). The curated tool builds the query
        string, computes the HMAC signature, and passes both `signature` and
        `timestamp` as query params.
      operationId: placeOrder
      parameters:
      - $ref: '#/components/parameters/XMbxApiKey'
      - in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: side
        description: '`BUY` or `SELL`.'
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: type
        description: '`LIMIT`, `MARKET`, `STOP_LOSS_LIMIT`, `TAKE_PROFIT_LIMIT`.'
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: timeInForce
        description: '`GTC`, `IOC`, `FOK` (required for LIMIT orders).'
        schema:
          type: string
        style: form
      - in: query
        name: quantity
        schema:
          type: string
        style: form
      - in: query
        name: price
        schema:
          type: string
        style: form
      - in: query
        name: timestamp
        description: Millis since epoch (server-side validity window applies).
        required: true
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: signature
        description: HMAC-SHA256 hex of the encoded query string (without `signature`).
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
    delete:
      summary: Cancel an open spot order (signed)
      description: |
        Signed endpoint. Pass either `orderId` (preferred) or
        `origClientOrderId`.
      operationId: cancelOrder
      parameters:
      - $ref: '#/components/parameters/XMbxApiKey'
      - in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: orderId
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: origClientOrderId
        schema:
          type: string
        style: form
      - in: query
        name: timestamp
        required: true
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
  /api/v3/account:
    get:
      summary: Account balances and permissions (signed)
      description: |
        Signed endpoint. Returns free / locked balances per asset and account
        permissions.
      operationId: getAccount
      parameters:
      - $ref: '#/components/parameters/XMbxApiKey'
      - in: query
        name: timestamp
        required: true
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
  /api/v3/myTrades:
    get:
      summary: Personal fill history for one symbol (signed)
      description: |
        Signed endpoint. Returns the user's recent trades on the given symbol.
      operationId: getMyTrades
      parameters:
      - $ref: '#/components/parameters/XMbxApiKey'
      - in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: fromId
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: startTime
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: endTime
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: limit
        description: Default 500, max 1000.
        schema:
          type: integer
          format: int32
        style: form
      - in: query
        name: timestamp
        required: true
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trade'
components:
  schemas:
    DepthResponse:
      type: object
      properties:
        lastUpdateId:
          type: integer
          format: int64
        bids:
          type: array
          items:
            type: array
            items:
              type: string
        asks:
          type: array
          items:
            type: array
            items:
              type: string
    OrderResponse:
      type: object
      properties:
        symbol:
          type: string
        orderId:
          type: integer
          format: int64
        status:
          type: string
      additionalProperties: true
    Balance:
      type: object
      properties:
        asset:
          type: string
        free:
          type: string
        locked:
          type: string
    AccountResponse:
      type: object
      properties:
        balances:
          type: array
          items:
            $ref: '#/components/schemas/Balance'
      additionalProperties: true
    Trade:
      type: object
      properties:
        id:
          type: integer
          format: int64
        price:
          type: string
        qty:
          type: string
        quoteQty:
          type: string
        time:
          type: integer
          format: int64
      additionalProperties: true
  parameters:
    XMbxApiKey:
      in: header
      name: X-MBX-APIKEY
      description: Binance API key.
      required: true
      schema:
        type: string
      style: simple
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-MBX-APIKEY
