openapi: 3.0.3
info:
  title: Bybit V5 Unified API
  version: '5.0'
  description: |
    Bybit V5 unified API. Spot, USDT/USDC perpetuals (linear), coin-margined perpetuals (inverse),
    and options all live behind one set of endpoints, distinguished by a `category` parameter.

    ## Auth
    Authenticated endpoints require these request headers, sent on every signed call:
      - `X-BAPI-API-KEY`     — your API key
      - `X-BAPI-TIMESTAMP`   — current millis since epoch
      - `X-BAPI-RECV-WINDOW` — request validity window (commonly `5000`)
      - `X-BAPI-SIGN`        — HMAC-SHA256 hex signature

    The signature payload is `timestamp + api_key + recv_window + payload`, where `payload` is
    the URL-encoded query string for GET requests, or the raw JSON body for POST requests. The
    HMAC key is the API secret. The signing logic is hand-written in `ext/src/bybit/auth.rs`
    — this spec only describes the resulting headers for codegen purposes.

    All responses share an envelope: `{ retCode, retMsg, result, retExtInfo, time }`. A non-zero
    `retCode` indicates a logical error even on HTTP 200.
servers:
  - url: https://api.bybit.com
security:
  - ApiKeyAuth: []
    Timestamp: []
    RecvWindow: []
    Signature: []
paths:
  /v5/market/tickers:
    get:
      operationId: getTickers
      summary: Latest price snapshot for symbols in a category
      description: |
        Returns the latest price snapshot (last price, 24h volume, best bid/ask, etc.) for one
        or all symbols in a product category. Public endpoint — no signing required.
      security: []
      parameters:
        - $ref: '#/components/parameters/Category'
        - name: symbol
          in: query
          required: false
          description: Symbol like `BTCUSDT`. Omit to return all symbols in the category.
          schema:
            type: string
        - name: baseCoin
          in: query
          required: false
          schema:
            type: string
        - name: expDate
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickersEnvelope'

  /v5/market/orderbook:
    get:
      operationId: getOrderbook
      summary: Order book snapshot
      description: Bids and asks for a symbol at the requested depth. Public endpoint.
      security: []
      parameters:
        - $ref: '#/components/parameters/Category'
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Depth — typical values 1, 25, 50, 200.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderbookEnvelope'

  /v5/market/kline:
    get:
      operationId: getKline
      summary: Historical candles (OHLCV)
      description: |
        OHLCV candles for a symbol at the chosen interval. Public endpoint. Intervals:
        `1`, `3`, `5`, `15`, `30`, `60`, `120`, `240`, `360`, `720`, `D`, `W`, `M`.
      security: []
      parameters:
        - $ref: '#/components/parameters/Category'
        - name: symbol
          in: query
          required: true
          schema:
            type: string
        - name: interval
          in: query
          required: true
          schema:
            type: string
        - name: start
          in: query
          required: false
          description: Start timestamp in ms.
          schema:
            type: integer
            format: int64
        - name: end
          in: query
          required: false
          description: End timestamp in ms.
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KlineEnvelope'

  /v5/account/wallet-balance:
    get:
      operationId: getWalletBalance
      summary: Account wallet balance
      description: Wallet balance per coin for the unified or contract account. Signed.
      parameters:
        - $ref: '#/components/parameters/XBapiApiKey'
        - $ref: '#/components/parameters/XBapiTimestamp'
        - $ref: '#/components/parameters/XBapiRecvWindow'
        - $ref: '#/components/parameters/XBapiSign'
        - name: accountType
          in: query
          required: true
          description: '`UNIFIED` (default) or `CONTRACT`.'
          schema:
            type: string
        - name: coin
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletBalanceEnvelope'

  /v5/position/list:
    get:
      operationId: getPositions
      summary: Open derivative positions
      description: Open perpetual or inverse positions. Signed. `category` must be `linear` or `inverse`.
      parameters:
        - $ref: '#/components/parameters/XBapiApiKey'
        - $ref: '#/components/parameters/XBapiTimestamp'
        - $ref: '#/components/parameters/XBapiRecvWindow'
        - $ref: '#/components/parameters/XBapiSign'
        - $ref: '#/components/parameters/Category'
        - name: symbol
          in: query
          required: false
          schema:
            type: string
        - name: settleCoin
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionListEnvelope'

  /v5/order/realtime:
    get:
      operationId: getOpenOrders
      summary: Open / unfilled orders
      description: Real-time open orders. Signed.
      parameters:
        - $ref: '#/components/parameters/XBapiApiKey'
        - $ref: '#/components/parameters/XBapiTimestamp'
        - $ref: '#/components/parameters/XBapiRecvWindow'
        - $ref: '#/components/parameters/XBapiSign'
        - $ref: '#/components/parameters/Category'
        - name: symbol
          in: query
          required: false
          schema:
            type: string
        - name: orderId
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListEnvelope'

  /v5/order/history:
    get:
      operationId: getOrderHistory
      summary: Filled / cancelled order history
      description: Historical orders (filled, cancelled, rejected). Signed.
      parameters:
        - $ref: '#/components/parameters/XBapiApiKey'
        - $ref: '#/components/parameters/XBapiTimestamp'
        - $ref: '#/components/parameters/XBapiRecvWindow'
        - $ref: '#/components/parameters/XBapiSign'
        - $ref: '#/components/parameters/Category'
        - name: symbol
          in: query
          required: false
          schema:
            type: string
        - name: orderId
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListEnvelope'

  /v5/order/create:
    post:
      operationId: createOrder
      summary: Place a new order
      description: Place a new spot or derivatives order. Signed.
      parameters:
        - $ref: '#/components/parameters/XBapiApiKey'
        - $ref: '#/components/parameters/XBapiTimestamp'
        - $ref: '#/components/parameters/XBapiRecvWindow'
        - $ref: '#/components/parameters/XBapiSign'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderActionEnvelope'

  /v5/order/cancel:
    post:
      operationId: cancelOrder
      summary: Cancel an order
      description: Cancel a single order by orderId. Signed.
      parameters:
        - $ref: '#/components/parameters/XBapiApiKey'
        - $ref: '#/components/parameters/XBapiTimestamp'
        - $ref: '#/components/parameters/XBapiRecvWindow'
        - $ref: '#/components/parameters/XBapiSign'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderActionEnvelope'

  /v5/order/amend:
    post:
      operationId: amendOrder
      summary: Amend an open order
      description: Modify quantity and/or price of an open order. Signed.
      parameters:
        - $ref: '#/components/parameters/XBapiApiKey'
        - $ref: '#/components/parameters/XBapiTimestamp'
        - $ref: '#/components/parameters/XBapiRecvWindow'
        - $ref: '#/components/parameters/XBapiSign'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmendOrderRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderActionEnvelope'

  /v5/position/set-leverage:
    post:
      operationId: setLeverage
      summary: Set leverage for a derivatives symbol
      description: Set per-symbol leverage (separate buy and sell legs). Signed.
      parameters:
        - $ref: '#/components/parameters/XBapiApiKey'
        - $ref: '#/components/parameters/XBapiTimestamp'
        - $ref: '#/components/parameters/XBapiRecvWindow'
        - $ref: '#/components/parameters/XBapiSign'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetLeverageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResultEnvelope'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-BAPI-API-KEY
    Timestamp:
      type: apiKey
      in: header
      name: X-BAPI-TIMESTAMP
    RecvWindow:
      type: apiKey
      in: header
      name: X-BAPI-RECV-WINDOW
    Signature:
      type: apiKey
      in: header
      name: X-BAPI-SIGN

  parameters:
    Category:
      name: category
      in: query
      required: true
      description: Product category — `spot`, `linear`, `inverse`, or `option`.
      schema:
        type: string
    XBapiApiKey:
      name: X-BAPI-API-KEY
      in: header
      required: true
      schema:
        type: string
    XBapiTimestamp:
      name: X-BAPI-TIMESTAMP
      in: header
      required: true
      schema:
        type: string
    XBapiRecvWindow:
      name: X-BAPI-RECV-WINDOW
      in: header
      required: true
      schema:
        type: string
    XBapiSign:
      name: X-BAPI-SIGN
      in: header
      required: true
      schema:
        type: string

  schemas:
    EnvelopeBase:
      type: object
      properties:
        retCode:
          type: integer
          format: int64
        retMsg:
          type: string
        retExtInfo:
          type: object
          additionalProperties: true
        time:
          type: integer
          format: int64

    Ticker:
      type: object
      properties:
        symbol:
          type: string
        lastPrice:
          type: string
        indexPrice:
          type: string
        markPrice:
          type: string
        bid1Price:
          type: string
        bid1Size:
          type: string
        ask1Price:
          type: string
        ask1Size:
          type: string
        prevPrice24h:
          type: string
        price24hPcnt:
          type: string
        highPrice24h:
          type: string
        lowPrice24h:
          type: string
        volume24h:
          type: string
        turnover24h:
          type: string
        openInterest:
          type: string
        fundingRate:
          type: string

    TickerListResult:
      type: object
      properties:
        category:
          type: string
        list:
          type: array
          items:
            $ref: '#/components/schemas/Ticker'

    TickersEnvelope:
      allOf:
        - $ref: '#/components/schemas/EnvelopeBase'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/TickerListResult'

    OrderbookResult:
      type: object
      properties:
        s:
          type: string
        ts:
          type: integer
          format: int64
        u:
          type: integer
          format: int64
        b:
          type: array
          description: Bids — each entry is `[price, qty]`.
          items:
            type: array
            items:
              type: string
        a:
          type: array
          description: Asks — each entry is `[price, qty]`.
          items:
            type: array
            items:
              type: string

    OrderbookEnvelope:
      allOf:
        - $ref: '#/components/schemas/EnvelopeBase'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/OrderbookResult'

    KlineResult:
      type: object
      properties:
        category:
          type: string
        symbol:
          type: string
        list:
          type: array
          description: |
            Each candle is `[startTime, open, high, low, close, volume, turnover]`.
          items:
            type: array
            items:
              type: string

    KlineEnvelope:
      allOf:
        - $ref: '#/components/schemas/EnvelopeBase'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/KlineResult'

    WalletCoin:
      type: object
      properties:
        coin:
          type: string
        equity:
          type: string
        walletBalance:
          type: string
        availableToWithdraw:
          type: string
        usdValue:
          type: string
      additionalProperties: true

    WalletAccount:
      type: object
      properties:
        accountType:
          type: string
        totalEquity:
          type: string
        totalWalletBalance:
          type: string
        totalAvailableBalance:
          type: string
        coin:
          type: array
          items:
            $ref: '#/components/schemas/WalletCoin'
      additionalProperties: true

    WalletBalanceResult:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/WalletAccount'

    WalletBalanceEnvelope:
      allOf:
        - $ref: '#/components/schemas/EnvelopeBase'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/WalletBalanceResult'

    Position:
      type: object
      properties:
        symbol:
          type: string
        side:
          type: string
        size:
          type: string
        positionValue:
          type: string
        avgPrice:
          type: string
        markPrice:
          type: string
        liqPrice:
          type: string
        leverage:
          type: string
        unrealisedPnl:
          type: string
        cumRealisedPnl:
          type: string
      additionalProperties: true

    PositionListResult:
      type: object
      properties:
        category:
          type: string
        list:
          type: array
          items:
            $ref: '#/components/schemas/Position'
        nextPageCursor:
          type: string

    PositionListEnvelope:
      allOf:
        - $ref: '#/components/schemas/EnvelopeBase'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/PositionListResult'

    Order:
      type: object
      properties:
        orderId:
          type: string
        orderLinkId:
          type: string
        symbol:
          type: string
        side:
          type: string
        orderType:
          type: string
        price:
          type: string
        qty:
          type: string
        cumExecQty:
          type: string
        avgPrice:
          type: string
        orderStatus:
          type: string
        timeInForce:
          type: string
        createdTime:
          type: string
        updatedTime:
          type: string
      additionalProperties: true

    OrderListResult:
      type: object
      properties:
        category:
          type: string
        list:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        nextPageCursor:
          type: string

    OrderListEnvelope:
      allOf:
        - $ref: '#/components/schemas/EnvelopeBase'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/OrderListResult'

    OrderActionResult:
      type: object
      properties:
        orderId:
          type: string
        orderLinkId:
          type: string

    OrderActionEnvelope:
      allOf:
        - $ref: '#/components/schemas/EnvelopeBase'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/OrderActionResult'

    EmptyResultEnvelope:
      allOf:
        - $ref: '#/components/schemas/EnvelopeBase'
        - type: object
          properties:
            result:
              type: object
              additionalProperties: true

    CreateOrderRequest:
      type: object
      required:
        - category
        - symbol
        - side
        - orderType
        - qty
      properties:
        category:
          type: string
          description: '`spot`, `linear`, `inverse`, or `option`.'
        symbol:
          type: string
        side:
          type: string
          description: '`Buy` or `Sell` (capitalised).'
        orderType:
          type: string
          description: '`Limit` or `Market` (capitalised).'
        qty:
          type: string
        price:
          type: string
          description: Required for Limit orders.
        timeInForce:
          type: string
        orderLinkId:
          type: string
        reduceOnly:
          type: boolean

    CancelOrderRequest:
      type: object
      required:
        - category
        - symbol
        - orderId
      properties:
        category:
          type: string
        symbol:
          type: string
        orderId:
          type: string
        orderLinkId:
          type: string

    AmendOrderRequest:
      type: object
      required:
        - category
        - symbol
        - orderId
      properties:
        category:
          type: string
        symbol:
          type: string
        orderId:
          type: string
        qty:
          type: string
        price:
          type: string

    SetLeverageRequest:
      type: object
      required:
        - category
        - symbol
        - buyLeverage
        - sellLeverage
      properties:
        category:
          type: string
        symbol:
          type: string
        buyLeverage:
          type: string
        sellLeverage:
          type: string
