openapi: 3.0.3
info:
  title: DefiLlama API
  description: |
    Free public DefiLlama REST API.

    ## Hosts
    DefiLlama splits its surface across four hosts:
      - `https://api.llama.fi`         — protocols, TVL, fees, dex/options/perps overviews, blocks
      - `https://coins.llama.fi`       — token prices (current, historical, batch, chart, %, first)
      - `https://yields.llama.fi`      — yield pools and per-pool charts
      - `https://stablecoins.llama.fi` — stablecoin mcap, chain distribution, prices

    Each operation declares its own `servers` entry to pin the host.

    ## Auth
    All endpoints in this spec are unauthenticated. DefiLlama also exposes a
    Pro API at `https://pro-api.llama.fi/{key}/...` which is intentionally NOT
    covered here.
  version: '1.0'
servers:
- url: https://api.llama.fi
paths:
  /protocols:
    get:
      summary: List all protocols with current TVL.
      operationId: getProtocols
      parameters:
      - in: query
        name: category
        description: Optional category filter (e.g. "Lending", "Dexes").
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Array of protocol summaries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProtocolSummary'
  /protocol/{protocol}:
    get:
      summary: Historical TVL of a protocol with token and chain breakdowns.
      operationId: getProtocolDetail
      parameters:
      - $ref: '#/components/parameters/Protocol'
      responses:
        '200':
          description: Protocol detail with historical TVL series.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /tvl/{protocol}:
    get:
      summary: Current TVL of a protocol (single number).
      operationId: getProtocolCurrentTvl
      parameters:
      - $ref: '#/components/parameters/Protocol'
      responses:
        '200':
          description: Current TVL in USD.
          content:
            application/json:
              schema:
                type: number
  /v2/chains:
    get:
      summary: Current TVL of all chains.
      operationId: getChainsTvl
      responses:
        '200':
          description: Per-chain TVL summaries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChainTvl'
  /v2/historicalChainTvl:
    get:
      summary: Historical TVL across all chains.
      operationId: getHistoricalChainTvlAll
      responses:
        '200':
          description: Time series of total DeFi TVL.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TvlPoint'
  /v2/historicalChainTvl/{chain}:
    get:
      summary: Historical TVL of a single chain.
      operationId: getHistoricalChainTvl
      parameters:
      - $ref: '#/components/parameters/Chain'
      responses:
        '200':
          description: Time series for the chain.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TvlPoint'
  /overview/dexs:
    get:
      summary: All DEXs with volume summaries.
      operationId: getDexOverview
      parameters:
      - in: query
        name: excludeTotalDataChart
        schema:
          type: boolean
        style: form
      - in: query
        name: excludeTotalDataChartBreakdown
        schema:
          type: boolean
        style: form
      - in: query
        name: dataType
        schema:
          type: string
        style: form
      responses:
        '200':
          description: DEX overview.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /overview/dexs/{chain}:
    get:
      summary: All DEXs on a chain.
      operationId: getDexOverviewByChain
      parameters:
      - $ref: '#/components/parameters/Chain'
      - in: query
        name: excludeTotalDataChart
        schema:
          type: boolean
        style: form
      - in: query
        name: excludeTotalDataChartBreakdown
        schema:
          type: boolean
        style: form
      responses:
        '200':
          description: DEX overview for the chain.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /summary/dexs/{protocol}:
    get:
      summary: Volume summary for a single DEX protocol.
      operationId: getDexProtocolVolume
      parameters:
      - $ref: '#/components/parameters/Protocol'
      - in: query
        name: excludeTotalDataChart
        schema:
          type: boolean
        style: form
      - in: query
        name: excludeTotalDataChartBreakdown
        schema:
          type: boolean
        style: form
      - in: query
        name: dataType
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Volume detail for the DEX.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /overview/fees:
    get:
      summary: All protocols with fee/revenue summaries.
      operationId: getFeesOverview
      parameters:
      - in: query
        name: dataType
        schema:
          description: e.g. "dailyFees" or "dailyRevenue"
          type: string
        style: form
      responses:
        '200':
          description: Fees overview.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /summary/fees/{protocol}:
    get:
      summary: Fee/revenue summary for a single protocol.
      operationId: getProtocolFees
      parameters:
      - $ref: '#/components/parameters/Protocol'
      - in: query
        name: dataType
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Per-protocol fees detail.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /prices/current/{coins}:
    get:
      summary: Current prices of tokens by `chain:address` (or coingecko id).
      operationId: getCurrentPrices
      parameters:
      - $ref: '#/components/parameters/Coins'
      - in: query
        name: searchWidth
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Map of coin id → price record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinPriceMap'
    servers:
    - url: https://coins.llama.fi
  /prices/historical/{timestamp}/{coins}:
    get:
      summary: Prices at a single past timestamp.
      operationId: getHistoricalPrices
      parameters:
      - in: path
        name: timestamp
        required: true
        schema:
          type: integer
          format: int64
        style: simple
      - $ref: '#/components/parameters/Coins'
      - in: query
        name: searchWidth
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Map of coin id → price record at that timestamp.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinPriceMap'
    servers:
    - url: https://coins.llama.fi
  /percentage/{coins}:
    get:
      summary: Percentage change in price over a window.
      operationId: getPriceChangePercentage
      parameters:
      - $ref: '#/components/parameters/Coins'
      - in: query
        name: timestamp
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: lookForward
        schema:
          type: boolean
        style: form
      - in: query
        name: period
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Map of coin id → percent change.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: number
    servers:
    - url: https://coins.llama.fi
  /pools:
    get:
      summary: All yield pools enriched with predictions and stats.
      operationId: getYieldPools
      parameters:
      - in: query
        name: chain
        schema:
          type: string
        style: form
      - in: query
        name: project
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Yield pool list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YieldPoolList'
    servers:
    - url: https://yields.llama.fi
  /chart/{pool}:
    get:
      summary: Historical APY and TVL of a single pool.
      operationId: getYieldPoolHistory
      parameters:
      - in: path
        name: pool
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Time series for the pool.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    servers:
    - url: https://yields.llama.fi
  /stablecoins:
    get:
      summary: All stablecoins with circulating amounts.
      operationId: getStablecoins
      parameters:
      - in: query
        name: includePrices
        schema:
          type: boolean
        style: form
      responses:
        '200':
          description: Stablecoin list.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    servers:
    - url: https://stablecoins.llama.fi
  /stablecoinchains:
    get:
      summary: Current mcap sum of all stablecoins per chain.
      operationId: getStablecoinChains
      responses:
        '200':
          description: Per-chain stablecoin totals.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
    servers:
    - url: https://stablecoins.llama.fi
  /stablecoin/{asset}:
    get:
      summary: Historical mcap and chain distribution of a single stablecoin.
      operationId: getStablecoinHistory
      parameters:
      - in: path
        name: asset
        description: Stablecoin id (e.g. "1" for USDT).
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Stablecoin history detail.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    servers:
    - url: https://stablecoins.llama.fi
components:
  schemas:
    ProtocolSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        symbol:
          nullable: true
          type: string
        category:
          nullable: true
          type: string
        chains:
          type: array
          items:
            type: string
        tvl:
          nullable: true
          type: number
        chainTvls:
          type: object
          additionalProperties:
            type: number
      required:
      - name
      additionalProperties: true
    ChainTvl:
      type: object
      properties:
        name:
          type: string
        chainId:
          nullable: true
          oneOf:
          - type: integer
          - type: string
        tokenSymbol:
          nullable: true
          type: string
        tvl:
          type: number
      required:
      - name
      - tvl
      additionalProperties: true
    TvlPoint:
      type: object
      properties:
        date:
          description: Unix epoch seconds.
          type: integer
          format: int64
        tvl:
          type: number
      required:
      - date
      - tvl
    CoinPriceMap:
      type: object
      properties:
        coins:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CoinPrice'
    CoinPrice:
      type: object
      properties:
        decimals:
          type: integer
        price:
          type: number
        symbol:
          type: string
        timestamp:
          type: integer
          format: int64
        confidence:
          nullable: true
          type: number
      additionalProperties: true
    YieldPoolList:
      type: object
      properties:
        status:
          nullable: true
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/YieldPool'
      required:
      - data
    YieldPool:
      type: object
      properties:
        pool:
          description: Pool UUID; feed to /chart/{pool}.
          type: string
        chain:
          type: string
        project:
          type: string
        symbol:
          type: string
        tvlUsd:
          nullable: true
          type: number
        apy:
          nullable: true
          type: number
        apyBase:
          nullable: true
          type: number
        apyReward:
          nullable: true
          type: number
        stablecoin:
          nullable: true
          type: boolean
        ilRisk:
          nullable: true
          description: '"yes" or "no".'
          type: string
        exposure:
          nullable: true
          description: '"single" or "multi".'
          type: string
      required:
      - pool
      - chain
      - project
      - symbol
      additionalProperties: true
  parameters:
    Protocol:
      in: path
      name: protocol
      description: Protocol slug (e.g. "uniswap", "aave-v3").
      required: true
      schema:
        type: string
      style: simple
    Chain:
      in: path
      name: chain
      description: Chain slug (e.g. "ethereum", "arbitrum").
      required: true
      schema:
        type: string
      style: simple
    Coins:
      in: path
      name: coins
      description: |
        Comma-separated list of coin IDs in `chain:address` format
        (e.g. `ethereum:0x...`) or coingecko ID (`coingecko:bitcoin`).
      required: true
      schema:
        type: string
      style: simple
