openapi: 3.1.0
info:
  title: DefiLlama API
  version: '1.0'
  description: |
    Free public DefiLlama REST API.

    ## Hosts
    DefiLlama splits its surface across four hosts:
      - `https://api.llama.fi`         — protocols, TVL, fees, dex/options/perps overviews, blocks
      - `https://coins.llama.fi`       — token prices (current, historical, batch, chart, %, first)
      - `https://yields.llama.fi`      — yield pools and per-pool charts
      - `https://stablecoins.llama.fi` — stablecoin mcap, chain distribution, prices

    Each operation declares its own `servers` entry to pin the host.

    ## Auth
    All endpoints in this spec are unauthenticated. DefiLlama also exposes a
    Pro API at `https://pro-api.llama.fi/{key}/...` which is intentionally NOT
    covered here.

servers:
  - url: https://api.llama.fi

paths:
  # ------------------------------------------------------------------ TVL
  /protocols:
    get:
      operationId: getProtocols
      summary: List all protocols with current TVL.
      parameters:
        - in: query
          name: category
          required: false
          schema: { type: string }
          description: Optional category filter (e.g. "Lending", "Dexes").
      responses:
        '200':
          description: Array of protocol summaries.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ProtocolSummary' }

  /protocol/{protocol}:
    get:
      operationId: getProtocolDetail
      summary: Historical TVL of a protocol with token and chain breakdowns.
      parameters:
        - $ref: '#/components/parameters/Protocol'
      responses:
        '200':
          description: Protocol detail with historical TVL series.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /tvl/{protocol}:
    get:
      operationId: getProtocolCurrentTvl
      summary: Current TVL of a protocol (single number).
      parameters:
        - $ref: '#/components/parameters/Protocol'
      responses:
        '200':
          description: Current TVL in USD.
          content:
            application/json:
              schema: { type: number }

  /v2/chains:
    get:
      operationId: getChainsTvl
      summary: Current TVL of all chains.
      responses:
        '200':
          description: Per-chain TVL summaries.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ChainTvl' }

  /v2/historicalChainTvl:
    get:
      operationId: getHistoricalChainTvlAll
      summary: Historical TVL across all chains.
      responses:
        '200':
          description: Time series of total DeFi TVL.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TvlPoint' }

  /v2/historicalChainTvl/{chain}:
    get:
      operationId: getHistoricalChainTvl
      summary: Historical TVL of a single chain.
      parameters:
        - $ref: '#/components/parameters/Chain'
      responses:
        '200':
          description: Time series for the chain.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TvlPoint' }

  # ------------------------------------------------------------------ DEX volumes
  /overview/dexs:
    get:
      operationId: getDexOverview
      summary: All DEXs with volume summaries.
      parameters:
        - { in: query, name: excludeTotalDataChart,        schema: { type: boolean } }
        - { in: query, name: excludeTotalDataChartBreakdown, schema: { type: boolean } }
        - { in: query, name: dataType,                       schema: { type: string } }
      responses:
        '200':
          description: DEX overview.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /overview/dexs/{chain}:
    get:
      operationId: getDexOverviewByChain
      summary: All DEXs on a chain.
      parameters:
        - $ref: '#/components/parameters/Chain'
        - { in: query, name: excludeTotalDataChart, schema: { type: boolean } }
        - { in: query, name: excludeTotalDataChartBreakdown, schema: { type: boolean } }
      responses:
        '200':
          description: DEX overview for the chain.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /summary/dexs/{protocol}:
    get:
      operationId: getDexProtocolVolume
      summary: Volume summary for a single DEX protocol.
      parameters:
        - $ref: '#/components/parameters/Protocol'
        - { in: query, name: excludeTotalDataChart, schema: { type: boolean } }
        - { in: query, name: excludeTotalDataChartBreakdown, schema: { type: boolean } }
        - { in: query, name: dataType, schema: { type: string } }
      responses:
        '200':
          description: Volume detail for the DEX.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  # ------------------------------------------------------------------ Fees / revenue
  /overview/fees:
    get:
      operationId: getFeesOverview
      summary: All protocols with fee/revenue summaries.
      parameters:
        - { in: query, name: dataType, schema: { type: string, description: 'e.g. "dailyFees" or "dailyRevenue"' } }
      responses:
        '200':
          description: Fees overview.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /summary/fees/{protocol}:
    get:
      operationId: getProtocolFees
      summary: Fee/revenue summary for a single protocol.
      parameters:
        - $ref: '#/components/parameters/Protocol'
        - { in: query, name: dataType, schema: { type: string } }
      responses:
        '200':
          description: Per-protocol fees detail.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  # ============================== coins.llama.fi ==============================
  /prices/current/{coins}:
    servers: [{ url: https://coins.llama.fi }]
    get:
      operationId: getCurrentPrices
      summary: Current prices of tokens by `chain:address` (or coingecko id).
      parameters:
        - $ref: '#/components/parameters/Coins'
        - { in: query, name: searchWidth, schema: { type: string } }
      responses:
        '200':
          description: Map of coin id → price record.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CoinPriceMap' }

  /prices/historical/{timestamp}/{coins}:
    servers: [{ url: https://coins.llama.fi }]
    get:
      operationId: getHistoricalPrices
      summary: Prices at a single past timestamp.
      parameters:
        - { in: path, name: timestamp, required: true, schema: { type: integer, format: int64 } }
        - $ref: '#/components/parameters/Coins'
        - { in: query, name: searchWidth, schema: { type: string } }
      responses:
        '200':
          description: Map of coin id → price record at that timestamp.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CoinPriceMap' }

  /percentage/{coins}:
    servers: [{ url: https://coins.llama.fi }]
    get:
      operationId: getPriceChangePercentage
      summary: Percentage change in price over a window.
      parameters:
        - $ref: '#/components/parameters/Coins'
        - { in: query, name: timestamp, schema: { type: integer, format: int64 } }
        - { in: query, name: lookForward, schema: { type: boolean } }
        - { in: query, name: period, schema: { type: string } }
      responses:
        '200':
          description: Map of coin id → percent change.
          content:
            application/json:
              schema: { type: object, additionalProperties: { type: number } }

  # ============================== yields.llama.fi ==============================
  /pools:
    servers: [{ url: https://yields.llama.fi }]
    get:
      operationId: getYieldPools
      summary: All yield pools enriched with predictions and stats.
      parameters:
        - { in: query, name: chain, schema: { type: string } }
        - { in: query, name: project, schema: { type: string } }
      responses:
        '200':
          description: Yield pool list.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /chart/{pool}:
    servers: [{ url: https://yields.llama.fi }]
    get:
      operationId: getYieldPoolHistory
      summary: Historical APY and TVL of a single pool.
      parameters:
        - { in: path, name: pool, required: true, schema: { type: string } }
      responses:
        '200':
          description: Time series for the pool.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  # ============================== stablecoins.llama.fi ==============================
  /stablecoins:
    servers: [{ url: https://stablecoins.llama.fi }]
    get:
      operationId: getStablecoins
      summary: All stablecoins with circulating amounts.
      parameters:
        - { in: query, name: includePrices, schema: { type: boolean } }
      responses:
        '200':
          description: Stablecoin list.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /stablecoinchains:
    servers: [{ url: https://stablecoins.llama.fi }]
    get:
      operationId: getStablecoinChains
      summary: Current mcap sum of all stablecoins per chain.
      responses:
        '200':
          description: Per-chain stablecoin totals.
          content:
            application/json:
              schema:
                type: array
                items: { type: object, additionalProperties: true }

  /stablecoin/{asset}:
    servers: [{ url: https://stablecoins.llama.fi }]
    get:
      operationId: getStablecoinHistory
      summary: Historical mcap and chain distribution of a single stablecoin.
      parameters:
        - { in: path, name: asset, required: true, schema: { type: string }, description: 'Stablecoin id (e.g. "1" for USDT).' }
      responses:
        '200':
          description: Stablecoin history detail.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

components:
  parameters:
    Protocol:
      in: path
      name: protocol
      required: true
      schema: { type: string }
      description: Protocol slug (e.g. "uniswap", "aave-v3").
    Chain:
      in: path
      name: chain
      required: true
      schema: { type: string }
      description: Chain slug (e.g. "ethereum", "arbitrum").
    Coins:
      in: path
      name: coins
      required: true
      schema: { type: string }
      description: |
        Comma-separated list of coin IDs in `chain:address` format
        (e.g. `ethereum:0x...`) or coingecko ID (`coingecko:bitcoin`).
  schemas:
    ProtocolSummary:
      type: object
      additionalProperties: true
      required: [name]
      properties:
        id:       { type: string }
        name:     { type: string }
        symbol:   { type: string, nullable: true }
        category: { type: string, nullable: true }
        chains:   { type: array, items: { type: string } }
        # nullable: CEX-style protocols (Binance CEX) return `tvl: null`.
        # Discovered via test-schema; spec drift fixed 2026-05-10.
        tvl:      { type: number, nullable: true }
        chainTvls:
          type: object
          additionalProperties: { type: number }
    ChainTvl:
      type: object
      additionalProperties: true
      required: [name, tvl]
      properties:
        name:    { type: string }
        # Server returns chainId as a STRING ("11235"), not an integer.
        # Discovered via test-schema; spec drift fixed 2026-05-10.
        chainId:
          nullable: true
          oneOf:
            - { type: integer }
            - { type: string }
        tokenSymbol: { type: string, nullable: true }
        tvl:     { type: number }
    TvlPoint:
      type: object
      required: [date, tvl]
      properties:
        date: { type: integer, format: int64, description: 'Unix epoch seconds.' }
        tvl:  { type: number }
    CoinPriceMap:
      type: object
      properties:
        coins:
          type: object
          additionalProperties: { $ref: '#/components/schemas/CoinPrice' }
    CoinPrice:
      type: object
      additionalProperties: true
      properties:
        decimals:   { type: integer }
        price:      { type: number }
        symbol:     { type: string }
        timestamp:  { type: integer, format: int64 }
        confidence: { type: number, nullable: true }
