openapi: 3.0.1
info:
  title: DuneAPI
  description: Dune API
  contact: {}
  version: '1.0'
servers:
- url: https://api.dune.com/api
paths:
  /v1/dashboards:
    post:
      summary: Create a dashboard
      description: Creates a new dashboard with optional visualization and text widgets.
      operationId: postv1_dashboards
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        description: CreateDashboardRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.CreateDashboardCrudRequest'
        required: true
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DashboardCrudResponse'
      x-required-scope: Read/Write
  /v1/dashboards/by-slug/{owner_handle}/{slug}:
    get:
      summary: Get a dashboard by owner handle and slug
      description: Retrieves the full state of a dashboard using the owner handle and URL slug.
      operationId: getv1_dashboards_by_slug_ownerhandle_slug
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: owner_handle
        description: Owner username or team handle
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: slug
        description: Dashboard URL slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DashboardCrudResponse'
      x-required-scope: Read
  /v1/dashboards/{dashboard_id}:
    get:
      summary: Get a dashboard by ID
      description: Retrieves the full state of a dashboard including widgets.
      operationId: getv1_dashboards_dashboardid
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: dashboard_id
        description: Dashboard ID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DashboardCrudResponse'
      x-required-scope: Read
    patch:
      summary: Update a dashboard
      description: Updates dashboard metadata and/or replaces widgets.
      operationId: patchv1_dashboards_dashboardid
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: dashboard_id
        description: Dashboard ID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        description: UpdateDashboardRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.UpdateDashboardCrudRequest'
        required: true
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DashboardCrudResponse'
      x-required-scope: Read/Write
  /v1/dashboards/{dashboard_id}/archive:
    post:
      summary: Archive a dashboard
      description: Archives a dashboard by ID. The dashboard can be restored later.
      operationId: postv1_dashboards_dashboardid_archive
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: dashboard_id
        description: Dashboard ID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ArchiveDashboardCrudResponse'
      x-required-scope: Read/Write
  /v1/datasets:
    get:
      summary: List datasets
      description: Retrieve a paginated list of datasets with optional filtering by owner and type
      operationId: getv1_datasets
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: query
        name: limit
        description: Number of results to return (default 50, max 250)
        schema:
          type: integer
        style: form
      - in: query
        name: offset
        description: Offset for pagination
        schema:
          type: integer
        style: form
      - in: query
        name: owner_handle
        description: Filter by owner handle
        schema:
          type: string
        style: form
      - in: query
        name: type
        description: 'Filter by dataset types (comma-separated: transformation_view, transformation_table, uploaded_table, decoded_table, spell, dune_table)'
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ListDatasetsResponse'
      x-required-scope: Read
  /v1/datasets/search:
    post:
      summary: Search datasets
      description: Search for datasets across the Dune catalog, with filtering by categories, blockchains, schemas, and more
      operationId: postv1_datasets_search
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      requestBody:
        description: Search datasets request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SearchDatasetsRequest'
        required: true
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SearchDatasetsResponse'
      x-required-scope: Read
  /v1/datasets/search-by-contract:
    post:
      summary: Search datasets by contract address
      description: Find decoded datasets associated with a smart contract address
      operationId: postv1_datasets_search_by_contract
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      requestBody:
        description: Search by contract address request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SearchDatasetsByContractAddressRequest'
        required: true
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SearchDatasetsResponse'
      x-required-scope: Read
  /v1/datasets/{slug}:
    get:
      summary: Get a dataset by slug
      description: Retrieve dataset information including columns, metadata, and ownership details
      operationId: getv1_datasets_slug
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: path
        name: slug
        description: Dataset slug (e.g., 'dex.trades')
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DatasetResponse'
      x-required-scope: Read
  /v1/endpoints/{handle}/{endpoint_slug}/results:
    get:
      summary: Custom Endpoints
      description: Create custom API endpoints from Dune queries
      operationId: getv1_endpoints_handle_endpointslug_results
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: path
        name: handle
        description: Your user or team handle
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: endpoint_slug
        description: The name of the endpoint as slug
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: allow_partial_results
        description: |-
          This enables returning a query result that was too large and only a partial result is
          available. By default, allow_partial_results is set to false and a failed state is returned.
        schema:
          type: boolean
        style: form
      - in: query
        name: columns
        description: |-
          Specifies a comma-separated list of column names to return. If omitted, all columns are included.
          Tip: use this to limit the result to specific columns, reducing datapoints cost of the call.
        schema:
          type: string
        style: form
      - in: query
        name: filters
        description: |-
          Expression to filter out rows from the results to return. This expression is similar to
          a SQL WHERE clause. More details about it in the Filtering section of the doc.
          This parameter is incompatible with sample_count.
        schema:
          type: string
        style: form
      - in: query
        name: ignore_max_credits_per_request
        description: To bypass the default max credits per request limit, set ignore_max_credits_per_request=true
        schema:
          type: boolean
        style: form
      - in: query
        name: limit
        description: |-
          Limit number of rows to return. This together with 'offset' allows easy pagination through
          results in an incremental and efficient way. This parameter is incompatible
          with sampling (sample_count).
        schema:
          type: integer
        style: form
      - in: query
        name: offset
        description: |-
          Offset row number to start (inclusive, first row means offset=0) returning results
          from. This together with 'limit' allows easy pagination through results in an
          incremental and efficient way. This parameter is incompatible with sampling (sample_count).
        schema:
          type: integer
        style: form
      - in: query
        name: queryID
        required: true
        schema:
          type: integer
        style: form
      - in: query
        name: sample_count
        description: |-
          Number of rows to return from the result by sampling the data. This is useful when you
          want to get a uniform sample instead of the entire result. If the result has less
          than the sample count, the entire result is returned. Note that this will return a
          randomized sample, so not every call will return the same result. This parameter is
          incompatible with `offset`, `limit`, and `filters` parameters.
        schema:
          type: integer
        style: form
      - in: query
        name: sort_by
        description: |-
          Expression to define the order in which the results should be returned. This expression
          is similar to a SQL ORDER BY clause. More details about it in the Sorting section of the doc.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ReadExecutionResultResponse'
      x-required-scope: Read
  /v1/execution/{execution_id}/cancel:
    post:
      summary: Cancel a triggered execution request given the execution ID
      description: Cancel a triggered execution request given the execution ID
      operationId: postv1_execution_executionid_cancel
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: path
        name: execution_id
        description: The unique identifier of the execution
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.CancelQueryExecutionResponse'
      x-required-scope: Read
  /v1/execution/{execution_id}/results:
    get:
      summary: Given an execution ID, returns result of a an execution request
      description: Given an execution ID, returns result of a an execution request
      operationId: getv1_execution_executionid_results
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: execution_id
        description: Execution ID
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: allow_partial_results
        description: |-
          This enables returning a query result that was too large and only a partial result is
          available. By default, allow_partial_results is set to false and a failed state is returned.
        schema:
          type: boolean
        style: form
      - in: query
        name: columns
        description: |-
          Specifies a comma-separated list of column names to return. If omitted, all columns are included.
          Tip: use this to limit the result to specific columns, reducing datapoints cost of the call.
        schema:
          type: string
        style: form
      - in: query
        name: filters
        description: |-
          Expression to filter out rows from the results to return. This expression is similar to
          a SQL WHERE clause. More details about it in the Filtering section of the doc.
          This parameter is incompatible with sample_count.
        schema:
          type: string
        style: form
      - in: query
        name: ignore_max_credits_per_request
        description: To bypass the default max credits per request limit, set ignore_max_credits_per_request=true
        schema:
          type: boolean
        style: form
      - in: query
        name: limit
        description: |-
          Limit number of rows to return. This together with 'offset' allows easy pagination through
          results in an incremental and efficient way. This parameter is incompatible
          with sampling (sample_count).
        schema:
          type: integer
        style: form
      - in: query
        name: offset
        description: |-
          Offset row number to start (inclusive, first row means offset=0) returning results
          from. This together with 'limit' allows easy pagination through results in an
          incremental and efficient way. This parameter is incompatible with sampling (sample_count).
        schema:
          type: integer
        style: form
      - in: query
        name: sample_count
        description: |-
          Number of rows to return from the result by sampling the data. This is useful when you
          want to get a uniform sample instead of the entire result. If the result has less
          than the sample count, the entire result is returned. Note that this will return a
          randomized sample, so not every call will return the same result. This parameter is
          incompatible with `offset`, `limit`, and `filters` parameters.
        schema:
          type: integer
        style: form
      - in: query
        name: sort_by
        description: |-
          Expression to define the order in which the results should be returned. This expression
          is similar to a SQL ORDER BY clause. More details about it in the Sorting section of the doc.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ReadExecutionResultResponse'
      x-payment-info:
        amount: null
        description: $1.00 per MB of result data.
        intent: session
        method: tempo
      x-required-scope: Read
  /v1/execution/{execution_id}/results/csv:
    get:
      summary: Get results of a query execution in CSV format
      description: Given a query ID, returns the latest executed result of a query on Dune in CSV format
      operationId: getv1_execution_executionid_results_csv
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: execution_id
        description: Execution ID
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: allow_partial_results
        description: |-
          This enables returning a query result that was too large and only a partial result is
          available. By default, allow_partial_results is set to false and a failed state is returned.
        schema:
          type: boolean
        style: form
      - in: query
        name: columns
        description: |-
          Specifies a comma-separated list of column names to return. If omitted, all columns are included.
          Tip: use this to limit the result to specific columns, reducing datapoints cost of the call.
        schema:
          type: string
        style: form
      - in: query
        name: filters
        description: |-
          Expression to filter out rows from the results to return. This expression is similar to
          a SQL WHERE clause. More details about it in the Filtering section of the doc.
          This parameter is incompatible with sample_count.
        schema:
          type: string
        style: form
      - in: query
        name: ignore_max_credits_per_request
        description: To bypass the default max credits per request limit, set ignore_max_credits_per_request=true
        schema:
          type: boolean
        style: form
      - in: query
        name: limit
        description: |-
          Limit number of rows to return. This together with 'offset' allows easy pagination through
          results in an incremental and efficient way. This parameter is incompatible
          with sampling (sample_count).
        schema:
          type: integer
        style: form
      - in: query
        name: offset
        description: |-
          Offset row number to start (inclusive, first row means offset=0) returning results
          from. This together with 'limit' allows easy pagination through results in an
          incremental and efficient way. This parameter is incompatible with sampling (sample_count).
        schema:
          type: integer
        style: form
      - in: query
        name: sample_count
        description: |-
          Number of rows to return from the result by sampling the data. This is useful when you
          want to get a uniform sample instead of the entire result. If the result has less
          than the sample count, the entire result is returned. Note that this will return a
          randomized sample, so not every call will return the same result. This parameter is
          incompatible with `offset`, `limit`, and `filters` parameters.
        schema:
          type: integer
        style: form
      - in: query
        name: sort_by
        description: |-
          Expression to define the order in which the results should be returned. This expression
          is similar to a SQL ORDER BY clause. More details about it in the Sorting section of the doc.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
      x-payment-info:
        amount: null
        description: $1.00 per MB of result data.
        intent: session
        method: tempo
      x-required-scope: Read
  /v1/execution/{execution_id}/status:
    get:
      summary: Check the status of an execution request
      description: Check the status of an execution request
      operationId: getv1_execution_executionid_status
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: execution_id
        description: Execution ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.GetExecutionStatusResponse'
      x-payment-info:
        amount: null
        description: Free status polling.
        intent: session
        method: tempo
      x-required-scope: Read
  /v1/materialized-views:
    get:
      summary: This lists all materialized view owned by the account tied to the API key
      description: This lists all materialized view owned by the account tied to the API key
      operationId: getv1_materialized_views
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: query
        name: limit
        description: Number of materialized views to return on a page. Default and max 10000
        schema:
          type: string
        style: form
      - in: query
        name: offset
        description: Offset used for pagination. Use the value provided on a previous response under next_offset
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/matviews.MatviewsListResponse'
      x-required-scope: Read
    post:
      summary: This upserts (create or replace) a materialized view from an existing query
      description: This upserts a materialized view from an existing query. If the materialized view with the given name
      operationId: postv1_materialized_views
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      requestBody:
        description: MatviewsUpsertRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/matviews.MatviewsUpsertRequest'
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/matviews.MatviewsUpsertResponse'
      x-required-scope: Read/Write
  /v1/materialized-views/{name}:
    get:
      summary: This fetches a materialized view given a name
      description: This fetches a materialized view given a name
      operationId: getv1_materialized_views_name
      parameters:
      - in: path
        name: name
        description: Matview Name
        required: true
        schema:
          type: string
        style: simple
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/matviews.MatviewsGetResponse'
      x-required-scope: Read
    delete:
      summary: This deletes a materialized view given a full name
      description: This deletes a materialized view given a full name
      operationId: deletev1_materialized_views_name
      parameters:
      - in: path
        name: name
        description: Matview Name
        required: true
        schema:
          type: string
        style: simple
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/matviews.MatviewsDeleteResponse'
      x-required-scope: Read/Write
  /v1/materialized-views/{name}/refresh:
    post:
      summary: This refreshes a materialized view
      description: This refreshes a materialized view
      operationId: postv1_materialized_views_name_refresh
      parameters:
      - in: path
        name: name
        description: Matview Name
        required: true
        schema:
          type: string
        style: simple
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      requestBody:
        description: MatviewsRefreshRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/matviews.MatviewsRefreshRequest'
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/matviews.MatviewsRefreshResponse'
      x-required-scope: Read
  /v1/pipelines/execute:
    post:
      summary: Execute a pipeline
      description: Executes a specified pipeline. A pipeline allows you to chain multiple queries and materialized view refreshes together and execute them as a single unit.
      operationId: postv1_pipelines_execute
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      requestBody:
        description: Pipeline execution request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.ExecutePipelineRequest'
        required: true
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ExecutePipelineResponse'
      x-required-scope: Read
  /v1/pipelines/executions/{pipeline_execution_id}/status:
    get:
      summary: Get pipeline execution status
      description: Retrieves the status of a pipeline execution, including the status of each node in the pipeline.
      operationId: getv1_pipelines_executions_pipelineexecutionid_status
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: pipeline_execution_id
        description: Unique identifier of the pipeline execution
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.GetPipelineExecutionStatusResponse'
      x-required-scope: Read
  /v1/queries:
    get:
      summary: List queries
      description: Retrieve a paginated list of queries owned by the account tied to the API key
      operationId: getv1_queries
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: query
        name: limit
        description: 'Number of queries to return on a page. Default: 20'
        schema:
          type: integer
        style: form
      - in: query
        name: offset
        description: 'Offset used for pagination. Default: 0'
        schema:
          type: integer
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ListQueriesResponse'
      x-required-scope: Read
  /v1/queries/{query_id}/visualizations:
    get:
      summary: List visualizations for a query
      description: Lists all visualizations attached to the specified query with pagination.
      operationId: getv1_queries_queryid_visualizations
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: query_id
        description: Query ID
        required: true
        schema:
          type: integer
        style: simple
      - in: query
        name: limit
        description: Max results to return (default 25, max 100)
        schema:
          type: integer
        style: form
      - in: query
        name: offset
        description: Pagination offset (default 0)
        schema:
          type: integer
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ListVisualizationsResponse'
      x-required-scope: Read
    post:
      summary: Create a visualization on an existing query
      description: Creates a new visualization attached to the specified query.
      operationId: postv1_queries_queryid_visualizations
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: query_id
        description: Query ID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        description: CreateVisualizationRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.CreateVisualizationRequest'
        required: true
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.CreateVisualizationResponse'
      x-required-scope: Read/Write
  /v1/query:
    post:
      summary: Create and save a query on Dune
      description: |-
        This API allows for anyone to create a query.
        The owner of the query will be under the context of the API key.
      operationId: postv1_query
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      requestBody:
        description: CreateQueryRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.CreateQueryRequest'
        required: true
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.CreateQueryResponse'
      x-required-scope: Read/Write
  /v1/query/{queryId}:
    get:
      summary: Returns the details of a query on Dune
      description: |-
        This API allows for anyone to read the sql text,
        parameters, name, tags, and state of a query.
        For private queries, only the API key generated
        under the context of the owner of that query will work.
      operationId: getv1_query_queryid
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: path
        name: queryId
        description: Query ID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.GetQueryResponse'
      x-required-scope: Read
    patch:
      summary: Update the details of a query on Dune
      description: |-
        This API allows for anyone to update the sql text,
        parameters, name, tags, and state of a query. Only the API key
        generated under the context of the owner of that query will work.
      operationId: patchv1_query_queryid
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: path
        name: queryId
        description: Query ID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.UpdateQueryResponse'
      x-required-scope: Read/Write
  /v1/query/{queryId}/archive:
    post:
      summary: Archive Query on Dune
      description: |-
        This API allows for anyone to archive a query. Only the API key
        generated under the context of the owner of that query will work.
        This does not delete the query, but will make
        it uneditable/unexecutable
      operationId: postv1_query_queryid_archive
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: path
        name: queryId
        description: Query ID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.UpdateQueryResponse'
      x-required-scope: Read/Write
  /v1/query/{queryId}/private:
    post:
      summary: Private Query on Dune
      description: |-
        This API allows for anyone to private a query. Only the API key
        generated under the context of the owner of that query will work.
      operationId: postv1_query_queryid_private
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: path
        name: queryId
        description: Query ID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.UpdateQueryResponse'
      x-required-scope: Read/Write
  /v1/query/{queryId}/unarchive:
    post:
      summary: Unarchive Query on Dune
      description: |-
        This API allows for anyone to unarchive a query. Only the API key
        generated under the context of the owner of that query will work.
      operationId: postv1_query_queryid_unarchive
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: path
        name: queryId
        description: Query ID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.UpdateQueryResponse'
      x-required-scope: Read/Write
  /v1/query/{queryId}/unprivate:
    post:
      summary: Unprivate a query on Dune
      description: |-
        This API allows for anyone to unprivate a query. Only the API key
        generated under the context of the owner of that query will work.
      operationId: postv1_query_queryid_unprivate
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: path
        name: queryId
        description: Query ID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.UpdateQueryResponse'
      x-required-scope: Read/Write
  /v1/query/{query_id}/execute:
    post:
      summary: Execute, or run a query for the specified query ID
      description: Execute, or run a query for the specified query ID
      operationId: postv1_query_queryid_execute
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: query_id
        description: Unique identifier of the query
        required: true
        schema:
          type: integer
        style: simple
      - in: query
        name: performance
        description: The performance engine tier the execution will be run on. Can be `small`, `medium`, or `large`. Omit to use the default tier for the query engine. Credits are consumed based on actual compute resources used.
        schema:
          type: string
          enum:
          - small
          - medium
          - large
        style: form
      - in: query
        name: query_parameters
        description: SQL Query parameters in json key-value pairs. Each parameter is to be provided in key-value pairs. This enables you to execute a parameterized query with the provided values for your parameter keys. Partial submission of parameters is allowed. For example, if the query expects three parameters and you only pass in two, the third one will automatically use its default value as defined in the Query Parameter Editor page.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ExecuteQueryResponse'
      x-required-scope: Read
  /v1/query/{query_id}/pipeline:
    get:
      summary: Get query pipeline
      description: Builds a query pipeline from the specified query and returns the pipeline definition containing all the nested materialized views that the query depends on. A pipeline allows you to chain multiple queries together and execute them as a single unit.
      operationId: getv1_query_queryid_pipeline
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: query_id
        description: Unique identifier of the query
        required: true
        schema:
          type: integer
        style: simple
      - in: query
        name: performance
        description: The performance engine tier. Can be `small`, `medium`, or `large`.
        schema:
          type: string
        style: form
      - in: query
        name: query_parameters
        description: SQL Query parameters in json key-value pairs
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.GetQueryPipelineResponse'
      x-required-scope: Read
  /v1/query/{query_id}/pipeline/execute:
    post:
      summary: Execute a query pipeline
      description: Builds a query pipeline from the specified query and executes it. A pipeline allows you to chain multiple queries together and execute them as a single unit.
      operationId: postv1_query_queryid_pipeline_execute
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: query_id
        description: Unique identifier of the query
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        description: Query pipeline execution request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.ExecuteQueryPipelineRequest'
        required: true
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ExecuteQueryPipelineResponse'
      x-required-scope: Read
  /v1/query/{query_id}/results:
    get:
      summary: Get Latest Query Result
      description: Given a query ID, returns the latest executed result of a query on Dune in JSON format
      operationId: getv1_query_queryid_results
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: query_id
        description: Query ID
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: allow_partial_results
        description: |-
          This enables returning a query result that was too large and only a partial result is
          available. By default, allow_partial_results is set to false and a failed state is returned.
        schema:
          type: boolean
        style: form
      - in: query
        name: columns
        description: |-
          Specifies a comma-separated list of column names to return. If omitted, all columns are included.
          Tip: use this to limit the result to specific columns, reducing datapoints cost of the call.
        schema:
          type: string
        style: form
      - in: query
        name: filters
        description: |-
          Expression to filter out rows from the results to return. This expression is similar to
          a SQL WHERE clause. More details about it in the Filtering section of the doc.
          This parameter is incompatible with sample_count.
        schema:
          type: string
        style: form
      - in: query
        name: ignore_max_credits_per_request
        description: To bypass the default max credits per request limit, set ignore_max_credits_per_request=true
        schema:
          type: boolean
        style: form
      - in: query
        name: limit
        description: |-
          Limit number of rows to return. This together with 'offset' allows easy pagination through
          results in an incremental and efficient way. This parameter is incompatible
          with sampling (sample_count).
        schema:
          type: integer
        style: form
      - in: query
        name: offset
        description: |-
          Offset row number to start (inclusive, first row means offset=0) returning results
          from. This together with 'limit' allows easy pagination through results in an
          incremental and efficient way. This parameter is incompatible with sampling (sample_count).
        schema:
          type: integer
        style: form
      - in: query
        name: sample_count
        description: |-
          Number of rows to return from the result by sampling the data. This is useful when you
          want to get a uniform sample instead of the entire result. If the result has less
          than the sample count, the entire result is returned. Note that this will return a
          randomized sample, so not every call will return the same result. This parameter is
          incompatible with `offset`, `limit`, and `filters` parameters.
        schema:
          type: integer
        style: form
      - in: query
        name: sort_by
        description: |-
          Expression to define the order in which the results should be returned. This expression
          is similar to a SQL ORDER BY clause. More details about it in the Sorting section of the doc.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ReadExecutionResultResponse'
      x-required-scope: Read
  /v1/query/{query_id}/results/csv:
    get:
      summary: Given a query ID, returns the latest executed result of a query on Dune as CSV
      description: Given a query ID, returns the latest executed result of a query on Dune as CSV
      operationId: getv1_query_queryid_results_csv
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: query_id
        description: Query ID
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: allow_partial_results
        description: |-
          This enables returning a query result that was too large and only a partial result is
          available. By default, allow_partial_results is set to false and a failed state is returned.
        schema:
          type: boolean
        style: form
      - in: query
        name: columns
        description: |-
          Specifies a comma-separated list of column names to return. If omitted, all columns are included.
          Tip: use this to limit the result to specific columns, reducing datapoints cost of the call.
        schema:
          type: string
        style: form
      - in: query
        name: filters
        description: |-
          Expression to filter out rows from the results to return. This expression is similar to
          a SQL WHERE clause. More details about it in the Filtering section of the doc.
          This parameter is incompatible with sample_count.
        schema:
          type: string
        style: form
      - in: query
        name: ignore_max_credits_per_request
        description: To bypass the default max credits per request limit, set ignore_max_credits_per_request=true
        schema:
          type: boolean
        style: form
      - in: query
        name: limit
        description: |-
          Limit number of rows to return. This together with 'offset' allows easy pagination through
          results in an incremental and efficient way. This parameter is incompatible
          with sampling (sample_count).
        schema:
          type: integer
        style: form
      - in: query
        name: offset
        description: |-
          Offset row number to start (inclusive, first row means offset=0) returning results
          from. This together with 'limit' allows easy pagination through results in an
          incremental and efficient way. This parameter is incompatible with sampling (sample_count).
        schema:
          type: integer
        style: form
      - in: query
        name: sample_count
        description: |-
          Number of rows to return from the result by sampling the data. This is useful when you
          want to get a uniform sample instead of the entire result. If the result has less
          than the sample count, the entire result is returned. Note that this will return a
          randomized sample, so not every call will return the same result. This parameter is
          incompatible with `offset`, `limit`, and `filters` parameters.
        schema:
          type: integer
        style: form
      - in: query
        name: sort_by
        description: |-
          Expression to define the order in which the results should be returned. This expression
          is similar to a SQL ORDER BY clause. More details about it in the Sorting section of the doc.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
      x-required-scope: Read
  /v1/sql/execute:
    post:
      summary: Execute raw SQL query
      description: Execute raw SQL query without requiring a stored query ID
      operationId: postv1_sql_execute
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      requestBody:
        description: ExecuteSQLRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.ExecuteSQLRequest'
        required: true
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ExecuteQueryResponse'
      x-payment-info:
        amount: null
        description: Reserves $5.00; actual cost based on execution compute.
        intent: session
        method: tempo
      x-required-scope: Read
  /v1/uploads:
    get:
      summary: List all tables owned by the account
      description: Returns a paginated list of all tables owned by the authenticated account.
      operationId: getv1_uploads
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      - in: query
        name: limit
        description: 'Number of tables to return on a page. Default: 50, max: 10000'
        schema:
          type: integer
          format: int32
        style: form
      - in: query
        name: offset
        description: Offset used for pagination. Negative values are treated as 0
        schema:
          type: integer
          format: int32
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.TableListResponse'
      x-required-scope: Read
    post:
      summary: Create an empty uploaded table with a defined schema
      description: |-
        Creates an empty uploaded table that can be inserted into with the /insert endpoint.
        Each successful table creation consumes 10 credits.
      operationId: postv1_uploads
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      requestBody:
        description: payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.TableCreateRequest'
        x-originalParamName: payload
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.TableCreateResponse'
      x-required-scope: Read/Write
  /v1/uploads/csv:
    post:
      summary: Upload CSV file as a table
      description: |-
        Upload a CSV file to create a table with automatic schema inference.
        The size limit per upload is 500MB. Storage limits: 100MB (free), 1GB (analyst), 15GB (plus).
      operationId: postv1_uploads_csv
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      requestBody:
        description: payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.CSVUploadRequest'
        required: true
        x-originalParamName: payload
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.CSVUploadResponse'
      x-required-scope: Read/Write
  /v1/uploads/{namespace}/{table_name}:
    delete:
      summary: Delete an uploaded table
      description: Permanently deletes the specified uploaded table and all its data.
      operationId: deletev1_uploads_namespace_tablename
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: namespace
        description: The namespace of the table to delete
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: table_name
        description: The table name of the table to delete
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.TableDeleteResponse'
      x-required-scope: Read/Write
  /v1/uploads/{namespace}/{table_name}/clear:
    post:
      summary: Clear all data from an uploaded table
      description: Removes all data from the specified uploaded table while preserving the table structure and schema.
      operationId: postv1_uploads_namespace_tablename_clear
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: namespace
        description: The namespace of the table to clear
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: table_name
        description: The table name of the table to clear
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.TableClearResponse'
      x-required-scope: Read/Write
  /v1/uploads/{namespace}/{table_name}/insert:
    post:
      summary: Insert data into an uploaded table
      description: |-
        Inserts data into an existing table. Accepts CSV (text/csv) or
        NDJSON (application/x-ndjson) content types.
      operationId: postv1_uploads_namespace_tablename_insert
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: Alternative to using the X-Dune-Api-Key header
        schema:
          type: string
        style: form
      - in: path
        name: namespace
        description: The namespace of the table
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: table_name
        description: The table name
        required: true
        schema:
          type: string
        style: simple
      - in: header
        name: Content-Type
        description: 'Content type: text/csv or application/x-ndjson'
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        description: The data to insert (CSV or NDJSON format)
        content:
          application/json:
            schema:
              type: string
        required: true
        x-originalParamName: data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.TableInsertResponse'
      x-required-scope: Read/Write
  /v1/usage:
    post:
      summary: Get Usage Data
      description: |-
        Get usage data for the authenticated customer including private queries, dashboards,
        bytes used/allowed, and billing periods
      operationId: postv1_usage
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: api_key
        description: API Key, alternative to using the HTTP header X-Dune-Api-Key
        schema:
          type: string
        style: form
      requestBody:
        description: Request payload with optional start_date and end_date
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.GetUsageRequest'
        x-originalParamName: payload
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.GetUsageResponse'
      x-required-scope: Read
  /v1/visualizations/{visualization_id}:
    get:
      summary: Get a visualization by ID
      description: Retrieves a visualization by its ID.
      operationId: getv1_visualizations_visualizationid
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: visualization_id
        description: Visualization ID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.GetVisualizationResponse'
      x-required-scope: Read
    put:
      summary: Update a visualization
      description: Updates an existing visualization by its ID.
      operationId: putv1_visualizations_visualizationid
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: visualization_id
        description: Visualization ID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        description: UpdateVisualizationRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.UpdateVisualizationRequest'
        required: true
        x-originalParamName: body
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.UpdateVisualizationResponse'
      x-required-scope: Read/Write
    delete:
      summary: Delete a visualization
      description: Deletes a visualization by its ID.
      operationId: deletev1_visualizations_visualizationid
      parameters:
      - in: header
        name: X-Dune-Api-Key
        description: API Key for the service
        required: true
        schema:
          type: string
        style: simple
      - in: path
        name: visualization_id
        description: Visualization ID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DeleteVisualizationResponse'
      x-required-scope: Read/Write
components:
  schemas:
    matviews.MatviewListElement:
      type: object
      properties:
        id:
          type: string
        is_private:
          type: boolean
        query_id:
          type: integer
        sql_id:
          type: string
        table_size_bytes:
          type: integer
    matviews.MatviewsDeleteResponse:
      type: object
      properties:
        message:
          type: string
    matviews.MatviewsGetResponse:
      type: object
      properties:
        id:
          type: string
        is_private:
          type: boolean
        last_execution_ids:
          type: array
          items:
            type: string
        owner_team_id:
          type: integer
        owner_user_id:
          type: integer
        query_id:
          type: integer
        sql_id:
          type: string
        table_size_bytes:
          type: integer
    matviews.MatviewsListResponse:
      type: object
      properties:
        materialized_views:
          type: array
          items:
            $ref: '#/components/schemas/matviews.MatviewListElement'
        next_offset:
          type: integer
    matviews.MatviewsRefreshRequest:
      type: object
      properties:
        performance:
          description: |-
            Performance tier for the refresh execution. Accepts `small`, `medium`, `large`.
            Omit to use the default tier for the source query's engine.
          type: string
    matviews.MatviewsRefreshResponse:
      type: object
      properties:
        execution_id:
          example: 01HZ065JVE23C23FM2HKWQP2RT
          description: Unique identifier for the execution triggered to refresh the materialized view
          type: string
        sql_id:
          example: dune.dune.result_erc_20_token_summary
          description: Unique identifier for the materialized view
          type: string
    matviews.MatviewsUpsertRequest:
      type: object
      properties:
        cron_expression:
          type: string
        expires_at:
          type: string
        is_private:
          type: boolean
        name:
          type: string
        performance:
          description: |-
            Performance tier for the refresh execution. Accepts `small`, `medium`, `large`.
            Omit to use the default tier for the source query's engine.
          type: string
        query_id:
          type: integer
    matviews.MatviewsUpsertResponse:
      type: object
      properties:
        execution_id:
          example: 01HZ065JVE23C23FM2HKWQP2RT
          description: Unique identifier for the execution triggered to refresh the materialized view
          type: string
        name:
          example: dune.dune.result_erc_20_token_summary
          description: Unique identifier for the materialized view
          type: string
    models.ArchiveDashboardCrudResponse:
      type: object
      properties:
        dashboard_id:
          type: integer
        ok:
          type: boolean
    models.BillingPeriod:
      type: object
      properties:
        credits_included:
          description: Float value
          type: number
        credits_used:
          description: Float value
          type: number
        end_date:
          description: YYYY-MM-DD format
          type: string
        start_date:
          description: YYYY-MM-DD format
          type: string
    models.CSVUploadRequest:
      type: object
      properties:
        data:
          description: The data to be uploaded in CSV format.
          type: string
        description:
          description: Description of the upload.
          type: string
        is_private:
          description: Indicates if the upload is private.
          type: boolean
        table_name:
          description: The name of the table to store the data.
          type: string
    models.CSVUploadResponse:
      type: object
      properties:
        full_name:
          example: dune.my_team.dataset_ten_year_us_interest_rates
          description: the full name of the table that was created
          type: string
        success:
          description: Indicator if the request was successful
          type: boolean
        table_name:
          example: ten_year_us_interest_rates
          description: The name of the table that was created
          type: string
    models.CancelQueryExecutionResponse:
      type: object
      properties:
        success:
          type: boolean
    models.CreateDashboardCrudRequest:
      type: object
      properties:
        columns_per_row:
          type: integer
        is_private:
          type: boolean
        name:
          type: string
        text_widgets:
          type: array
          items:
            $ref: '#/components/schemas/models.TextWidgetInput'
        visualization_ids:
          type: array
          items:
            type: integer
      required:
      - name
    models.CreateQueryRequest:
      type: object
      properties:
        description:
          description: The description of the created query.
          type: string
        is_private:
          example: true
          description: |-
            Indicates if the query is private, meaning that only the
            team or, in case of personal queries, the user that created it can see it.
          type: boolean
        is_temp:
          example: false
          description: |-
            Indicates if the query is temporary (unsaved).
            Temporary queries can be executed but won't appear in the library.
          type: boolean
        name:
          description: The name of the created query.
          type: string
        parameters:
          description: The parameters that the SQL query accepts.
          type: array
          items:
            $ref: '#/components/schemas/models.Parameter'
        query_sql:
          description: The SQL of the query.
          type: string
        tags:
          description: The tags of the query.
          type: array
          items:
            type: string
      required:
      - name
      - query_sql
    models.CreateQueryResponse:
      type: object
      properties:
        query_id:
          example: 1
          description: The Unique ID of the created query
          type: integer
    models.CreateVisualizationRequest:
      type: object
      properties:
        description:
          type: string
        name:
          type: string
        options:
          type: object
          additionalProperties: {}
        type:
          type: string
      required:
      - name
      - type
    models.CreateVisualizationResponse:
      type: object
      properties:
        id:
          type: integer
    models.DashboardCrudResponse:
      type: object
      properties:
        dashboard_id:
          type: integer
        dashboard_url:
          type: string
        is_private:
          type: boolean
        name:
          type: string
        param_widgets:
          type: array
          items:
            $ref: '#/components/schemas/models.ParamWidgetOutput'
        slug:
          type: string
        tags:
          type: array
          items:
            type: string
        text_widgets:
          type: array
          items:
            $ref: '#/components/schemas/models.TextWidgetOutput'
        visualization_widgets:
          type: array
          items:
            $ref: '#/components/schemas/models.VisualizationWidgetOutput'
    models.DatasetColumn:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/models.DatasetColumnMetadata'
        name:
          type: string
        nullable:
          type: boolean
        type:
          type: string
    models.DatasetColumnMetadata:
      type: object
      properties:
        description:
          type: string
        filtering_column:
          type: boolean
    models.DatasetOwner:
      type: object
      properties:
        handle:
          type: string
        type:
          type: string
    models.DatasetResponse:
      type: object
      properties:
        columns:
          type: array
          items:
            $ref: '#/components/schemas/models.DatasetColumn'
        created_at:
          type: string
        full_name:
          type: string
        is_private:
          type: boolean
        metadata: {}
        owner:
          $ref: '#/components/schemas/models.DatasetOwner'
        type:
          type: string
        updated_at:
          type: string
    models.DeleteVisualizationResponse:
      type: object
      properties:
        ok:
          type: boolean
    models.EnumFromResults:
      type: object
      properties:
        columnName:
          type: string
        queryId:
          type: integer
    models.Error400:
      type: object
      properties:
        error:
          example: Bad Request
          type: string
    models.Error401:
      type: object
      properties:
        error:
          example: Invalid API Key
          type: string
    models.Error402:
      type: object
      properties:
        error:
          example: This API request would exceed your configured limits per billing cycle.
          type: string
    models.Error403:
      type: object
      properties:
        error:
          example: Not allowed to execute query. Query is archived, unsaved or not enough permissions
          type: string
    models.Error404:
      type: object
      properties:
        error:
          example: Object not found
          type: string
    models.Error500:
      type: object
      properties:
        error:
          example: Internal error
          type: string
    models.ExecutePipelineRequest:
      type: object
      properties:
        pipeline:
          description: The pipeline definition containing nodes to execute
          allOf:
          - $ref: '#/components/schemas/models.Pipeline'
    models.ExecutePipelineResponse:
      type: object
      properties:
        pipeline_execution_id:
          example: 01HKZJ2683PHF9Q9PHHQ8FW4Q1
          description: |-
            Unique identifier for the pipeline execution. Use this ID to check the status
            and retrieve results of the pipeline execution.
          type: string
    models.ExecuteQueryPipelineRequest:
      type: object
      properties:
        performance:
          type: string
          enum:
          - small
          - medium
          - large
        query_parameters:
          description: SQL Query parameters in json key-value pairs. Each parameter is to be provided in key-value pairs. This enables you to execute a parameterized query with the provided values for your parameter keys.
          type: object
      required:
      - performance
    models.ExecuteQueryPipelineResponse:
      type: object
      properties:
        pipeline_execution_id:
          example: 01HKZJ2683PHF9Q9PHHQ8FW4Q1
          description: |-
            Unique identifier for the pipeline execution. Use this ID to check the status
            and retrieve results of the pipeline execution.
          type: string
    models.ExecuteQueryResponse:
      type: object
      properties:
        execution_id:
          example: 01HKZJ2683PHF9Q9PHHQ8FW4Q1
          type: string
        state:
          example: QUERY_STATE_PENDING
          type: string
    models.ExecuteSQLRequest:
      type: object
      properties:
        performance:
          description: The performance engine tier the execution will be run on
          type: string
          enum:
          - small
          - medium
          - large
        sql:
          description: The SQL query to execute
          type: string
      required:
      - sql
    models.ExecutionResultMetadata:
      type: object
      properties:
        column_names:
          example:
          - Rank
          - Project
          - Volume
          description: Names of the columns in the result set.
          type: array
          items:
            type: string
        column_types:
          example:
          - double
          - varchar
          - bigint
          description: Types of the columns in the result set.
          type: array
          items:
            type: string
        datapoint_count:
          example: 1000
          description: |-
            Results cell count is used for billing/pricing plans
            here we expose the these values to the user, so that they can track their costs
          type: integer
        execution_time_millis:
          example: 1000
          description: Time in milliseconds that the query took to execute.
          type: integer
        pending_time_millis:
          example: 1000
          description: Time in milliseconds that the query was pending before execution.
          type: integer
        result_set_bytes:
          example: 1000
          description: |-
            ResultSetBytes represents the raw data bytes returned by the SQL execution engine, it includes:
             + total nr of bytes used on 1 line with all the column names (the header of the result set)
             + total nr of bytes for all the row values (the result set of rows)

            it doesn't include overheads such as the presence of column names for every row in the JSON result type.
            it also doesn't include opmitizations such as compression
          type: integer
        row_count:
          example: 10
          description: Number of rows in the result set for the current page of results.
          type: integer
        total_result_set_bytes:
          example: 10000
          description: Total number of bytes in the result set. This doesn't include the json representation overhead.
          type: integer
        total_row_count:
          example: 1000
          description: Number of rows in the result set for the entire result set.
          type: integer
    models.GetExecutionStatusResponse:
      type: object
      properties:
        cancelled_at:
          example: 2024-12-20T11:04:18.724658237Z
          description: Timestamp of when the query execution was cancelled, if applicable.
          type: string
        error:
          description: In case the execution had an error, this object will contain the error details
          allOf:
          - $ref: '#/components/schemas/models.QueryResultError'
        execution_cost_credits:
          description: Cost of the execution
          type: number
        execution_ended_at:
          example: 2024-12-20T11:04:18.724658237Z
          description: Timestamp of when the query execution ended.
          type: string
        execution_id:
          example: 01HKZJ2683PHF9Q9PHHQ8FW4Q1
          description: Unique identifier for the execution of the query and corresponding result.
          type: string
        execution_started_at:
          example: 2024-12-20T11:04:18.724658237Z
          description: Timestamp of when the query execution started.
          type: string
        expires_at:
          example: 2024-12-20T11:04:18.724658237Z
          description: Timestamp of when the query result expires.
          type: string
        is_execution_finished:
          example: true
          description: Whether the state of the query execution is terminal. This can be used for polling purposes.
          type: boolean
        max_inflight_interactive_executions:
          example: 3
          description: Number of interactive executions this customer can have running in parallel
          type: integer
        max_inflight_interactive_reached:
          example: 5
          description: |-
            Total number of interactive executions this user has submitted which are still in progress
            only set to > 0 if the user has reached the limit of concurrent interactive executions
          type: integer
        query_id:
          example: 1234
          description: Unique identifier of the query.
          type: integer
        queue_position:
          example: 1
          type: integer
        result_metadata:
          description: Metadata about the execution of the query, including details like column names, row counts, and execution times.
          allOf:
          - $ref: '#/components/schemas/models.ExecutionResultMetadata'
        state:
          example: QUERY_STATE_COMPLETED
          description: The state of the query execution.
          type: string
        submitted_at:
          example: 2024-12-20T11:04:18.724658237Z
          description: Timestamp of when the query was submitted.
          type: string
    models.GetPipelineExecutionStatusResponse:
      type: object
      properties:
        error:
          description: Error message if the pipeline execution failed
          type: string
        node_executions:
          description: List of node executions in the pipeline.
          type: array
          items:
            $ref: '#/components/schemas/models.PipelineNodeExecution'
        status:
          description: Overall status of the pipeline execution
          type: string
    models.GetQueryPipelineResponse:
      type: object
      properties:
        pipeline:
          description: The pipeline definition containing nodes to execute
          allOf:
          - $ref: '#/components/schemas/models.Pipeline'
    models.GetQueryResponse:
      type: object
      properties:
        contributors:
          description: |-
            Contributors to the query (users who have created or saved it).
            Only included when include_contributors=true query parameter is set.
          type: array
          items:
            $ref: '#/components/schemas/models.QueryContributor'
        description:
          example: Calculate the average dex volume
          description: The description of the query
          type: string
        is_archived:
          example: false
          description: |-
            Indicates if the query is archived.
            Archived queries cannot be executed.
          type: boolean
        is_private:
          example: true
          description: Indicates if the query is private.
          type: boolean
        is_temp:
          example: false
          description: Indicates if the query is temporary (unsaved).
          type: boolean
        is_unsaved:
          example: false
          description: Indicates if the query is unsaved (legacy name).
          type: boolean
        name:
          example: My Query
          description: The name of the query
          type: string
        owner:
          example: dune
          description: username or team handle
          type: string
        parameters:
          description: The parameters that can modify the execution of the sql.
          type: array
          items:
            $ref: '#/components/schemas/models.Parameter'
        query_engine:
          example: medium
          description: The query engine used to execute the query.
          type: string
        query_id:
          example: 123
          description: The unique ID of the query
          type: integer
        query_sql:
          example: SELECT * FROM dex.trades
          description: The SQL query text.
          type: string
        tags:
          description: Tags associated with the query.
          type: array
          items:
            type: string
        version:
          example: 1
          description: Version of the query, gets incremented every time the query is updated.
          type: integer
    models.GetUsageRequest:
      type: object
      properties:
        end_date:
          description: Optional field in YYYY-MM-DD format
          type: string
        start_date:
          description: Optional field in YYYY-MM-DD format
          type: string
    models.GetUsageResponse:
      type: object
      properties:
        billing_periods:
          type: array
          items:
            $ref: '#/components/schemas/models.BillingPeriod'
        bytes_allowed:
          type: integer
        bytes_used:
          type: integer
        private_dashboards:
          type: integer
        private_queries:
          type: integer
    models.GetVisualizationResponse:
      type: object
      properties:
        created_at:
          type: string
        description:
          type: string
        id:
          type: integer
        name:
          type: string
        options:
          type: object
          additionalProperties: {}
        query_id:
          type: integer
        type:
          type: string
        updated_at:
          type: string
    models.ListDatasetsResponse:
      type: object
      properties:
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/models.DatasetResponse'
        total:
          type: integer
    models.ListQueriesResponse:
      type: object
      properties:
        queries:
          description: List of queries
          type: array
          items:
            $ref: '#/components/schemas/models.ResolvedQueryOverview'
        total:
          example: 100
          description: Total number of queries available
          type: integer
    models.ListVisualizationsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/models.VisualizationSummary'
        total_count:
          type: integer
    models.ParamWidgetInput:
      type: object
      properties:
        key:
          type: string
        position:
          $ref: '#/components/schemas/models.WidgetPosition'
        query_id:
          type: integer
        visualization_widget_id:
          type: integer
    models.ParamWidgetOutput:
      type: object
      properties:
        key:
          type: string
        position:
          $ref: '#/components/schemas/models.WidgetPosition'
        query_id:
          type: integer
        visualization_widget_id:
          type: integer
        widget_id:
          type: string
    models.Parameter:
      type: object
      properties:
        description:
          type: string
        enumFromResults:
          $ref: '#/components/schemas/models.EnumFromResults'
        enumOptions:
          type: array
          items:
            type: string
        isFreeformAllowed:
          type: boolean
        isMultiselect:
          type: boolean
        key:
          type: string
        type:
          type: string
        value:
          type: string
        values:
          type: array
          items:
            type: string
    models.Pipeline:
      type: object
      properties:
        nodes:
          description: List of nodes in the pipeline. Nodes are executed in dependency order.
          type: array
          items:
            $ref: '#/components/schemas/models.PipelineNode'
    models.PipelineMaterializedViewRefreshNode:
      type: object
      properties:
        name:
          example: mv_1
          description: Name of the materialized view to refresh
          type: string
        performance:
          example: medium
          description: The performance engine tier the refresh will be run on. Can be `small`, `medium`, or `large`.
          type: string
          enum:
          - small
          - medium
          - large
    models.PipelineMaterializedViewRefreshStatus:
      type: object
      properties:
        error:
          description: Error message if the refresh failed
          type: string
        execution_id:
          description: Unique identifier of the execution, if available
          type: string
        name:
          description: Name of the materialized view
          type: string
        status:
          description: Status of the materialized view refresh
          type: string
    models.PipelineNode:
      type: object
      properties:
        dependencies:
          description: List of node IDs that this node depends on. Nodes are executed in dependency order.
          type: array
          items:
            type: integer
        id:
          example: 1
          description: Unique identifier of the node in the pipeline
          type: integer
        materialized_view_refresh:
          description: Materialized view refresh node configuration. Required if this node refreshes a materialized view.
          allOf:
          - $ref: '#/components/schemas/models.PipelineMaterializedViewRefreshNode'
        query_execution:
          description: Query execution node configuration. Required if this node executes a query.
          allOf:
          - $ref: '#/components/schemas/models.PipelineQueryExecutionNode'
    models.PipelineNodeExecution:
      type: object
      properties:
        id:
          description: Unique identifier of the node in the pipeline
          type: integer
        materialized_view_refresh_status:
          description: Status of the materialized view refresh, if this node is a materialized view refresh node
          allOf:
          - $ref: '#/components/schemas/models.PipelineMaterializedViewRefreshStatus'
        query_execution_status:
          description: Status of the query execution, if this node is a query execution node
          allOf:
          - $ref: '#/components/schemas/models.PipelineQueryExecutionStatus'
    models.PipelineQueryExecutionNode:
      type: object
      properties:
        performance:
          example: medium
          description: The performance engine tier the execution will be run on. Can be `small`, `medium`, or `large`.
          type: string
          enum:
          - small
          - medium
          - large
        query_id:
          example: 1234
          description: Unique identifier of the query to execute
          type: integer
        query_parameters:
          description: SQL Query parameters in json key-value pairs. Each parameter is to be provided in key-value pairs. This enables you to execute a parameterized query with the provided values for your parameter keys.
          type: object
    models.PipelineQueryExecutionStatus:
      type: object
      properties:
        error:
          description: Error message, if the execution failed
          type: string
        execution_id:
          description: Unique identifier of the execution, if available
          type: string
        query_id:
          description: Unique identifier of the query
          type: integer
        status:
          description: Status of the query execution
          type: string
    models.QueryContributor:
      type: object
      properties:
        contribution_count:
          example: 5
          description: The number of contributions this user made to the query
          type: integer
        handle:
          example: wizardofdefi
          description: The handle (username) of the contributor
          type: string
    models.QueryResultData:
      type: object
      properties:
        metadata:
          description: |-
            Metadata about the execution of the query, including details like column names,
            row counts, and execution times.
          allOf:
          - $ref: '#/components/schemas/models.ExecutionResultMetadata'
        rows:
          description: |-
            A list of rows. A row is dictionary of key-value pairs returned by the query,
            each pair corresponding to a column
          type: array
          items:
            $ref: '#/components/schemas/models.Row'
        update_type:
          description: The type of update operation from Trino (e.g., "SET SESSION")
          type: string
    models.QueryResultError:
      type: object
      properties:
        message:
          example: 'Error: Line 1:1: mismatched input ''selecdt'''
          description: A descriptive message about the error.
          type: string
        metadata:
          description: Metadata about the syntax error that occurred, if applicable.
          allOf:
          - $ref: '#/components/schemas/models.SyntaxErrorMetadata'
        type:
          example: syntax_error
          description: The type of error that occurred.
          type: string
    models.ReadExecutionResultResponse:
      type: object
      properties:
        cancelled_at:
          example: 2024-12-20T11:04:18.724658237Z
          description: Timestamp of when the query execution was cancelled, if applicable.
          type: string
        error:
          description: In case the execution had an error, this object will contain the error details
          allOf:
          - $ref: '#/components/schemas/models.QueryResultError'
        execution_ended_at:
          example: 2024-12-20T11:04:18.724658237Z
          description: Timestamp of when the query execution ended.
          type: string
        execution_id:
          example: 01HKZJ2683PHF9Q9PHHQ8FW4Q1
          description: Unique identifier for the execution of the query.
          type: string
        execution_started_at:
          example: 2024-12-20T11:04:18.724658237Z
          description: Timestamp of when the query execution started.
          type: string
        expires_at:
          example: 2024-12-20T11:04:18.724658237Z
          description: Timestamp of when the query result expires.
          type: string
        is_execution_finished:
          example: true
          description: Whether the state of the query execution is terminal. This can be used for polling purposes.
          type: boolean
        next_offset:
          example: 100
          description: Offset that can be used to retrieve the next page of results.
          type: integer
        next_uri:
          example: https://api.dune.com/api/v1/execution/01HKZJ2683PHF9Q9PHHQ8FW4Q1/results?offset=100&limit=100
          description: URI that can be used to fetch the next page of results.
          type: string
        query_id:
          example: 1234
          description: Unique identifier of the query.
          type: integer
        result:
          description: The object containing the results and metadata of the query execution
          allOf:
          - $ref: '#/components/schemas/models.QueryResultData'
        state:
          example: QUERY_STATE_COMPLETED
          description: The state of the query execution.
          type: string
        submitted_at:
          example: 2024-12-20T11:04:18.724658237Z
          description: Timestamp of when the query was submitted.
          type: string
    models.ResolvedQueryOverview:
      type: object
      properties:
        created_at:
          type: string
        description:
          description: Description of the query
          type: string
        id:
          description: Unique identifier of the query
          type: integer
        name:
          example: My Query
          description: Name of the query
          type: string
        owner:
          description: Owner handle (username or team handle)
          type: string
        tags:
          description: Tags associated with the query
          type: array
          items:
            type: string
        updated_at:
          type: string
    models.Row:
      type: object
      additionalProperties: {}
    models.SearchDatasetMetadata:
      type: object
      properties:
        abi_type:
          type: string
        contract_name:
          type: string
        description:
          type: string
        page_rank_score:
          type: number
        project_name:
          type: string
        spell_metadata:
          type: array
          items:
            type: integer
        spell_type:
          type: string
    models.SearchDatasetResult:
      type: object
      properties:
        blockchains:
          type: array
          items:
            type: string
        category:
          type: string
[...]
