openapi: 3.0.3
info:
  title: Simmer SDK API (Kalshi proxy)
  description: |
    The Aomi `kalshi` app trades Kalshi prediction markets via the Simmer SDK
    (https://api.simmer.markets). Only the endpoints actually called by
    `apps/kalshi/src/tool.rs` are described here.

    ## Auth
    All authenticated endpoints take a `Bearer` token in the `Authorization`
    header (the Simmer API key, format `sk_…`). The agent-register endpoint is
    unauthenticated. No HMAC signing — the bearer token is enough.

    ## Response trimming policy
    Response schemas list ONLY the fields the curated `apps/kalshi/src/tool.rs`
    actually surfaces to the LLM. The live Simmer API returns more fields (UI
    blobs, ICS calendars, mutable display flags); those are silently dropped on
    deserialization since the spec doesn't list them. To re-enable a field, add
    it to the appropriate schema below and `aomi-build gen-client kalshi
    --shared --force`.
  version: '1.0'
servers:
- url: https://api.simmer.markets
paths:
  /api/sdk/agents/register:
    post:
      summary: Register a new Simmer agent (unauthenticated)
      description: |
        Returns an `api_key`, `claim_url`, and starting sandbox balance. The
        user must visit `claim_url` to verify identity before live Kalshi
        trading is enabled.
      operationId: registerAgent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAgentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterAgentResponse'
  /api/sdk/agents/me:
    get:
      summary: Status of the agent tied to the bearer token
      operationId: getAgentStatus
      parameters:
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentStatus'
  /api/sdk/briefing:
    get:
      summary: One-shot dashboard for the agent
      description: Portfolio snapshot, positions, opportunities, risk alerts, performance.
      operationId: getBriefing
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - in: query
        name: since
        description: ISO timestamp to scope to changes since a moment.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Briefing'
  /api/sdk/context/{market_id}:
    get:
      summary: Pre-trade context for a Simmer market (warnings, slippage, fees)
      operationId: getMarketContext
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - in: path
        name: market_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketContext'
  /api/sdk/trade:
    post:
      summary: Place a buy or sell on a Kalshi market via Simmer
      operationId: trade
      parameters:
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeResult'
  /api/sdk/positions:
    get:
      summary: Open positions on a venue
      operationId: getPositions
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - in: query
        name: venue
        description: '`sim` (sandbox) or `kalshi` (live).'
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsResponse'
  /api/sdk/portfolio:
    get:
      summary: Cash balance, positions value, total value, realized/unrealized PnL
      operationId: getPortfolio
      parameters:
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
  /api/sdk/markets/importable:
    get:
      summary: Importable Kalshi markets (Kalshi URLs, not Simmer UUIDs)
      operationId: listImportableKalshiMarkets
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - in: query
        name: venue
        description: Always `kalshi` for this app.
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: q
        description: Free-text search query.
        schema:
          type: string
        style: form
      - in: query
        name: limit
        schema:
          type: string
        style: form
      - in: query
        name: min_volume
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportableMarketsResponse'
  /api/sdk/markets/import/kalshi:
    post:
      summary: Register a Kalshi market URL with Simmer; returns the Simmer market_id UUID
      operationId: importKalshiMarket
      parameters:
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportKalshiMarketRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedMarket'
components:
  schemas:
    RegisterAgentRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      required:
      - name
    ImportKalshiMarketRequest:
      type: object
      properties:
        kalshi_url:
          type: string
      required:
      - kalshi_url
    TradeRequest:
      type: object
      properties:
        market_id:
          type: string
        side:
          description: '`yes` or `no`.'
          type: string
        amount:
          description: USD amount (buys only).
          type: number
          format: double
        shares:
          description: Shares quantity (required for sells).
          type: number
          format: double
        venue:
          description: '`sim` or `kalshi`.'
          type: string
        action:
          description: '`buy` or `sell`.'
          type: string
        source:
          type: string
        dry_run:
          type: boolean
        reasoning:
          type: string
      required:
      - market_id
      - side
      - venue
      - action
      - source
    AgentLimits:
      description: |
        Per-agent guardrails returned by Simmer (max position size, daily
        spend, etc.). Shape varies — kept loose for forward compat.
      type: object
      additionalProperties: true
    RegisterAgentResponse:
      description: |
        Returned once on first registration. `api_key` is `sk_…` and must be
        saved (the user runs `/apikey simmer <key>`). `claim_url` is where
        the user verifies identity before live Kalshi trading.
      type: object
      properties:
        agent_id:
          type: string
        api_key:
          type: string
        claim_code:
          type: string
        claim_url:
          type: string
        starting_balance:
          type: number
          format: double
        limits:
          $ref: '#/components/schemas/AgentLimits'
      required:
      - api_key
    AgentStatus:
      description: Sandbox + live balances and onboarding state.
      type: object
      properties:
        agent_id:
          type: string
        name:
          type: string
        status:
          description: e.g. `pending_claim`, `claimed`, `live`.
          type: string
        sim_balance:
          type: number
          format: double
        balance_usd:
          description: Live USD balance (if live trading is enabled).
          type: number
          format: double
        balance:
          description: Fallback alias for `balance_usd` from older API versions.
          type: number
          format: double
        real_trading_enabled:
          description: True iff the user has claimed the agent and live Kalshi trading is unlocked.
          type: boolean
        claim_url:
          type: string
        limits:
          $ref: '#/components/schemas/AgentLimits'
    Briefing:
      description: One-shot dashboard. Inner objects are kept loose intentionally.
      type: object
      properties:
        portfolio:
          type: object
          additionalProperties: true
        positions:
          type: array
          items:
            type: object
            additionalProperties: true
        opportunities:
          type: array
          items:
            type: object
            additionalProperties: true
        risk_alerts:
          type: array
          items:
            type: object
            additionalProperties: true
        performance:
          type: object
          additionalProperties: true
        checked_at:
          type: string
    MarketContext:
      description: Pre-trade context — surface warnings + slippage + fees before placing.
      type: object
      properties:
        market:
          type: object
          additionalProperties: true
        position:
          description: User's existing position on this market, if any.
          type: object
          additionalProperties: true
        warnings:
          type: array
          items:
            type: string
        slippage_estimate:
          type: number
          format: double
        time_to_resolution:
          type: string
        resolution_criteria:
          type: string
        is_paid:
          type: boolean
        fee_rate_bps:
          type: integer
        fee_note:
          type: string
    TradeResult:
      description: Returned by /trade on success. `shares_bought` for buys, `shares_sold` for sells.
      type: object
      properties:
        trade_id:
          type: string
        market_id:
          type: string
        side:
          type: string
        shares_bought:
          type: number
          format: double
        shares_sold:
          type: number
          format: double
        cost:
          type: number
          format: double
        average_price:
          type: number
          format: double
        venue:
          type: string
      required:
      - trade_id
    Position:
      description: A single open position, with PnL.
      type: object
      properties:
        market_id:
          type: string
        side:
          type: string
        shares:
          type: number
          format: double
        average_price:
          type: number
          format: double
        current_price:
          type: number
          format: double
        pnl:
          type: number
          format: double
      additionalProperties: true
    PositionsResponse:
      type: object
      properties:
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'
    Portfolio:
      type: object
      properties:
        balance:
          type: number
          format: double
        currency:
          type: string
        positions_value:
          type: number
          format: double
        total_value:
          type: number
          format: double
        realized_pnl:
          type: number
          format: double
        unrealized_pnl:
          type: number
          format: double
    ImportableMarket:
      description: |
        A Kalshi market we can import. The `url` is the Kalshi market URL
        (NOT a Simmer UUID); pass it to `importKalshiMarket` to convert.
        Inner shape kept additive — Simmer adds new metadata fields over time.
      type: object
      properties:
        url:
          type: string
        title:
          type: string
        ticker:
          type: string
        external_volume:
          type: number
          format: double
        yes_price:
          type: number
          format: double
        no_price:
          type: number
          format: double
      additionalProperties: true
    ImportableMarketsResponse:
      type: object
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/ImportableMarket'
    ImportedMarket:
      description: |
        Result of registering a Kalshi market. The `market_id` is the Simmer
        UUID required by `getMarketContext` and `trade`.
      type: object
      properties:
        market_id:
          type: string
        market:
          type: object
          additionalProperties: true
        url:
          type: string
        kalshi_url:
          description: Fallback alias for `url` from older API versions.
          type: string
        status:
          type: string
  parameters:
    Authorization:
      in: header
      name: Authorization
      description: '`Bearer sk_…` — the Simmer API key.'
      required: true
      schema:
        type: string
      style: simple
