openapi: 3.0.3
info:
  title: Simmer SDK API (Kalshi proxy)
  version: '1.0'
  description: |
    The Aomi `kalshi` app trades Kalshi prediction markets via the Simmer SDK
    (https://api.simmer.markets). Only the endpoints actually called by
    `apps/kalshi/src/tool.rs` are described here.

    ## Auth
    All authenticated endpoints take a `Bearer` token in the `Authorization`
    header (the Simmer API key, format `sk_…`). The agent-register endpoint is
    unauthenticated. No HMAC signing — the bearer token is enough.

    ## Response trimming policy
    Response schemas list ONLY the fields the curated `apps/kalshi/src/tool.rs`
    actually surfaces to the LLM. The live Simmer API returns more fields (UI
    blobs, ICS calendars, mutable display flags); those are silently dropped on
    deserialization since the spec doesn't list them. To re-enable a field, add
    it to the appropriate schema below and `aomi-build gen-client kalshi
    --shared --force`.
servers:
  - url: https://api.simmer.markets
paths:
  /api/sdk/agents/register:
    post:
      operationId: registerAgent
      summary: Register a new Simmer agent (unauthenticated)
      description: |
        Returns an `api_key`, `claim_url`, and starting sandbox balance. The
        user must visit `claim_url` to verify identity before live Kalshi
        trading is enabled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAgentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterAgentResponse'

  /api/sdk/agents/me:
    get:
      operationId: getAgentStatus
      summary: Status of the agent tied to the bearer token
      parameters:
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentStatus'

  /api/sdk/briefing:
    get:
      operationId: getBriefing
      summary: One-shot dashboard for the agent
      description: Portfolio snapshot, positions, opportunities, risk alerts, performance.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - name: since
          in: query
          required: false
          description: ISO timestamp to scope to changes since a moment.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Briefing'

  /api/sdk/context/{market_id}:
    get:
      operationId: getMarketContext
      summary: Pre-trade context for a Simmer market (warnings, slippage, fees)
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - name: market_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketContext'

  /api/sdk/trade:
    post:
      operationId: trade
      summary: Place a buy or sell on a Kalshi market via Simmer
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeResult'

  /api/sdk/positions:
    get:
      operationId: getPositions
      summary: Open positions on a venue
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - name: venue
          in: query
          required: false
          description: '`sim` (sandbox) or `kalshi` (live).'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsResponse'

  /api/sdk/portfolio:
    get:
      operationId: getPortfolio
      summary: Cash balance, positions value, total value, realized/unrealized PnL
      parameters:
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'

  /api/sdk/markets/importable:
    get:
      operationId: listImportableKalshiMarkets
      summary: Importable Kalshi markets (Kalshi URLs, not Simmer UUIDs)
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - name: venue
          in: query
          required: true
          description: Always `kalshi` for this app.
          schema:
            type: string
        - name: q
          in: query
          required: false
          description: Free-text search query.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: string
        - name: min_volume
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportableMarketsResponse'

  /api/sdk/markets/import/kalshi:
    post:
      operationId: importKalshiMarket
      summary: Register a Kalshi market URL with Simmer; returns the Simmer market_id UUID
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportKalshiMarketRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedMarket'

components:
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      description: '`Bearer sk_…` — the Simmer API key.'
      schema:
        type: string

  schemas:
    # ---- request bodies ----

    RegisterAgentRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string

    ImportKalshiMarketRequest:
      type: object
      required: [kalshi_url]
      properties:
        kalshi_url:
          type: string

    TradeRequest:
      type: object
      required: [market_id, side, venue, action, source]
      properties:
        market_id:
          type: string
        side:
          type: string
          description: '`yes` or `no`.'
        amount:
          type: number
          format: double
          description: USD amount (buys only).
        shares:
          type: number
          format: double
          description: Shares quantity (required for sells).
        venue:
          type: string
          description: '`sim` or `kalshi`.'
        action:
          type: string
          description: '`buy` or `sell`.'
        source:
          type: string
        dry_run:
          type: boolean
        reasoning:
          type: string

    # ---- response shapes (trimmed: only what the LLM acts on) ----

    AgentLimits:
      type: object
      additionalProperties: true
      description: |
        Per-agent guardrails returned by Simmer (max position size, daily
        spend, etc.). Shape varies — kept loose for forward compat.

    RegisterAgentResponse:
      type: object
      required: [api_key]
      description: |
        Returned once on first registration. `api_key` is `sk_…` and must be
        saved (the user runs `/apikey simmer <key>`). `claim_url` is where
        the user verifies identity before live Kalshi trading.
      properties:
        agent_id:
          type: string
        api_key:
          type: string
        claim_code:
          type: string
        claim_url:
          type: string
        starting_balance:
          type: number
          format: double
        limits:
          $ref: '#/components/schemas/AgentLimits'

    AgentStatus:
      type: object
      description: Sandbox + live balances and onboarding state.
      properties:
        agent_id:
          type: string
        name:
          type: string
        status:
          type: string
          description: 'e.g. `pending_claim`, `claimed`, `live`.'
        sim_balance:
          type: number
          format: double
        balance_usd:
          type: number
          format: double
          description: Live USD balance (if live trading is enabled).
        balance:
          type: number
          format: double
          description: Fallback alias for `balance_usd` from older API versions.
        real_trading_enabled:
          type: boolean
          description: True iff the user has claimed the agent and live Kalshi trading is unlocked.
        claim_url:
          type: string
        limits:
          $ref: '#/components/schemas/AgentLimits'

    Briefing:
      type: object
      description: One-shot dashboard. Inner objects are kept loose intentionally.
      properties:
        portfolio:
          type: object
          additionalProperties: true
        positions:
          type: array
          items:
            type: object
            additionalProperties: true
        opportunities:
          type: array
          items:
            type: object
            additionalProperties: true
        risk_alerts:
          type: array
          items:
            type: object
            additionalProperties: true
        performance:
          type: object
          additionalProperties: true
        checked_at:
          type: string

    MarketContext:
      type: object
      description: 'Pre-trade context — surface warnings + slippage + fees before placing.'
      properties:
        market:
          type: object
          additionalProperties: true
        position:
          type: object
          additionalProperties: true
          description: User's existing position on this market, if any.
        warnings:
          type: array
          items:
            type: string
        slippage_estimate:
          type: number
          format: double
        time_to_resolution:
          type: string
        resolution_criteria:
          type: string
        is_paid:
          type: boolean
        fee_rate_bps:
          type: integer
        fee_note:
          type: string

    TradeResult:
      type: object
      required: [trade_id]
      description: Returned by /trade on success. `shares_bought` for buys, `shares_sold` for sells.
      properties:
        trade_id:
          type: string
        market_id:
          type: string
        side:
          type: string
        shares_bought:
          type: number
          format: double
        shares_sold:
          type: number
          format: double
        cost:
          type: number
          format: double
        average_price:
          type: number
          format: double
        venue:
          type: string

    Position:
      type: object
      description: A single open position, with PnL.
      additionalProperties: true
      properties:
        market_id:
          type: string
        side:
          type: string
        shares:
          type: number
          format: double
        average_price:
          type: number
          format: double
        current_price:
          type: number
          format: double
        pnl:
          type: number
          format: double

    PositionsResponse:
      type: object
      properties:
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'

    Portfolio:
      type: object
      properties:
        balance:
          type: number
          format: double
        currency:
          type: string
        positions_value:
          type: number
          format: double
        total_value:
          type: number
          format: double
        realized_pnl:
          type: number
          format: double
        unrealized_pnl:
          type: number
          format: double

    ImportableMarket:
      type: object
      description: |
        A Kalshi market we can import. The `url` is the Kalshi market URL
        (NOT a Simmer UUID); pass it to `importKalshiMarket` to convert.
        Inner shape kept additive — Simmer adds new metadata fields over time.
      additionalProperties: true
      properties:
        url:
          type: string
        title:
          type: string
        ticker:
          type: string
        external_volume:
          type: number
          format: double
        yes_price:
          type: number
          format: double
        no_price:
          type: number
          format: double

    ImportableMarketsResponse:
      type: object
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/ImportableMarket'

    ImportedMarket:
      type: object
      description: |
        Result of registering a Kalshi market. The `market_id` is the Simmer
        UUID required by `getMarketContext` and `trade`.
      properties:
        market_id:
          type: string
        market:
          type: object
          additionalProperties: true
        url:
          type: string
        kalshi_url:
          type: string
          description: Fallback alias for `url` from older API versions.
        status:
          type: string
