openapi: 3.0.3
info:
  title: Khalani Hyperstream API
  version: '1.0'
  description: |
    Khalani's cross-chain intent execution API at api.hyperstream.dev.

    ## Auth
    No auth headers are required for the endpoints in this spec. Settlement
    requires a user signature (EIP-712) but the signing is done client-side and
    submitted via `/v1/deposit/submit` — there is no API key.

    ## Workflow
    1. Call `/v1/quotes` with from/to chain+token and amount → get quote+route.
    2. Call `/v1/deposit/build` with the chosen quote → get an EIP-712 typed-
       data payload OR raw transaction params for the user to sign.
    3. Sign client-side, then PUT `/v1/deposit/submit` with the signature or
       transaction hash.
    4. Poll `/v1/orders/{address}` for status.

    Helper endpoints: `/v1/chains` (chain metadata), `/v1/tokens` (token list),
    `/v1/tokens/search` (search by symbol/name/address).

servers:
  - url: https://api.hyperstream.dev

paths:
  /v1/quotes:
    post:
      operationId: getQuote
      summary: Quote a cross-chain swap or transfer for a given pair and amount.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QuoteRequest' }
      responses:
        '200':
          description: Quote response with route + price + IDs needed for /v1/deposit/build.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /v1/deposit/build:
    post:
      operationId: buildDeposit
      summary: Build the EIP-712 typed data or raw tx for a quoted route.
      description: |
        Accepts one of four request shapes (canonical / fromAddress / userAddress / legacy)
        depending on the deposit method. Modeled here as a permissive object — the actual
        shape is dispatched by the server based on which fields are present.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DepositBuildRequest' }
      responses:
        '200':
          description: Either an EIP-712 typed-data envelope or a raw tx description for signing.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /v1/deposit/submit:
    put:
      operationId: submitDeposit
      summary: Submit a signed EIP-712 payload or a settled transaction hash.
      description: |
        Accepts one of three request shapes (signed-EIP-712 / signed-transaction / legacy).
        Modeled here as a permissive object dispatched by the server.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DepositSubmitRequest' }
      responses:
        '200':
          description: Submission acknowledgement (order id, status, etc.).
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /v1/orders/{address}:
    get:
      operationId: getOrdersByAddress
      summary: List recent orders for a user address.
      parameters:
        - in: path
          name: address
          required: true
          schema: { type: string }
          description: EVM address (0x-prefixed, 20 bytes).
        - { in: query, name: status,   schema: { type: string } }
        - { in: query, name: limit,    schema: { type: integer } }
        - { in: query, name: offset,   schema: { type: integer } }
        - { in: query, name: orderIds, schema: { type: string }, description: 'Comma-separated order IDs to filter to.' }
      responses:
        '200':
          description: Paginated order list.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /v1/tokens:
    get:
      operationId: listTokens
      summary: List supported tokens, optionally filtered by chain or substring.
      parameters:
        - { in: query, name: chainIds, schema: { type: integer, format: int64 }, description: 'Single chain id (despite the plural name).' }
        - { in: query, name: limit,    schema: { type: integer } }
        - { in: query, name: offset,   schema: { type: integer } }
        - { in: query, name: q,        schema: { type: string }, description: 'Substring match on symbol/name/address.' }
      responses:
        '200':
          description: 'Array of tokens (may be wrapped in {data: [...]}).'
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items: { $ref: '#/components/schemas/Token' }
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Token' }

  /v1/tokens/search:
    get:
      operationId: searchTokens
      summary: Search tokens by symbol/name/address — required `q` query.
      parameters:
        - { in: query, name: q,        required: true, schema: { type: string } }
        - { in: query, name: chainIds, schema: { type: integer, format: int64 } }
        - { in: query, name: limit,    schema: { type: integer } }
        - { in: query, name: offset,   schema: { type: integer } }
      responses:
        '200':
          description: 'Search hits wrapped in {data: [Token, ...]}.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Token' }

  /v1/chains:
    get:
      operationId: listChains
      summary: List supported chains with viem-style metadata.
      responses:
        '200':
          description: Array of chain configs.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Chain' }

components:
  schemas:
    QuoteRequest:
      type: object
      required: [tradeType, fromChainId, toChainId, fromToken, toToken, amount, fromAddress]
      properties:
        tradeType:    { type: string, enum: [EXACT_INPUT, EXACT_OUTPUT], description: 'Almost always EXACT_INPUT.' }
        fromChainId:  { type: integer, format: int64 }
        toChainId:    { type: integer, format: int64 }
        fromToken:    { type: string, description: '0x-address (or "native" sentinel).' }
        toToken:      { type: string }
        amount:       { type: string, description: 'Base-units string (no decimal point), e.g. "1000000".' }
        fromAddress:  { type: string }
        recipient:    { type: string, description: 'Defaults to fromAddress when omitted.' }
        slippageInBps:
          type: integer
          minimum: 0
          maximum: 10000
          description: 'Slippage tolerance in basis points (50 = 0.5%).'

    DepositBuildRequest:
      type: object
      additionalProperties: true
      description: |
        One of four request shapes; server dispatches by which fields are present.
        See `info.description` and `apps/khalani/src/types.rs` for the canonical
        / fromAddress / userAddress / legacy variants.
      properties:
        quoteId: { type: string }
        routeId: { type: string }
        from:    { type: string }
        fromAddress: { type: string }
        userAddress: { type: string }
        user:    { type: string }
        depositMethod: { type: string }
        allowanceTarget: { type: string }
        slippageInBps: { type: integer, maximum: 10000 }

    DepositSubmitRequest:
      type: object
      additionalProperties: true
      description: |
        One of three request shapes (signed-EIP-712 / signed-transaction / legacy);
        server dispatches by which fields are present.
      properties:
        quoteId: { type: string }
        routeId: { type: string }
        signature: { type: string, description: 'Hex EIP-712 signature.' }
        txHash: { type: string }
        transactionHash: { type: string }
        submittedData: { type: object, additionalProperties: true }

    Token:
      type: object
      required: [address, chainId, symbol, decimals]
      properties:
        address:  { type: string, description: 'Lowercase hex address.' }
        chainId:  { type: integer, format: int64 }
        name:     { type: string }
        symbol:   { type: string }
        decimals: { type: integer, maximum: 36 }
        logoURI:  { type: string, format: uri }
        extensions:
          type: object
          additionalProperties: true

    Chain:
      type: object
      additionalProperties: true
      description: |
        Viem-style chain config. Keys vary across chains; only `id` and `name`
        are reliably present.
      properties:
        id:        { type: integer, format: int64 }
        name:      { type: string }
        nativeCurrency:
          type: object
          properties:
            name:     { type: string }
            symbol:   { type: string }
            decimals: { type: integer }
        blockTime: { type: integer }
        rpcUrls:
          type: object
          additionalProperties: true
        contracts:
          type: object
          additionalProperties: true
