openapi: 3.0.3
info:
  title: Khalani Hyperstream API
  description: |
    Khalani's cross-chain intent execution API at api.hyperstream.dev.

    ## Auth
    No auth headers are required for the endpoints in this spec. Settlement
    requires a user signature (EIP-712) but the signing is done client-side and
    submitted via `/v1/deposit/submit` — there is no API key.

    ## Workflow
    1. Call `/v1/quotes` with from/to chain+token and amount → get quote+route.
    2. Call `/v1/deposit/build` with the chosen quote → get an EIP-712 typed-
       data payload OR raw transaction params for the user to sign.
    3. Sign client-side, then PUT `/v1/deposit/submit` with the signature or
       transaction hash.
    4. Poll `/v1/orders/{address}` for status.

    Helper endpoints: `/v1/chains` (chain metadata), `/v1/tokens` (token list),
    `/v1/tokens/search` (search by symbol/name/address).
  version: '1.0'
servers:
- url: https://api.hyperstream.dev
paths:
  /v1/quotes:
    post:
      summary: Quote a cross-chain swap or transfer for a given pair and amount.
      operationId: getQuote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
        required: true
      responses:
        '200':
          description: Quote response with route + price + IDs needed for /v1/deposit/build.
          content:
            application/json:
              schema:
                type: object
                properties:
                  quoteId:
                    type: string
                  routes:
                    type: array
                    items:
                      type: object
                      properties:
                        depositMethods:
                          type: array
                          items:
                            type: string
                        exactOutMethod:
                          type: string
                        icon:
                          type: string
                        quote:
                          type: object
                          properties:
                            amountIn:
                              type: string
                            amountOut:
                              type: string
                            expectedDurationSeconds:
                              type: integer
                            quoteExpiresAt:
                              type: integer
                            supportedDepositMethods:
                              type: array
                              items:
                                type: string
                            tags:
                              type: array
                              items:
                                type: string
                            validBefore:
                              type: integer
                          required:
                          - amountIn
                          - amountOut
                          - expectedDurationSeconds
                          - quoteExpiresAt
                          - supportedDepositMethods
                          - tags
                          - validBefore
                        routeId:
                          type: string
                        type:
                          type: string
                      required:
                      - depositMethods
                      - exactOutMethod
                      - icon
                      - quote
                      - routeId
                      - type
                required:
                - quoteId
                - routes
  /v1/deposit/build:
    post:
      summary: Build the EIP-712 typed data or raw tx for a quoted route.
      description: |
        Accepts one of four request shapes (canonical / fromAddress / userAddress / legacy)
        depending on the deposit method. Modeled here as a permissive object — the actual
        shape is dispatched by the server based on which fields are present.
      operationId: buildDeposit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositBuildRequest'
        required: true
      responses:
        '200':
          description: Either an EIP-712 typed-data envelope or a raw tx description for signing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  approvals:
                    type: array
                    items:
                      type: object
                      properties:
                        request:
                          type: object
                          properties:
                            method:
                              description: |
                                EIP-1193 method. Common values:
                                  - `wallet_switchEthereumChain` (params: [{chainId}])
                                  - `eth_sendTransaction`        (params: [{from,to,data,value?,chainId?}])
                              type: string
                            params:
                              type: array
                              items:
                                type: object
                                properties:
                                  chainId:
                                    description: Hex chain id (e.g. "0x1" for Ethereum). Present on wallet_switchEthereumChain AND eth_sendTransaction.
                                    type: string
                                  from:
                                    description: Sender EVM address (0x…). Only on eth_sendTransaction.
                                    type: string
                                  to:
                                    description: Target EVM address (0x…). Only on eth_sendTransaction.
                                    type: string
                                  data:
                                    description: 0x-prefixed calldata. Only on eth_sendTransaction.
                                    type: string
                                  value:
                                    description: Wei amount as a string. Only on eth_sendTransaction.
                                    type: string
                                  gas:
                                    description: Optional gas limit hint as a string.
                                    type: string
                          required:
                          - method
                          - params
                        type:
                          description: Always `eip1193_request` today.
                          type: string
                        deposit:
                          description: True iff this approval IS the deposit transaction (the final one in the array). Other entries are wallet chain switch + ERC-20 approvals.
                          type: boolean
                        waitForReceipt:
                          description: True iff the host should wait for the tx receipt before continuing to the next approval.
                          type: boolean
                      required:
                      - request
                      - type
                  kind:
                    description: 'Deposit method dispatched by Khalani: CONTRACT_CALL, TRANSFER, etc.'
                    type: string
                required:
                - approvals
                - kind
  /v1/deposit/submit:
    put:
      summary: Submit a signed EIP-712 payload or a settled transaction hash.
      description: |
        Accepts one of three request shapes (signed-EIP-712 / signed-transaction / legacy).
        Modeled here as a permissive object dispatched by the server.
      operationId: submitDeposit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositSubmitRequest'
        required: true
      responses:
        '200':
          description: Submission acknowledgement (order id, status, etc.).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v1/orders/{address}:
    get:
      summary: List recent orders for a user address.
      operationId: getOrdersByAddress
      parameters:
      - in: path
        name: address
        description: EVM address (0x-prefixed, 20 bytes).
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: status
        schema:
          type: string
        style: form
      - in: query
        name: limit
        schema:
          type: integer
        style: form
      - in: query
        name: offset
        schema:
          type: integer
        style: form
      - in: query
        name: orderIds
        description: Comma-separated order IDs to filter to.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Paginated order list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                required:
                - data
  /v1/tokens:
    get:
      summary: List supported tokens, optionally filtered by chain or substring.
      operationId: listTokens
      parameters:
      - in: query
        name: chainIds
        description: Single chain id (despite the plural name).
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: limit
        schema:
          type: integer
        style: form
      - in: query
        name: offset
        schema:
          type: integer
        style: form
      - in: query
        name: q
        description: Substring match on symbol/name/address.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: 'Array of tokens (may be wrapped in {data: [...]}).'
          content:
            application/json:
              schema:
                oneOf:
                - type: array
                  items:
                    $ref: '#/components/schemas/Token'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Token'
  /v1/tokens/search:
    get:
      summary: Search tokens by symbol/name/address — required `q` query.
      operationId: searchTokens
      parameters:
      - in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: chainIds
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: limit
        schema:
          type: integer
        style: form
      - in: query
        name: offset
        schema:
          type: integer
        style: form
      responses:
        '200':
          description: 'Search hits wrapped in {data: [Token, ...]}.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Token'
  /v1/chains:
    get:
      summary: List supported chains with viem-style metadata.
      operationId: listChains
      responses:
        '200':
          description: Array of chain configs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chain'
components:
  schemas:
    QuoteRequest:
      type: object
      properties:
        tradeType:
          description: Almost always EXACT_INPUT.
          type: string
          enum:
          - EXACT_INPUT
          - EXACT_OUTPUT
        fromChainId:
          type: integer
          format: int64
        toChainId:
          type: integer
          format: int64
        fromToken:
          description: 0x-address (or "native" sentinel).
          type: string
        toToken:
          type: string
        amount:
          description: Base-units string (no decimal point), e.g. "1000000".
          type: string
        fromAddress:
          type: string
        recipient:
          description: Defaults to fromAddress when omitted.
          type: string
        slippageInBps:
          description: Slippage tolerance in basis points (50 = 0.5%).
          type: integer
          minimum: 0
          maximum: 10000
      required:
      - tradeType
      - fromChainId
      - toChainId
      - fromToken
      - toToken
      - amount
      - fromAddress
    DepositBuildRequest:
      description: |
        One of four request shapes; server dispatches by which fields are present.
        See `info.description` and `apps/khalani/src/types.rs` for the canonical
        / fromAddress / userAddress / legacy variants.
      type: object
      properties:
        quoteId:
          type: string
        routeId:
          type: string
        from:
          type: string
        fromAddress:
          type: string
        userAddress:
          type: string
        user:
          type: string
        depositMethod:
          type: string
        allowanceTarget:
          type: string
        slippageInBps:
          type: integer
          maximum: 10000
      additionalProperties: true
    DepositSubmitRequest:
      description: |
        One of three request shapes (signed-EIP-712 / signed-transaction / legacy);
        server dispatches by which fields are present.
      type: object
      properties:
        quoteId:
          type: string
        routeId:
          type: string
        signature:
          description: Hex EIP-712 signature.
          type: string
        txHash:
          type: string
        transactionHash:
          type: string
        submittedData:
          type: object
          additionalProperties: true
      additionalProperties: true
    Token:
      type: object
      properties:
        address:
          description: Lowercase hex address.
          type: string
        chainId:
          type: integer
          format: int64
        name:
          type: string
        symbol:
          type: string
        decimals:
          type: integer
          maximum: 36
      required:
      - address
      - chainId
      - symbol
      - decimals
    Chain:
      description: |
        Viem-style chain config. Keys vary across chains; only `id` and `name`
        are reliably present.
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        nativeCurrency:
          type: object
          properties:
            name:
              type: string
            symbol:
              type: string
            decimals:
              type: integer
