openapi: 3.0.4
info:
  title: Neynar API
  description: The Neynar API allows you to interact with the Farcaster protocol among other things. See the [Neynar docs](https://docs.neynar.com/reference) for more details.
  contact:
    name: Neynar
    url: https://neynar.com/
    email: team@neynar.com
  version: 3.172.0
servers:
- url: https://api.neynar.com
paths:
  /portal/organization/billing:
    get:
      tags:
      - portal
      - organization
      summary: Get billing information for the current organization
      description: Retrieves billing and subscription details for the current organization, including plan status, product category, billing email, and effective plan.
      externalDocs:
        url: https://docs.neynar.com/reference/billing
      operationId: billing
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  billing_email:
                    nullable: true
                    type: string
                  effective_plan:
                    type: string
                  has_active_subscription:
                    type: boolean
                  is_trialing:
                    type: boolean
                  organization_name:
                    type: string
                  organization_status:
                    nullable: true
                    type: string
                  plan_tier:
                    nullable: true
                    type: string
                  product_category:
                    nullable: true
                    type: string
                  product_name:
                    nullable: true
                    type: string
                  stripe_customer_id:
                    nullable: true
                    type: string
                  stripe_product_id:
                    nullable: true
                    type: string
                  stripe_subscription_id:
                    nullable: true
                    type: string
                  subscription_end:
                    nullable: true
                    type: string
                    format: date-time
                  subscription_start:
                    nullable: true
                    type: string
                    format: date-time
                  subscription_status:
                    nullable: true
                    type: string
                  workos_organization_id:
                    type: string
                required:
                - workos_organization_id
                - organization_name
                - stripe_customer_id
                - organization_status
                - stripe_subscription_id
                - subscription_status
                - product_name
                - stripe_product_id
                - plan_tier
                - product_category
                - subscription_start
                - subscription_end
                - billing_email
                - has_active_subscription
                - is_trialing
                - effective_plan
  /portal/subscription/upgrade:
    post:
      tags:
      - portal
      - subscription
      summary: Process subscription upgrade with credit
      description: Applies a subscription plan change for the current organization and returns the applied credit, charge amount, and whether the change takes effect immediately.
      externalDocs:
        url: https://docs.neynar.com/reference/upgrade
      operationId: upgrade
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                newPlan:
                  type: string
                productCategory:
                  type: string
                  enum:
                  - API
                  - STUDIO
              required:
              - newPlan
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  chargeAmount:
                    type: number
                  creditApplied:
                    type: number
                  effectiveImmediately:
                    type: boolean
                  newPlan:
                    type: string
                  success:
                    type: boolean
                required:
                - success
                - newPlan
                - creditApplied
                - chargeAmount
                - effectiveImmediately
  /portal/subscription/upgrade/preview:
    get:
      tags:
      - portal
      - subscription
      summary: Get upgrade preview with credit calculation
      description: Calculates the billing impact of changing to a new subscription plan, including available credit, charge amount, and whether the billing date or usage carryover changes.
      externalDocs:
        url: https://docs.neynar.com/reference/upgrade-preview
      operationId: upgrade-preview
      parameters:
      - in: query
        name: newPlan
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: productCategory
        schema:
          type: string
          enum:
          - API
          - STUDIO
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  billingDateUnchanged:
                    type: boolean
                  chargeAmount:
                    type: number
                  credit:
                    type: object
                    properties:
                      creditAmount:
                        type: number
                      unitRate:
                        type: number
                      unusedUnits:
                        type: number
                    required:
                    - unusedUnits
                    - unitRate
                    - creditAmount
                  currentPlan:
                    type: object
                    properties:
                      computeUnitsLimit:
                        type: number
                      computeUnitsUsed:
                        type: number
                      name:
                        type: string
                      price:
                        type: number
                    required:
                    - name
                    - price
                    - computeUnitsLimit
                    - computeUnitsUsed
                  newPlan:
                    type: object
                    properties:
                      computeUnitsLimit:
                        type: number
                      name:
                        type: string
                      price:
                        type: number
                    required:
                    - name
                    - price
                    - computeUnitsLimit
                  usageCarriesOver:
                    type: boolean
                required:
                - currentPlan
                - newPlan
                - credit
                - chargeAmount
                - billingDateUnchanged
                - usageCarriesOver
  /v2/farcaster/action/:
    post:
      tags:
      - Action
      summary: User actions across apps
      description: Securely communicate and perform actions on behalf of users across different apps. It enables an app to send data or trigger actions in another app on behalf of a mutual user by signing messages using the user's Farcaster signer.
      externalDocs:
        url: https://docs.neynar.com/reference/publish-farcaster-action
      operationId: publish-farcaster-action
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarcasterActionReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v2/farcaster/app_host/user/event/:
    get:
      tags:
      - App Host
      summary: Generate event
      description: Returns event object for app host events. Used if the app host intends to sign the event message instead of using Neynar-hosted signers.
      externalDocs:
        url: https://docs.neynar.com/reference/app-host-get-event
      operationId: app-host-get-event
      parameters:
      - in: query
        name: app_domain
        description: The domain of the mini app
        required: true
        schema:
          example: demo.neynar.com
          type: string
        style: form
      - in: query
        name: fid
        description: The FID of the user who initiated the event
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: event
        description: The type of event
        required: true
        schema:
          title: AppHostEventType
          type: string
          enum:
          - frame_added
          - frame_removed
          - notifications_enabled
          - notifications_disabled
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHostGetEventResponse'
    post:
      tags:
      - App Host
      summary: Send event
      description: Post an app_host event to the domain's webhook. Events such as enabling or disabling notifications for a user. Provide either a signed message or the signer UUID of an authorized neynar-hosted signers.
      externalDocs:
        url: https://docs.neynar.com/reference/app-host-post-event
      operationId: app-host-post-event
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppHostPostEventReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHostPostEventResponse'
  /v2/farcaster/app_host/user/state/:
    get:
      tags:
      - App Host
      summary: Enabled notifications
      description: Returns the current notification state for a specific user across all mini app domains in this app host. Shows which domains have notifications enabled.
      externalDocs:
        url: https://docs.neynar.com/reference/app-host-get-user-state
      operationId: app-host-get-user-state
      parameters:
      - in: query
        name: fid
        description: The FID of the user
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHostUserStateResponse'
  /v2/farcaster/auth_address/developer_managed/:
    get:
      tags:
      - AuthAddress
      summary: Status by auth address
      description: Fetches the status of a developer managed auth address by auth address
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-developer-managed-auth-address
      operationId: lookup-developer-managed-auth-address
      parameters:
      - in: query
        name: address
        description: Ethereum address
        required: true
        schema:
          example: 0x5a927ac639636e534b678e81768ca19e2c6280b7
          title: EthAddress
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/EthAddress'
                  auth_address_approval_url:
                    type: string
                    format: uri
                  fid:
                    $ref: '#/components/schemas/Fid'
                  status:
                    type: string
                    enum:
                    - pending_approval
                    - approved
                    - revoked
                required:
                - address
                - status
  /v2/farcaster/auth_address/developer_managed/signed_key/:
    post:
      tags:
      - AuthAddress
      summary: Register Signed Key
      description: Allow apps to register an Ethereum addresses as authorized "auth addresses" for a user's Farcaster account, enabling seamless Sign-In With Farcaster (SIWF) across applications without repeated custody wallet authorizations.
      externalDocs:
        url: https://docs.neynar.com/reference/register-signed-key-for-developer-managed-auth-address
      operationId: register-signed-key-for-developer-managed-auth-address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAuthAddressDeveloperManagedSignedKeyReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/EthAddress'
                  auth_address_approval_url:
                    type: string
                    format: uri
                  fid:
                    $ref: '#/components/schemas/Fid'
                  status:
                    type: string
                    enum:
                    - pending_approval
                    - approved
                    - revoked
                required:
                - address
                - status
  /v2/farcaster/ban/:
    post:
      tags:
      - Ban
      summary: Ban FIDs from app
      description: Bans a list of FIDs from the app associated with your API key. Banned users, their casts and reactions will not appear in feeds.
      externalDocs:
        url: https://docs.neynar.com/reference/publish-bans
      operationId: publish-bans
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanResponse'
    delete:
      tags:
      - Ban
      summary: Unban FIDs from app
      description: Deletes a list of FIDs from the app associated with your API key.
      externalDocs:
        url: https://docs.neynar.com/reference/delete-bans
      operationId: delete-bans
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanResponse'
  /v2/farcaster/ban/list/:
    get:
      tags:
      - Ban
      summary: Banned FIDs of app
      description: Fetches all FIDs that your app has banned.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-ban-list
      operationId: fetch-ban-list
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 20
          default: 20
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanListResponse'
  /v2/farcaster/block/:
    post:
      tags:
      - Block
      summary: Block FID
      description: Adds a block for a given FID.
      externalDocs:
        url: https://docs.neynar.com/reference/publish-block
      operationId: publish-block
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
    delete:
      tags:
      - Block
      summary: Unblock FID
      description: Deletes a block for a given FID.
      externalDocs:
        url: https://docs.neynar.com/reference/delete-block
      operationId: delete-block
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
  /v2/farcaster/block/list/:
    get:
      tags:
      - Block
      summary: Blocked / Blocked by FIDs
      description: Fetches all FIDs that a user has blocked or has been blocked by
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-block-list
      operationId: fetch-block-list
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: blocker_fid
        description: Providing this will return the users that this user has blocked
        schema:
          example: 194
          type: integer
          minimum: 1
        style: form
      - in: query
        name: blocked_fid
        description: Providing this will return the users that have blocked this user
        schema:
          example: 194
          type: integer
          minimum: 1
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 20
          default: 20
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockListResponse'
  /v2/farcaster/cast/:
    get:
      tags:
      - Cast
      summary: By hash or URL
      description: Gets information about an individual cast by passing in a Farcaster web URL or cast hash
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-by-hash-or-url
      operationId: lookup-cast-by-hash-or-url
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: identifier
        description: Cast identifier (It's either a URL or a hash)
        required: true
        schema:
          example: https://farcaster.xyz/rish/0xafa59bb7
          type: string
        style: form
      - in: query
        name: type
        description: |-
          The query param accepted by the API. Sent along with identifier param.
          url - Cast identifier is a url
          hash - Cast identifier is a hash
        required: true
        schema:
          example: url
          type: string
          enum:
          - url
          - hash
        style: form
      - in: query
        name: viewer_fid
        description: adds viewer_context to cast object to show whether viewer has liked or recasted the cast.
        schema:
          type: integer
          minimum: 1
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastResponse'
    post:
      tags:
      - Cast
      summary: Post a cast
      description: "Posts a cast or cast reply. Works with mentions and embeds.  \n(In order to post a cast `signer_uuid` must be approved)"
      externalDocs:
        url: https://docs.neynar.com/reference/publish-cast
      operationId: publish-cast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCastReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCastResponse'
    delete:
      tags:
      - Cast
      summary: Delete a cast
      description: "Delete an existing cast. \n(In order to delete a cast `signer_uuid` must be approved)"
      externalDocs:
        url: https://docs.neynar.com/reference/delete-cast
      operationId: delete-cast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCastReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
  /v2/farcaster/cast/conversation/:
    get:
      tags:
      - Cast
      summary: Conversation for a cast
      description: Gets all casts related to a conversation surrounding a cast by passing in a cast hash or Farcaster URL. Includes all the ancestors of a cast up to the root parent in a chronological order. Includes all direct_replies to the cast up to the reply_depth specified in the query parameter.
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-conversation
      operationId: lookup-cast-conversation
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: identifier
        description: Cast identifier (It's either a URL or a hash)
        required: true
        schema:
          example: https://warpcast.com/rish/0x9288c1
          type: string
        style: form
      - in: query
        name: type
        description: |-
          The query param accepted by the API. Sent along with identifier param.
          url - Cast identifier is a url
          hash - Cast identifier is a hash
        required: true
        schema:
          example: url
          type: string
          enum:
          - url
          - hash
        style: form
      - in: query
        name: reply_depth
        description: The depth of replies in the conversation that will be returned (default 2)
        schema:
          default: 2
          type: integer
          minimum: 0
          maximum: 5
        style: form
      - in: query
        name: include_chronological_parent_casts
        description: Include all parent casts in chronological order
        schema:
          default: false
          type: boolean
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a conversation that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: sort_type
        description: Sort type for the ordering of descendants. Default is `chron`
        schema:
          example: chron
          type: string
          enum:
          - chron
          - desc_chron
          - algorithmic
        style: form
      - in: query
        name: fold
        description: Show conversation above or below the fold. Lower quality responses are hidden below the fold. Not passing in a value shows the full conversation without any folding.
        schema:
          type: string
          enum:
          - above
          - below
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 20
          type: integer
          format: int32
          minimum: 1
          maximum: 50
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
  /v2/farcaster/cast/conversation/summary/:
    get:
      tags:
      - Agents
      summary: Cast conversation summary
      description: Generates a summary of all casts related to a conversation surrounding a cast by passing in a cast hash or Farcaster URL.  Summary is generated by an LLM and is intended to be passed as a context to AI agents.
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-cast-conversation-summary
      operationId: lookup-cast-conversation-summary
      parameters:
      - in: query
        name: identifier
        description: Cast identifier (It's either a URL or a hash))
        required: true
        schema:
          example: 0x9288c1e862aa72bd69d0e383a28b9a76b63cbdb4
          type: string
        style: form
      - in: query
        name: limit
        description: Number of casts to consider in a summary up to a point of target cast
        schema:
          example: 50
          default: 20
          type: integer
          minimum: 1
          maximum: 50
        x-is-limit-param: true
        style: form
      - in: query
        name: prompt
        description: Additional prompt used to generate a summary
        schema:
          example: be unreasonably dramatic
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationSummary'
  /v2/farcaster/cast/embed/crawl/:
    get:
      tags:
      - Cast
      summary: Embedded URL metadata
      description: Crawls the given URL and returns metadata useful when embedding the URL in a cast.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-embedded-url-metadata
      operationId: fetch-embedded-url-metadata
      parameters:
      - in: query
        name: url
        description: URL to crawl metadata of
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastEmbedCrawlResponse'
  /v2/farcaster/cast/metrics/:
    get:
      tags:
      - Metrics
      summary: Metrics for casts
      description: Fetches metrics casts matching a query
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-cast-metrics
      operationId: fetch-cast-metrics
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: q
        description: Query string to search for casts
        required: true
        schema:
          example: star wars
          type: string
        style: form
      - in: query
        name: interval
        description: Interval of time for which to fetch metrics. Default is 30d.
        schema:
          type: string
          enum:
          - 1d
          - 7d
          - 30d
          - 90d
          - 180d
        style: form
      - in: query
        name: author_fid
        description: Fid of the user whose casts you want to search
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: channel_id
        description: Channel ID of the casts you want to search
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsMetricsResponse'
  /v2/farcaster/cast/quotes/:
    get:
      tags:
      - Cast
      summary: Cast Quotes
      description: Fetch casts that quote a given cast
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-cast-quotes
      operationId: fetch-cast-quotes
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: identifier
        description: Cast identifier (It's either a URL or a hash)
        required: true
        schema:
          example: https://farcaster.xyz/rish/0xafa59bb7
          type: string
        style: form
      - in: query
        name: type
        description: |-
          The query param accepted by the API. Sent along with identifier param.
          url - Cast identifier is a url
          hash - Cast identifier is a hash
        required: true
        schema:
          example: url
          type: string
          enum:
          - url
          - hash
        style: form
      - in: query
        name: viewer_fid
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  casts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cast'
                  next:
                    $ref: '#/components/schemas/NextCursor'
                required:
                - casts
                - next
  /v2/farcaster/cast/search/:
    get:
      tags:
      - Cast
      summary: Search for casts
      description: Search for casts based on a query string, with optional AND filters
      externalDocs:
        url: https://docs.neynar.com/reference/search-casts
      operationId: search-casts
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: q
        description: |-
          Query string to search for casts. Supported operators:

          | Operator  | Description                                                                                              |
          | --------- | -------------------------------------------------------------------------------------------------------- |
          | `+`       | Acts as the AND operator. This is the default operator between terms and can usually be omitted.         |
          | `\|`      | Acts as the OR operator.                                                                                 |
          | `*`       | When used at the end of a term, signifies a prefix query.                                                  |
          | `"`       | Wraps several terms into a phrase (for example, `"star wars"`).                                          |
          | `(`, `)`  | Wrap a clause for precedence (for example, `star + (wars \| trek)`).                                     |
          | `~n`      | When used after a term (for example, `satr~3`), sets `fuzziness`. When used after a phrase, sets `slop`. |
          | `-`       | Negates the term.                                                                                        |
          | `before:` | Search for casts before a specific date. (e.g. `before:2025-04-20` or `before:2025-04-20T23:59:59`)      |
          | `after:`  | Search for casts after a specific date. (e.g. `after:2025-04-20` or `after:2025-04-20T00:00:00`)         |
        required: true
        schema:
          example: star (wars | trek) "space battle" after:2024-05-04
          type: string
        style: form
      - in: query
        name: mode
        description: |-
          Choices are:
          - `literal` - Searches for the words in the query string (default)
          - `semantic` - Searches for the meaning of the query string
          - `hybrid` - Combines both literal and semantic results
        schema:
          example: literal
          type: string
          enum:
          - literal
          - semantic
          - hybrid
        style: form
      - in: query
        name: sort_type
        description: |-
          Choices are:
          - `desc_chron` - All casts sorted by time in a descending order (default)
          - `chron` - All casts sorted by time in ascending order
          - `algorithmic` - Casts sorted by engagement and time
        schema:
          example: desc_chron
          type: string
          enum:
          - desc_chron
          - chron
          - algorithmic
        style: form
      - in: query
        name: author_fid
        description: Fid of the user whose casts you want to search
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return search results that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: parent_url
        description: Parent URL of the casts you want to search
        schema:
          type: string
        style: form
      - in: query
        name: channel_id
        description: Channel ID of the casts you want to search
        schema:
          type: string
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 25
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsSearchResponse'
  /v2/farcaster/casts/:
    get:
      tags:
      - Cast
      summary: Bulk fetch casts
      description: Fetch multiple casts using their respective hashes.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-bulk-casts
      operationId: fetch-bulk-casts
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: casts
        description: Hashes of the cast to be retrived (Comma separated, no spaces)
        required: true
        schema:
          example: 0xa896906a5e397b4fec247c3ee0e9e4d4990b8004,0x27ff810f7f718afd8c40be236411f017982e0994
          x-comma-separated: true
          type: string
        style: form
      - in: query
        name: viewer_fid
        description: adds viewer_context to cast object to show whether viewer has liked or recasted the cast.
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: sort_type
        description: Optional parameter to sort the casts based on different criteria
        schema:
          type: string
          enum:
          - trending
          - likes
          - recasts
          - replies
          - recent
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsResponse'
  /v2/farcaster/channel/:
    get:
      tags:
      - Channel
      summary: By ID or parent_url
      description: Returns details of a channel
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-channel
      operationId: lookup-channel
      parameters:
      - in: query
        name: id
        description: Channel ID for the channel being queried
        required: true
        schema:
          example: neynar
          type: string
        style: form
      - in: query
        name: type
        description: Type of identifier being used to query the channel. Defaults to ID.
        schema:
          example: id
          type: string
          enum:
          - id
          - parent_url
        style: form
      - in: query
        name: viewer_fid
        description: FID of the user viewing the channel.
        schema:
          type: integer
          minimum: 1
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
  /v2/farcaster/channel/bulk/:
    get:
      tags:
      - Channel
      summary: Bulk fetch
      description: Returns details of multiple channels
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-bulk-channels
      operationId: fetch-bulk-channels
      parameters:
      - in: query
        name: ids
        description: Comma separated list of channel IDs or parent_urls, up to 100 at a time
        required: true
        schema:
          example: neynar,warpcast
          x-comma-separated: true
          type: string
        style: form
      - in: query
        name: type
        description: Type of identifier being used to query the channels. Defaults to ID.
        schema:
          example: id
          title: ChannelType
          type: string
          enum:
          - id
          - parent_url
        style: form
      - in: query
        name: viewer_fid
        description: FID of the user viewing the channels.
        schema:
          type: integer
          minimum: 1
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponseBulk'
  /v2/farcaster/channel/follow/:
    post:
      tags:
      - Channel
      summary: Follow a channel
      description: Follow a channel
      externalDocs:
        url: https://docs.neynar.com/reference/follow-channel
      operationId: follow-channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelFollowReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
    delete:
      tags:
      - Channel
      summary: Unfollow a channel
      description: Unfollow a channel
      externalDocs:
        url: https://docs.neynar.com/reference/unfollow-channel
      operationId: unfollow-channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelFollowReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
  /v2/farcaster/channel/followers/:
    get:
      tags:
      - Channel
      summary: For channel
      description: Returns a list of followers for a specific channel. Max limit is 1000. Use cursor for pagination.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-followers-for-a-channel
      operationId: fetch-followers-for-a-channel
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: id
        description: Channel ID for the channel being queried
        required: true
        schema:
          example: founders
          type: string
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a list of followers that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      - in: query
        name: limit
        description: Number of followers to fetch
        schema:
          example: 30
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
        x-is-limit-param: true
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
  /v2/farcaster/channel/followers/relevant/:
    get:
      tags:
      - Channel
      summary: Relevant followers
      description: Returns a list of relevant channel followers for a specific FID. This usually shows on a channel as "X, Y, Z follow this channel".
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-relevant-followers-for-a-channel
      operationId: fetch-relevant-followers-for-a-channel
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: id
        description: Channel ID being queried
        required: true
        schema:
          example: neynar
          type: string
        style: form
      - in: query
        name: viewer_fid
        description: The FID of the user to customize this response for. Providing this will also return a list of followers that respects this user's mutes and blocks and includes `viewer_context`.
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelevantFollowersResponse'
  /v2/farcaster/channel/list/:
    get:
      tags:
      - Channel
      summary: Fetch all channels with their details
      description: Returns a list of all channels with their details
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-all-channels
      operationId: fetch-all-channels
      parameters:
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 20
          type: integer
          minimum: 1
          maximum: 200
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
  /v2/farcaster/channel/member/:
    delete:
      tags:
      - Channel
      summary: Remove user
      description: Remove a user from a channel or a user's invite to a channel role
      externalDocs:
        url: https://docs.neynar.com/reference/remove-channel-member
      operationId: remove-channel-member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveChannelMemberReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
  /v2/farcaster/channel/member/invite/:
    put:
      tags:
      - Channel
      summary: Accept or reject an invite
      description: Accept or reject a channel invite
      externalDocs:
        url: https://docs.neynar.com/reference/respond-channel-invite
      operationId: respond-channel-invite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespondChannelInviteReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
    post:
      tags:
      - Channel
      summary: Invite
      description: Invite a user to a channel
      externalDocs:
        url: https://docs.neynar.com/reference/invite-channel-member
      operationId: invite-channel-member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteChannelMemberReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
  /v2/farcaster/channel/member/invite/list/:
    get:
      tags:
      - Channel
      summary: Open invites
      description: Fetch a list of invites, either in a channel or for a user. If both are provided, open channel invite for that user is returned.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-channel-invites
      operationId: fetch-channel-invites
      parameters:
      - in: query
        name: channel_id
        description: Channel ID for the channel being queried
        schema:
          example: neynar
          type: string
        style: form
      - in: query
        name: invited_fid
        description: FID of the user being invited
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 20
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberInviteListResponse'
  /v2/farcaster/channel/member/list/:
    get:
      tags:
      - Channel
      summary: Fetch members
      description: Fetch a list of members in a channel
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-channel-members
      operationId: fetch-channel-members
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: channel_id
        description: Channel ID for the channel being queried
        required: true
        schema:
          example: neynar
          type: string
        style: form
      - in: query
        name: fid
        description: FID of the user being queried. Specify this to check if a user is a member of the channel without paginating through all members.
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 20
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMemberListResponse'
  /v2/farcaster/channel/search/:
    get:
      tags:
      - Channel
      summary: Search by ID or name
      description: Returns a list of channels based on ID or name
      externalDocs:
        url: https://docs.neynar.com/reference/search-channels
      operationId: search-channels
      parameters:
      - in: query
        name: q
        description: Channel ID or name for the channel being queried
        required: true
        schema:
          example: neynar
          type: string
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 20
          type: integer
          minimum: 1
          maximum: 200
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      - in: query
        name: viewer_fid
        description: FID of the user viewing the channels.
        schema:
          type: integer
          minimum: 1
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelSearchResponse'
  /v2/farcaster/channel/trending/:
    get:
      tags:
      - Channel
      summary: Channels by activity
      description: Returns a list of trending channels based on activity
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-trending-channels
      operationId: fetch-trending-channels
      parameters:
      - in: query
        name: time_window
        schema:
          type: string
          enum:
          - 1d
          - 7d
          - 30d
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          default: 10
          type: integer
          format: int32
          minimum: 1
          maximum: 25
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingChannelResponse'
  /v2/farcaster/channel/user/:
    get:
      tags:
      - Channel
      summary: Fetch channels that user is active in
      description: Fetches all channels that a user has casted in, in reverse chronological order.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-users-active-channels
      operationId: fetch-users-active-channels
      parameters:
      - in: query
        name: fid
        description: The user's FID (identifier)
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          default: 20
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersActiveChannelsResponse'
  /v2/farcaster/feed/:
    get:
      tags:
      - Feed
      summary: By filters
      description: Fetch casts based on filters. Ensure setting the correct parameters based on the feed_type and filter_type.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed
      operationId: fetch-feed
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: feed_type
        description: Defaults to following (requires FID or address). If set to filter (requires filter_type)
        schema:
          example: filter
          title: FeedType
          default: following
          type: string
          enum:
          - following
          - filter
        style: form
      - in: query
        name: filter_type
        description: Used when feed_type=filter. Options include fids (requires fids), parent_url (requires parent_url), channel_id (requires channel_id), embed_url (requires embed_url), embed_types (requires embed_types), or global_trending.
        schema:
          example: fids
          title: FilterType
          type: string
          enum:
          - fids
          - parent_url
          - channel_id
          - embed_url
          - embed_types
          - global_trending
        style: form
      - in: query
        name: fid
        description: (Optional) FID of user whose feed you want to create. By default, the API expects this field, except if you pass a filter_type
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: fids
        description: Used when filter_type=FIDs . Create a feed based on a list of FIDs. Max array size is 100. Requires feed_type and filter_type.
        schema:
          example: 3,2,194
          x-accept-as: integer
          x-comma-separated: true
          type: string
        style: form
      - in: query
        name: parent_url
        description: Used when filter_type=parent_url can be used to fetch content under any parent url e.g. FIP-2 channels on Warpcast. Requires feed_type and filter_type.
        schema:
          example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
          type: string
        style: form
      - in: query
        name: channel_id
        description: Used when filter_type=channel_id can be used to fetch casts under a channel. Requires feed_type and filter_type.
        schema:
          example: neynar
          type: string
        style: form
      - in: query
        name: members_only
        description: Used when filter_type=channel_id. Only include casts from members of the channel. True by default.
        schema:
          deprecated: true
          example: true
          default: true
          type: boolean
        style: form
      - in: query
        name: embed_url
        description: Used when filter_type=embed_url. Casts with embedded URLs prefixed by this embed_url param will be returned. We normalize your given URL prefix and prepend 'https://' if no protocol is included. Requires feed_type and filter_type.
        schema:
          example: https://example.com
          type: string
        style: form
      - in: query
        name: embed_types
        description: Used when filter_type=embed_types can be used to fetch all casts with matching content types. Requires feed_type and filter_type.
        schema:
          type: array
          items:
            title: EmbedType
            description: The content type of the embedded file
            type: string
            enum:
            - text
            - image
            - video
            - audio
            - text/html
            - text/plain
            - image/jpeg
            - image/png
            - image/gif
            - image/webp
            - image/svg+xml
            - image/heif
            - video/mp4
            - video/quicktime
            - audio/mpeg
            - application/pdf
            - application/json
            - application/x-mpegurl
        style: form
      - in: query
        name: with_recasts
        description: Include recasts in the response, true by default
        schema:
          default: true
          type: boolean
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          example: 3
          type: integer
          minimum: 1
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
  /v2/farcaster/feed/channels/:
    get:
      tags:
      - Feed
      summary: By channel IDs
      description: Fetch feed based on channel IDs
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-by-channel-ids
      operationId: fetch-feed-by-channel-ids
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: channel_ids
        description: Comma separated list of up to 10 channel IDs e.g. neynar,farcaster
        required: true
        schema:
          example: neynar,farcaster
          x-comma-separated: true
          type: string
        style: form
      - in: query
        name: with_recasts
        description: Include recasts in the response, true by default
        schema:
          default: true
          type: boolean
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: with_replies
        description: Include replies in the response, false by default
        schema:
          default: false
          type: boolean
        style: form
      - in: query
        name: members_only
        description: Used when filter_type=channel_id. Only include casts from members of the channel. True by default.
        schema:
          deprecated: true
          example: true
          default: true
          type: boolean
        style: form
      - in: query
        name: fids
        description: Comma separated list of FIDs to filter the feed by, up to 10 at a time
        schema:
          x-accept-as: integer
          x-comma-separated: true
          type: string
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      - in: query
        name: should_moderate
        description: If true, only casts that have been liked by the moderator (if one exists) will be returned.
        schema:
          deprecated: true
          default: false
          type: boolean
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
  /v2/farcaster/feed/following/:
    get:
      tags:
      - Feed
      summary: Following
      description: Fetch feed based on who a user is following
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-following-feed
      operationId: fetch-user-following-feed
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: fid
        description: FID of user whose feed you want to create
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: with_recasts
        description: Include recasts in the response, true by default
        schema:
          example: true
          default: true
          type: boolean
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
  /v2/farcaster/feed/for_you/:
    get:
      tags:
      - Feed
      summary: For you
      description: Fetch a personalized For You feed for a user
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-for-you
      operationId: fetch-feed-for-you
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: fid
        description: FID of user whose feed you want to create
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          example: 3
          type: integer
          minimum: 1
        style: form
      - in: query
        name: provider
        description: The provider of the For You feed.
        schema:
          default: neynar
          type: string
          enum:
          - neynar
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 50
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
  /v2/farcaster/feed/parent_urls/:
    get:
      tags:
      - Feed
      summary: By parent URLs
      description: Fetch feed based on parent URLs
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-by-parent-urls
      operationId: fetch-feed-by-parent-urls
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: parent_urls
        description: Comma separated list of parent_urls
        required: true
        schema:
          example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
          x-comma-separated: true
          type: string
        style: form
      - in: query
        name: with_recasts
        description: Include recasts in the response, true by default
        schema:
          default: true
          type: boolean
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: with_replies
        description: Include replies in the response, false by default
        schema:
          default: false
          type: boolean
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
  /v2/farcaster/feed/topic/:
    get:
      tags:
      - Feed
      summary: By topic
      description: Fetch feed based on a topic slug.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-feed-by-topic
      operationId: fetch-feed-by-topic
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: slug
        description: Topic slug to filter casts by. Must be lowercase and contain only alphanumeric characters and underscores.
        required: true
        schema:
          example: ai_agents
          type: string
        style: form
      - in: query
        name: with_recasts
        description: Include recasts in the response, true by default.
        schema:
          default: true
          type: boolean
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          example: 3
          type: integer
          minimum: 1
        style: form
      - in: query
        name: limit
        description: Number of results to fetch.
        schema:
          example: 30
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
  /v2/farcaster/feed/trending/:
    get:
      tags:
      - Feed
      summary: Trending feeds
      description: Fetch trending casts or on the global feed or channels feeds. 7d time window available for channel feeds only.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-trending-feed
      operationId: fetch-trending-feed
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 10
          default: 10
          type: integer
          format: int32
          minimum: 1
          maximum: 10
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor
        schema:
          type: string
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: time_window
        description: Time window for trending casts (7d window for channel feeds only)
        schema:
          example: 24h
          default: 24h
          type: string
          enum:
          - 1h
          - 6h
          - 12h
          - 24h
          - 7d
        style: form
      - in: query
        name: channel_id
        description: Channel ID to filter trending casts. Less active channels might have no casts in the time window selected. Provide either `channel_id` or `parent_url`, not both.
        schema:
          example: neynar
          type: string
        style: form
      - in: query
        name: parent_url
        description: Parent URL to filter trending casts. Less active channels might have no casts in the time window selected. Provide either `channel_id` or `parent_url`, not both.
        schema:
          example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
          type: string
        style: form
      - in: query
        name: provider
        description: The provider of the trending casts feed.
        schema:
          example: neynar
          default: neynar
          type: string
          enum:
          - neynar
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
  /v2/farcaster/feed/user/casts/:
    get:
      tags:
      - Feed
      summary: Chronologically
      description: Fetch casts for a given user FID in reverse chronological order. Also allows filtering by parent_url and channel
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-casts-for-user
      operationId: fetch-casts-for-user
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: fid
        description: FID of user whose recent casts you want to fetch
        required: true
        schema:
          example: 194
          type: integer
          minimum: 1
        style: form
      - in: query
        name: app_fid
        description: Optionally filter to casts created via a specific app FID, e.g. 9152 for Warpcast
        schema:
          example: 9152
          type: integer
          minimum: 1
        style: form
      - in: query
        name: viewer_fid
        description: FID of the user viewing the feed
        schema:
          example: 3
          type: integer
          minimum: 1
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 150
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor
        schema:
          type: string
        style: form
      - in: query
        name: include_replies
        description: Include reply casts by the author in the response, true by default
        schema:
          example: true
          default: true
          type: boolean
        style: form
      - in: query
        name: parent_url
        description: Parent URL to filter the feed; mutually exclusive with channel_id
        schema:
          type: string
        style: form
      - in: query
        name: channel_id
        description: Channel ID to filter the feed; mutually exclusive with parent_url
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
  /v2/farcaster/feed/user/popular/:
    get:
      tags:
      - Feed
      summary: 10 most popular casts
      description: Fetch 10 most popular casts for a given user FID; popularity based on replies, likes and recasts; sorted by most popular first
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-popular-casts-by-user
      operationId: fetch-popular-casts-by-user
      parameters:
      - in: query
        name: fid
        description: FID of user whose feed you want to create
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: viewer_fid
        schema:
          type: integer
          minimum: 1
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCastsResponse'
  /v2/farcaster/feed/user/replies_and_recasts/:
    get:
      tags:
      - Feed
      summary: Replies and recasts
      description: Fetch recent replies and recasts for a given user FID; sorted by most recent first
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-replies-and-recasts-for-user
      operationId: fetch-replies-and-recasts-for-user
      parameters:
      - in: query
        name: fid
        description: FID of user whose replies and recasts you want to fetch
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: filter
        description: Filter to fetch only replies or recasts
        schema:
          example: replies
          default: all
          type: string
          enum:
          - replies
          - recasts
          - all
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 50
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a feed that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          type: integer
          minimum: 1
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
  /v2/farcaster/fname/availability/:
    get:
      tags:
      - fname
      summary: Check fname availability
      description: Check if a given fname is available
      externalDocs:
        url: https://docs.neynar.com/reference/is-fname-available
      operationId: is-fname-available
      parameters:
      - in: query
        name: fname
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FnameAvailabilityResponse'
  /v2/farcaster/followers/:
    get:
      tags:
      - Follows
      summary: Followers
      description: Returns a list of followers for a specific FID.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-followers
      operationId: fetch-user-followers
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: fid
        description: User who's profile you are looking at
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a list of followers that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: sort_type
        description: Sort type for fetch followers. Default is `desc_chron`
        schema:
          example: desc_chron
          type: string
          enum:
          - desc_chron
          - algorithmic
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 30
          default: 20
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowersResponse'
  /v2/farcaster/followers/reciprocal/:
    get:
      tags:
      - Follows
      summary: Reciprocal Followers
      description: Returns users who the given FID follows and they follow the FID back (reciprocal following relationship)
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-reciprocal-followers
      operationId: fetch-user-reciprocal-followers
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: fid
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: viewer_fid
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: limit
        schema:
          default: 25
          type: integer
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor
        schema:
          type: string
        style: form
      - in: query
        name: sort_type
        schema:
          default: algorithmic
          type: string
          enum:
          - desc_chron
          - algorithmic
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    $ref: '#/components/schemas/NextCursor'
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReciprocalFollower'
                required:
                - users
                - next
  /v2/farcaster/followers/relevant/:
    get:
      tags:
      - Follows
      summary: Relevant followers
      description: Returns a list of relevant followers for a specific FID. This usually shows on a profile as "X, Y and Z follow this user".
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-relevant-followers
      operationId: fetch-relevant-followers
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: target_fid
        description: User who's profile you are looking at
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: viewer_fid
        description: The FID of the user to customize this response for. Providing this will also return a list of followers that respects this user's mutes and blocks and includes `viewer_context`.
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelevantFollowersResponse'
  /v2/farcaster/following/:
    get:
      tags:
      - Follows
      summary: Following
      description: Fetch a list of users who a given user is following. Can optionally include a viewer_fid and sort_type.
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-user-following
      operationId: fetch-user-following
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: fid
        description: FID of the user whose following you want to fetch.
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a list of users that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          example: 3
          type: integer
          minimum: 1
        style: form
      - in: query
        name: sort_type
        description: Optional parameter to sort the users based on different criteria.
        schema:
          example: desc_chron
          type: string
          enum:
          - desc_chron
          - algorithmic
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowersResponse'
  /v2/farcaster/following/suggested/:
    get:
      tags:
      - Follows
      summary: Suggest Follows
      description: Fetch a list of suggested users to follow. Used to help users discover new users to follow
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-follow-suggestions
      operationId: fetch-follow-suggestions
      parameters:
      - $ref: '#/components/parameters/NeynarExperimentalHeader'
      - in: query
        name: fid
        description: FID of the user whose following you want to fetch.
        required: true
        schema:
          type: integer
        style: form
      - in: query
        name: viewer_fid
        description: Providing this will return a list of users that respects this user's mutes and blocks and includes `viewer_context`.
        schema:
          type: integer
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
  /v2/farcaster/frame/catalog/:
    get:
      tags:
      - Frame
      summary: Mini apps catalog
      description: A curated list of featured mini apps
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-frame-catalog
      operationId: fetch-frame-catalog
      parameters:
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 100
          default: 100
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor
        schema:
          type: string
        style: form
      - in: query
        name: time_window
        description: Time window used to calculate the change in trending score for each mini app, used to sort mini app results
        schema:
          example: 7d
          title: MiniAppTimeWindow
          default: 7d
          type: string
          enum:
          - 1h
          - 6h
          - 12h
          - 24h
          - 7d
        style: form
      - in: query
        name: categories
        description: 'Comma separated list of categories to include in the results. Includes all if left blank. Example: categories=games,social OR categories=games&categories=social'
        schema:
          example:
          - games
          - social
          type: array
          items:
            title: FrameCategory
            type: string
            enum:
            - games
            - social
            - finance
            - utility
            - productivity
            - health-fitness
            - news-media
            - music
            - shopping
            - education
            - developer-tools
            - entertainment
            - art-creativity
        style: form
      - in: query
        name: networks
        description: List of blockchain networks by which to filter results.  Mini apps included in the results will specify at least one of the supplied networks or specify none. The list can be provided as comma-separated string or array.
        schema:
          example:
          - ethereum
          - base
          - solana
          title: MiniappNetworksSchema
          type: array
          items:
            example: base
            description: Networks supported by mini apps
            type: string
            enum:
            - ethereum
            - base
            - arbitrum
            - arbitrum-sepolia
            - base-sepolia
            - degen
            - gnosis
            - optimism
            - optimism-sepolia
            - polygon
            - ethereum-sepolia
            - zora
            - unichain
            - monad-testnet
            - celo
            - solana
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameCatalogResponse'
  /v2/farcaster/frame/notification_tokens/:
    get:
      tags:
      - Frame
      summary: List of mini app notification tokens
      description: Returns a list of notifications tokens related to a mini app
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-notification-tokens
      operationId: fetch-notification-tokens
      parameters:
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 20
          default: 20
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: fids
        description: Comma separated list of FIDs, up to 100 at a time. If you pass in FIDs, you will get back the notification tokens for those FIDs. If you don't pass in FIDs, you will get back all the notification tokens for the mini app.
        schema:
          example: 194, 191, 6131
          x-accept-as: integer
          x-comma-separated: true
          type: string
        style: form
      - in: query
        name: cursor
        description: Pagination cursor
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameNotificationTokens'
  /v2/farcaster/frame/notifications/:
    get:
      tags:
      - Frame
      summary: Get notification campaign stats
      description: Retrieve notification delivery and opened stats for notification campaigns
      externalDocs:
        url: https://docs.neynar.com/reference/get-notification-campaign-stats
      operationId: get-notification-campaign-stats
      parameters:
      - in: query
        name: campaign_id
        description: An ID of a specific notification campaign to query
        schema:
          type: string
          format: uuid
        style: form
      - in: query
        name: limit
        description: The number of results to return
        schema:
          default: 100
          type: integer
          minimum: 1
          maximum: 1000
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    $ref: '#/components/schemas/NextCursor'
                  notificationCampaigns:
                    type: array
                    items:
                      $ref: '#/components/schemas/NotificationCampaign'
                required:
                - notificationCampaigns
                - next
    post:
      tags:
      - Frame
      summary: Send notifications
      description: Send notifications to interactors of a mini app. By default every broadcast is delivered synchronously and returns 200 with aggregate counts. When the `ASYNC_NOTIFICATIONS_ENABLED` server flag is on, broadcasts with more than 100 notification tokens are queued and return 202 with a campaign_id instead; poll the campaign stats endpoint for progress. Small broadcasts always stay synchronous.
      externalDocs:
        url: https://docs.neynar.com/reference/publish-frame-notifications
      operationId: publish-frame-notifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendFrameNotificationsReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendFrameNotificationsResponse'
  /v2/farcaster/frame/relevant/:
    get:
      tags:
      - Frame
      summary: Relevant mini apps
      description: Fetch a list of mini apps relevant to the user based on casts by users with strong affinity score for the user
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-relevant-frames
      operationId: fetch-relevant-frames
      parameters:
      - in: query
        name: viewer_fid
        description: FID of the user to fetch relevant mini apps for
        required: true
        schema:
          type: integer
          minimum: 1
        style: form
      - in: query
        name: time_window
        description: Time window used to limit statistics used to calculate mini app relevance
        schema:
          example: 7d
          default: 7d
          type: string
          enum:
          - 1h
          - 6h
          - 12h
          - 24h
          - 7d
        style: form
      - in: query
        name: networks
        description: List of blockchain networks by which to filter results.  Mini apps included in the results will specify at least one of the supplied networks or specify none. The list can be provided as comma-separated string or array.
        schema:
          example:
          - ethereum
          - base
          - solana
          title: MiniappNetworksSchema
          type: array
          items:
            example: base
            description: Networks supported by mini apps
            type: string
            enum:
            - ethereum
            - base
            - arbitrum
            - arbitrum-sepolia
            - base-sepolia
            - degen
            - gnosis
            - optimism
            - optimism-sepolia
            - polygon
            - ethereum-sepolia
            - zora
            - unichain
            - monad-testnet
            - celo
            - solana
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  relevant_frames:
                    type: array
                    items:
                      type: object
                      properties:
                        frame:
                          description: FrameV2 object
                          type: object
                          properties:
                            author:
                              $ref: '#/components/schemas/User'
                            frames_url:
                              description: Launch URL of the mini app
                              type: string
                            image:
                              description: URL of the image
                              type: string
                            manifest:
                              $ref: '#/components/schemas/FarcasterManifest'
                            metadata:
                              type: object
                              properties:
                                html:
                                  $ref: '#/components/schemas/HtmlMetadata'
                              required:
                              - html
                            title:
                              description: Button title of a mini app
                              type: string
                            version:
                              description: Version of the mini app, 'next' for v2, 'vNext' for v1
                              type: string
                          required:
                          - version
                          - image
                          - frames_url
                        remaining_relevant_users:
                          description: Array of remaining relevant users in dehydrated form
                          type: array
                          items:
                            $ref: '#/components/schemas/UserDehydrated'
                        top_relevant_users:
                          description: Array of the most relevant users
                          type: array
                          items:
                            $ref: '#/components/schemas/User'
                      required:
                      - frame
                      - top_relevant_users
                      - remaining_relevant_users
                required:
                - relevant_frames
  /v2/farcaster/frame/search/:
    get:
      tags:
      - Frame
      summary: Search mini apps
      description: Search for mini apps based on a query string
      externalDocs:
        url: https://docs.neynar.com/reference/search-frames
      operationId: search-frames
      parameters:
      - in: query
        name: q
        description: Query string to search for mini apps
        required: true
        schema:
          type: string
          maxLength: 32
        style: form
      - in: query
        name: limit
        description: Number of results to fetch
        schema:
          example: 20
          default: 20
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        x-is-limit-param: true
        style: form
      - in: query
        name: cursor
        description: Pagination cursor
        schema:
          type: string
        style: form
      - in: query
        name: networks
        description: List of blockchain networks by which to filter results.  Mini apps included in the results will specify at least one of the supplied networks or specify none. The list can be provided as comma-separated string or array.
        schema:
          example:
          - ethereum
          - base
          - solana
          title: MiniappNetworksSchema
          type: array
          items:
            example: base
            description: Networks supported by mini apps
            type: string
            enum:
            - ethereum
            - base
            - arbitrum
            - arbitrum-sepolia
            - base-sepolia
            - degen
            - gnosis
            - optimism
            - optimism-sepolia
            - polygon
            - ethereum-sepolia
            - zora
            - unichain
            - monad-testnet
            - celo
            - solana
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameCatalogResponse'
  /v2/farcaster/frame/transaction/pay/:
    get:
      tags:
      - Frame
      summary: Get transaction pay mini app
      description: Retrieves details about a transaction pay mini app by ID
      externalDocs:
        url: https://docs.neynar.com/reference/get-transaction-pay-frame
      operationId: get-transaction-pay-frame
      parameters:
      - in: query
        name: id
        description: ID of the transaction mini app to retrieve
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFrameResponse'
    post:
      tags:
      - Agents
      summary: Create transaction pay mini app
      description: Creates a new transaction pay mini app that can be used to collect payments through a mini app
      externalDocs:
        url: https://docs.neynar.com/reference/create-transaction-pay-frame
      operationId: create-transaction-pay-frame
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FramePayTransactionReqBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFrameResponse'
  /v2/farcaster/fungible/owner/relevant/:
    get:
      tags:
      - Onchain
      summary: Relevant owners
      description: Fetch a list of relevant owners for a on chain asset. If a viewer is provided, only relevant holders will be shown. This usually shows on a fungible asset page as "X, Y, Z and N others you know own this asset".
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-relevant-fungible-owners
      operationId: fetch-relevant-fungible-owners
      parameters:
      - in: query
        name: contract_address
        description: Contract address of the fungible asset (Ethereum or Solana)
        required: true
        schema:
          example: 0x0db510e79909666d6dec7f5e49370838c16d950f (eth) --OR-- EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v (solana)
          type: string
        style: form
      - in: query
        name: network
        description: Network of the fungible asset.
        required: true
        schema:
          title: FungibleOwnerRelevantNetwork
          type: string
          enum:
          - ethereum
          - optimism
          - base
          - arbitrum
          - solana
        style: form
      - in: query
        name: viewer_fid
[...]
