openapi: 3.0.3
info:
  title: OKX V5 API
  version: '5.0'
  description: |
    OKX V5 REST API surface used by the Aomi `okx` app.

    Only the endpoints actually called by `apps/okx/src/tool.rs` are
    described here — public market data (tickers/books/candles) plus signed
    account/order endpoints.

    ## Auth
    Signed endpoints require these request headers, sent on every signed call:
      - `OK-ACCESS-KEY`        — your API key
      - `OK-ACCESS-SIGN`       — base64(HMAC-SHA256(secret, prehash))
      - `OK-ACCESS-TIMESTAMP`  — ISO-8601 timestamp e.g. 2024-01-01T00:00:00.000Z
      - `OK-ACCESS-PASSPHRASE` — the passphrase set when the API key was created

    The prehash is `timestamp + method + requestPath + body` where `requestPath`
    includes the query string. The HMAC key is the API secret. The signing logic
    is hand-written in `ext/src/okx/auth.rs` — this spec only describes the
    resulting headers for codegen purposes. The curated tool layer in
    `apps/okx/src/tool.rs` computes the signature before calling the generated
    method.

    All responses share an envelope: `{ code: "0", msg: "", data: [...] }`.
    Non-zero `code` indicates a logical error even on HTTP 200.
servers:
  - url: https://www.okx.com
paths:
  /api/v5/market/tickers:
    get:
      operationId: getTickers
      summary: Latest ticker snapshot for instruments of a given type
      description: |
        Public endpoint. Returns last price, 24h volume, best bid/ask, etc. for
        every instrument of the given type (SPOT, SWAP, FUTURES, OPTION).
      parameters:
        - name: instType
          in: query
          required: true
          description: '`SPOT`, `SWAP`, `FUTURES`, or `OPTION`.'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'

  /api/v5/market/books:
    get:
      operationId: getOrderBook
      summary: Order-book bids and asks for an instrument
      description: |
        Public endpoint. Returns bids/asks at the requested depth.
      parameters:
        - name: instId
          in: query
          required: true
          description: Instrument ID e.g. `BTC-USDT`, `BTC-USDT-SWAP`.
          schema:
            type: string
        - name: sz
          in: query
          required: false
          description: Depth — max 400; default 1.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'

  /api/v5/market/candles:
    get:
      operationId: getCandles
      summary: OHLCV candles for an instrument
      description: |
        Public endpoint. Returns candle arrays for the given instrument.
      parameters:
        - name: instId
          in: query
          required: true
          schema:
            type: string
        - name: bar
          in: query
          required: false
          description: Bar size — `1m`, `3m`, `5m`, `15m`, `30m`, `1H`, `4H`, `1D`, `1W`, `1M`.
          schema:
            type: string
        - name: after
          in: query
          required: false
          description: Pagination — return records newer than this ms timestamp.
          schema:
            type: string
        - name: before
          in: query
          required: false
          description: Pagination — return records older than this ms timestamp.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Max 300, default 100.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'

  /api/v5/trade/order:
    post:
      operationId: placeOrder
      summary: Place a new order (signed)
      description: |
        Signed endpoint. JSON body. The curated tool computes the HMAC over
        `timestamp + "POST" + "/api/v5/trade/order" + body_json` and passes the
        signature/timestamp/api-key/passphrase as headers.
      parameters:
        - $ref: '#/components/parameters/OkAccessKey'
        - $ref: '#/components/parameters/OkAccessSign'
        - $ref: '#/components/parameters/OkAccessTimestamp'
        - $ref: '#/components/parameters/OkAccessPassphrase'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceOrderRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'

  /api/v5/trade/cancel-order:
    post:
      operationId: cancelOrder
      summary: Cancel an open order (signed)
      description: Signed endpoint. JSON body.
      parameters:
        - $ref: '#/components/parameters/OkAccessKey'
        - $ref: '#/components/parameters/OkAccessSign'
        - $ref: '#/components/parameters/OkAccessTimestamp'
        - $ref: '#/components/parameters/OkAccessPassphrase'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'

  /api/v5/account/balance:
    get:
      operationId: getBalance
      summary: Account balances (signed)
      description: |
        Signed endpoint. Returns unified-account balances; optional `ccy` is a
        comma-separated currency list.
      parameters:
        - $ref: '#/components/parameters/OkAccessKey'
        - $ref: '#/components/parameters/OkAccessSign'
        - $ref: '#/components/parameters/OkAccessTimestamp'
        - $ref: '#/components/parameters/OkAccessPassphrase'
        - name: ccy
          in: query
          required: false
          description: Comma-separated currency list, e.g. `BTC,USDT`.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'

  /api/v5/account/positions:
    get:
      operationId: getPositions
      summary: Open derivative positions (signed)
      description: Signed endpoint.
      parameters:
        - $ref: '#/components/parameters/OkAccessKey'
        - $ref: '#/components/parameters/OkAccessSign'
        - $ref: '#/components/parameters/OkAccessTimestamp'
        - $ref: '#/components/parameters/OkAccessPassphrase'
        - name: instType
          in: query
          required: false
          description: '`SPOT`, `SWAP`, `FUTURES`, or `OPTION`.'
          schema:
            type: string
        - name: instId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'

  /api/v5/account/set-leverage:
    post:
      operationId: setLeverage
      summary: Set per-instrument leverage (signed)
      description: Signed endpoint. JSON body.
      parameters:
        - $ref: '#/components/parameters/OkAccessKey'
        - $ref: '#/components/parameters/OkAccessSign'
        - $ref: '#/components/parameters/OkAccessTimestamp'
        - $ref: '#/components/parameters/OkAccessPassphrase'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetLeverageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'

components:
  parameters:
    OkAccessKey:
      name: OK-ACCESS-KEY
      in: header
      required: true
      schema:
        type: string
    OkAccessSign:
      name: OK-ACCESS-SIGN
      in: header
      required: true
      schema:
        type: string
    OkAccessTimestamp:
      name: OK-ACCESS-TIMESTAMP
      in: header
      required: true
      schema:
        type: string
    OkAccessPassphrase:
      name: OK-ACCESS-PASSPHRASE
      in: header
      required: true
      schema:
        type: string

  schemas:
    EnvelopeResponse:
      type: object
      additionalProperties: true
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          type: array
          items:
            type: object
            additionalProperties: true

    PlaceOrderRequest:
      type: object
      required: [instId, tdMode, side, ordType, sz]
      properties:
        instId:
          type: string
        tdMode:
          type: string
          description: '`cash` (spot) / `cross` / `isolated`.'
        side:
          type: string
          description: '`buy` or `sell`.'
        ordType:
          type: string
          description: '`market`, `limit`, `post_only`, `fok`, `ioc`.'
        sz:
          type: string
        px:
          type: string
          description: Price (required for limit orders).

    CancelOrderRequest:
      type: object
      required: [instId, ordId]
      properties:
        instId:
          type: string
        ordId:
          type: string

    SetLeverageRequest:
      type: object
      required: [instId, lever, mgnMode]
      properties:
        instId:
          type: string
        lever:
          type: string
        mgnMode:
          type: string
          description: '`cross` or `isolated`.'
