openapi: 3.0.3
info:
  title: OKX V5 API
  description: |
    OKX V5 REST API surface used by the Aomi `okx` app.

    Only the endpoints actually called by `apps/okx/src/tool.rs` are
    described here — public market data (tickers/books/candles) plus signed
    account/order endpoints.

    ## Auth
    Signed endpoints require these request headers, sent on every signed call:
      - `OK-ACCESS-KEY`        — your API key
      - `OK-ACCESS-SIGN`       — base64(HMAC-SHA256(secret, prehash))
      - `OK-ACCESS-TIMESTAMP`  — ISO-8601 timestamp e.g. 2024-01-01T00:00:00.000Z
      - `OK-ACCESS-PASSPHRASE` — the passphrase set when the API key was created

    The prehash is `timestamp + method + requestPath + body` where `requestPath`
    includes the query string. The HMAC key is the API secret. The signing logic
    is hand-written in `ext/src/okx/auth.rs` — this spec only describes the
    resulting headers for codegen purposes. The curated tool layer in
    `apps/okx/src/tool.rs` computes the signature before calling the generated
    method.

    All responses share an envelope: `{ code: "0", msg: "", data: [...] }`.
    Non-zero `code` indicates a logical error even on HTTP 200.
  version: '5.0'
servers:
- url: https://www.okx.com
paths:
  /api/v5/market/tickers:
    get:
      summary: Latest ticker snapshot for instruments of a given type
      description: |
        Public endpoint. Returns last price, 24h volume, best bid/ask, etc. for
        every instrument of the given type (SPOT, SWAP, FUTURES, OPTION).
      operationId: getTickers
      parameters:
      - in: query
        name: instType
        description: '`SPOT`, `SWAP`, `FUTURES`, or `OPTION`.'
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'
  /api/v5/market/books:
    get:
      summary: Order-book bids and asks for an instrument
      description: |
        Public endpoint. Returns bids/asks at the requested depth.
      operationId: getOrderBook
      parameters:
      - in: query
        name: instId
        description: Instrument ID e.g. `BTC-USDT`, `BTC-USDT-SWAP`.
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: sz
        description: Depth — max 400; default 1.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'
  /api/v5/market/candles:
    get:
      summary: OHLCV candles for an instrument
      description: |
        Public endpoint. Returns candle arrays for the given instrument.
      operationId: getCandles
      parameters:
      - in: query
        name: instId
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: bar
        description: Bar size — `1m`, `3m`, `5m`, `15m`, `30m`, `1H`, `4H`, `1D`, `1W`, `1M`.
        schema:
          type: string
        style: form
      - in: query
        name: after
        description: Pagination — return records newer than this ms timestamp.
        schema:
          type: string
        style: form
      - in: query
        name: before
        description: Pagination — return records older than this ms timestamp.
        schema:
          type: string
        style: form
      - in: query
        name: limit
        description: Max 300, default 100.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'
  /api/v5/trade/order:
    post:
      summary: Place a new order (signed)
      description: |
        Signed endpoint. JSON body. The curated tool computes the HMAC over
        `timestamp + "POST" + "/api/v5/trade/order" + body_json` and passes the
        signature/timestamp/api-key/passphrase as headers.
      operationId: placeOrder
      parameters:
      - $ref: '#/components/parameters/OkAccessKey'
      - $ref: '#/components/parameters/OkAccessSign'
      - $ref: '#/components/parameters/OkAccessTimestamp'
      - $ref: '#/components/parameters/OkAccessPassphrase'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceOrderRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'
  /api/v5/trade/cancel-order:
    post:
      summary: Cancel an open order (signed)
      description: Signed endpoint. JSON body.
      operationId: cancelOrder
      parameters:
      - $ref: '#/components/parameters/OkAccessKey'
      - $ref: '#/components/parameters/OkAccessSign'
      - $ref: '#/components/parameters/OkAccessTimestamp'
      - $ref: '#/components/parameters/OkAccessPassphrase'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'
  /api/v5/account/balance:
    get:
      summary: Account balances (signed)
      description: |
        Signed endpoint. Returns unified-account balances; optional `ccy` is a
        comma-separated currency list.
      operationId: getBalance
      parameters:
      - $ref: '#/components/parameters/OkAccessKey'
      - $ref: '#/components/parameters/OkAccessSign'
      - $ref: '#/components/parameters/OkAccessTimestamp'
      - $ref: '#/components/parameters/OkAccessPassphrase'
      - in: query
        name: ccy
        description: Comma-separated currency list, e.g. `BTC,USDT`.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'
  /api/v5/account/positions:
    get:
      summary: Open derivative positions (signed)
      description: Signed endpoint.
      operationId: getPositions
      parameters:
      - $ref: '#/components/parameters/OkAccessKey'
      - $ref: '#/components/parameters/OkAccessSign'
      - $ref: '#/components/parameters/OkAccessTimestamp'
      - $ref: '#/components/parameters/OkAccessPassphrase'
      - in: query
        name: instType
        description: '`SPOT`, `SWAP`, `FUTURES`, or `OPTION`.'
        schema:
          type: string
        style: form
      - in: query
        name: instId
        schema:
          type: string
        style: form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'
  /api/v5/account/set-leverage:
    post:
      summary: Set per-instrument leverage (signed)
      description: Signed endpoint. JSON body.
      operationId: setLeverage
      parameters:
      - $ref: '#/components/parameters/OkAccessKey'
      - $ref: '#/components/parameters/OkAccessSign'
      - $ref: '#/components/parameters/OkAccessTimestamp'
      - $ref: '#/components/parameters/OkAccessPassphrase'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetLeverageRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeResponse'
components:
  schemas:
    EnvelopeResponse:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        data:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    PlaceOrderRequest:
      type: object
      properties:
        instId:
          type: string
        tdMode:
          description: '`cash` (spot) / `cross` / `isolated`.'
          type: string
        side:
          description: '`buy` or `sell`.'
          type: string
        ordType:
          description: '`market`, `limit`, `post_only`, `fok`, `ioc`.'
          type: string
        sz:
          type: string
        px:
          description: Price (required for limit orders).
          type: string
      required:
      - instId
      - tdMode
      - side
      - ordType
      - sz
    CancelOrderRequest:
      type: object
      properties:
        instId:
          type: string
        ordId:
          type: string
      required:
      - instId
      - ordId
    SetLeverageRequest:
      type: object
      properties:
        instId:
          type: string
        lever:
          type: string
        mgnMode:
          description: '`cross` or `isolated`.'
          type: string
      required:
      - instId
      - lever
      - mgnMode
  parameters:
    OkAccessKey:
      in: header
      name: OK-ACCESS-KEY
      required: true
      schema:
        type: string
      style: simple
    OkAccessSign:
      in: header
      name: OK-ACCESS-SIGN
      required: true
      schema:
        type: string
      style: simple
    OkAccessTimestamp:
      in: header
      name: OK-ACCESS-TIMESTAMP
      required: true
      schema:
        type: string
      style: simple
    OkAccessPassphrase:
      in: header
      name: OK-ACCESS-PASSPHRASE
      required: true
      schema:
        type: string
      style: simple
