openapi: 3.0.3
info:
  title: 1inch Swap API
  version: 6.0.0
  description: |
    1inch Aggregation Protocol Swap API v6.0. Provides best-execution token swaps
    across DEX liquidity on supported EVM chains. The API returns quotes,
    swap transactions ready for the user to sign, ERC-20 approval calldata,
    and reference data such as the supported token list.

    ## Auth
    All endpoints require a Bearer token in the `Authorization` header. Obtain a
    free API key at https://portal.1inch.dev/.

    ## Supported chains
    Pass the EVM chain id as the `{chain}` path parameter. Officially supported
    chain ids include: 1 (Ethereum), 10 (Optimism), 56 (BNB Chain), 100 (Gnosis),
    137 (Polygon), 8453 (Base), 42161 (Arbitrum), 43114 (Avalanche).

    ## Native asset
    Use the sentinel address `0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee` to
    represent the native asset of a chain (ETH, MATIC, BNB, AVAX, ...).
servers:
  - url: https://api.1inch.dev/swap/v6.0
    description: Production
security:
  - bearerAuth: []
paths:
  /{chain}/quote:
    get:
      operationId: getQuote
      summary: Get a swap quote
      description: |
        Returns the best route across DEX liquidity for selling `amount` of `src`
        for `dst` on the given chain. Does not require a wallet address.
      parameters:
        - $ref: '#/components/parameters/Chain'
        - name: src
          in: query
          required: true
          schema:
            type: string
          description: Source token address (use sentinel for native asset).
        - name: dst
          in: query
          required: true
          schema:
            type: string
          description: Destination token address.
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: Sell amount in source-token base units (wei for 18-dec tokens).
        - name: protocols
          in: query
          required: false
          schema:
            type: string
          description: Optional comma-separated list of liquidity protocols to restrict routing to.
      responses:
        '200':
          description: Quote response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{chain}/swap:
    get:
      operationId: getSwap
      summary: Build a swap transaction
      description: |
        Returns an executable swap transaction (`to`, `data`, `value`, `gas`)
        the caller can submit on-chain. For ERC-20 sells the user must first
        grant allowance to the 1inch router (see `/approve/transaction`).
      parameters:
        - $ref: '#/components/parameters/Chain'
        - name: src
          in: query
          required: true
          schema:
            type: string
        - name: dst
          in: query
          required: true
          schema:
            type: string
        - name: amount
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: Sender wallet address.
        - name: slippage
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Max acceptable slippage as a percent (1 = 1%).
        - name: protocols
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Swap response with embedded transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{chain}/approve/transaction:
    get:
      operationId: getApproveTransaction
      summary: Build an ERC-20 approval transaction for the 1inch router
      parameters:
        - $ref: '#/components/parameters/Chain'
        - name: tokenAddress
          in: query
          required: true
          schema:
            type: string
        - name: amount
          in: query
          required: false
          schema:
            type: string
          description: Approval amount in token base units. Omit for unlimited approval.
      responses:
        '200':
          description: Approval transaction calldata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{chain}/approve/allowance:
    get:
      operationId: getAllowance
      summary: Check current ERC-20 allowance for the 1inch router
      parameters:
        - $ref: '#/components/parameters/Chain'
        - name: tokenAddress
          in: query
          required: true
          schema:
            type: string
        - name: walletAddress
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Current allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowanceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{chain}/tokens:
    get:
      operationId: getTokens
      summary: List tokens supported by 1inch on a chain
      parameters:
        - $ref: '#/components/parameters/Chain'
      responses:
        '200':
          description: Tokens map keyed by lowercase address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokensResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{chain}/liquidity-sources:
    get:
      operationId: getLiquiditySources
      summary: List liquidity sources (protocols) supported on a chain
      parameters:
        - $ref: '#/components/parameters/Chain'
      responses:
        '200':
          description: Supported liquidity sources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquiditySourcesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 1inch developer Bearer token from https://portal.1inch.dev/.
  parameters:
    Chain:
      name: chain
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: EVM chain id (1, 10, 56, 100, 137, 8453, 42161, 43114, ...).
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      additionalProperties: true
      properties:
        statusCode:
          type: integer
        error:
          type: string
        description:
          type: string
    Transaction:
      type: object
      description: An EVM transaction the caller can sign and submit.
      properties:
        from:
          type: string
        to:
          type: string
        data:
          type: string
        value:
          type: string
        gas:
          type: string
        gasPrice:
          type: string
      additionalProperties: true
    AllowanceResponse:
      type: object
      properties:
        allowance:
          type: string
          description: Current allowance in token base units.
      additionalProperties: true
    QuoteResponse:
      type: object
      properties:
        srcAmount:
          type: string
        dstAmount:
          type: string
        protocols:
          type: array
          description: Routing details across DEX protocols.
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    SwapResponse:
      type: object
      properties:
        srcAmount:
          type: string
        dstAmount:
          type: string
        protocols:
          type: array
          items:
            type: object
            additionalProperties: true
        tx:
          $ref: '#/components/schemas/Transaction'
      additionalProperties: true
    Token:
      type: object
      properties:
        symbol:
          type: string
        name:
          type: string
        address:
          type: string
        decimals:
          type: integer
        logoURI:
          type: string
      additionalProperties: true
    TokensResponse:
      type: object
      properties:
        tokens:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Token'
      additionalProperties: true
    LiquiditySource:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        img:
          type: string
      additionalProperties: true
    LiquiditySourcesResponse:
      type: object
      properties:
        protocols:
          type: array
          items:
            $ref: '#/components/schemas/LiquiditySource'
      additionalProperties: true
