openapi: 3.0.0
info:
  title: Limitless Exchange API
  description: Production-ready REST API for prediction market trading, portfolio management, and market data on Limitless Exchange (Base L2).
  contact:
    name: API Support
    url: https://limitless.exchange
    email: help@limitless.network
  version: '1.0'
servers:
- url: https://api.limitless.exchange
  description: Production API
paths:
  /auth/api-keys:
    get:
      tags:
      - Authentication
      summary: Get active API key
      description: Returns the currently active API key metadata for the authenticated user. Does not return the key value itself.
      operationId: ApiKeyController_getActiveKey
      responses:
        '200':
          description: Active API key metadata, or null if no active key exists
          content:
            application/json:
              schema:
                nullable: true
                type: object
                properties:
                  createdAt:
                    example: 2025-06-15T10:30:00Z
                    description: When the key was created
                    type: string
                    format: date-time
                  keyId:
                    example: key_abc123def456
                    description: Unique identifier for the API key
                    type: string
                  lastUsedAt:
                    nullable: true
                    example: 2025-06-16T08:00:00Z
                    description: When the key was last used
                    type: string
                    format: date-time
    post:
      tags:
      - Authentication
      summary: Create API key
      description: Creates a new API key for programmatic access. Only available for users authenticated via the UI (Privy). Previous active keys are automatically revoked.
      operationId: ApiKeyController_createApiKey
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    example: lmts_sk_1234567890abcdef...
                    description: The API key value. Only shown once at creation time.
                    type: string
                  createdAt:
                    example: 2025-06-15T10:30:00Z
                    description: When the key was created
                    type: string
                    format: date-time
                  keyId:
                    example: key_abc123def456
                    description: Unique identifier for the API key
                    type: string
    delete:
      tags:
      - Authentication
      summary: Revoke API key
      description: Revokes the currently active API key. The key will immediately stop working for authentication.
      operationId: ApiKeyController_revokeKey
      responses:
        '200':
          description: API key revoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: API key revoked successfully
                    type: string
  /auth/api-tokens:
    get:
      tags:
      - API Tokens
      summary: List active tokens
      description: Lists all active (non-revoked) API tokens for the authenticated partner. Requires token management to be enabled for the partner.
      operationId: ApiTokenController_listTokens
      responses:
        '200':
          description: List of active tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiTokenListItem'
      security:
      - ApiKeyAuth: []
      - HmacAuth: []
  /auth/api-tokens/capabilities:
    get:
      tags:
      - API Tokens
      summary: Get partner capabilities
      description: Returns the partner capability configuration for the authenticated user, including whether token management is enabled and which scopes are allowed for self-service token derivation. Requires Privy authentication (Bearer token).
      operationId: ApiTokenController_getCapabilities
      responses:
        '200':
          description: Partner capability configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerCapabilitiesResponse'
      security:
      - ApiKeyAuth: []
  /auth/api-tokens/derive:
    post:
      tags:
      - API Tokens
      summary: Derive scoped API token
      description: Creates a new scoped API token for the authenticated partner. Requires Privy authentication (Bearer token). The token secret is returned once at creation — store it securely. Requested scopes must be a subset of the partner's allowed scopes.
      operationId: ApiTokenController_deriveToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeriveApiTokenRequest'
        required: true
      responses:
        '201':
          description: Token created successfully. The secret is only returned once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeriveApiTokenResponse'
      security:
      - ApiKeyAuth: []
  /auth/api-tokens/{tokenId}:
    delete:
      tags:
      - API Tokens
      summary: Revoke token
      description: Revokes an active API token. The token becomes immediately unusable. Requires token management to be enabled for the partner.
      operationId: ApiTokenController_revokeToken
      parameters:
      - in: path
        name: tokenId
        description: The token ID to revoke
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Token revoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: API token revoked successfully
                    type: string
      security:
      - ApiKeyAuth: []
      - HmacAuth: []
  /auth/login:
    post:
      tags:
      - Authentication
      summary: User login (removed)
      description: Deprecated. Cookie-based session login has been removed. Use API keys instead.
      operationId: AuthController_login
      responses: {}
      deprecated: true
  /auth/logout:
    post:
      tags:
      - Authentication
      summary: User logout
      description: Logs out the user
      operationId: AuthController_logout
      responses:
        '200':
          description: User has been successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: Logged out successfully
                    type: string
  /auth/signing-message:
    get:
      tags:
      - Authentication
      summary: Get signing message
      description: Returns a signing message with a randomly generated nonce for authentication purposes.
      operationId: AuthController_getSigningMessage
      responses:
        '200':
          description: A signing message containing a nonce has been successfully generated
          content:
            application/json:
              schema:
                example: |-
                  Welcome to Limitless.exchange! Please sign this message to verify your identity.

                  Nonce: 0xa1b2c3d4e5f67890...
                type: string
  /auth/verify-auth:
    get:
      tags:
      - Authentication
      summary: Verify authentication
      description: Verifies if the user is authenticated
      operationId: AuthController_verifyAuth
      responses:
        '200':
          description: User is authenticated
  /market-pages/by-path:
    get:
      tags:
      - Market Navigation
      summary: Get market page by path
      description: Resolves a URL path to a market page with its configuration, filters, and breadcrumb
      operationId: MarketNavigationController_byPath
      parameters:
      - in: query
        name: path
        description: URL path to resolve (e.g., "/sports/football")
        required: true
        schema:
          example: /sports/football
          type: string
        style: form
      responses:
        '200':
          description: Market page resolved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketPageByPathResponseDto'
  /market-pages/{id}/markets:
    get:
      tags:
      - Market Navigation
      summary: List markets for a page
      description: Returns paginated list of markets for a specific market page with filtering and sorting
      operationId: MarketNavigationController_listMarkets
      parameters:
      - in: path
        name: id
        description: Market page ID
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
        style: simple
      - in: query
        name: cursor
        description: Cursor token for cursor-based pagination (cannot be used with page)
        schema: {}
        style: form
      - in: query
        name: sort
        description: Sort field with optional - prefix for descending (e.g., -updatedAt, createdAt, deadline)
        schema:
          example: -updatedAt
        style: form
      - in: query
        name: limit
        description: Number of items per page (max 100)
        schema:
          example: 20
        style: form
      - in: query
        name: page
        description: Page number for offset pagination (cannot be used with cursor)
        schema:
          example: 1
        style: form
      responses:
        '200':
          description: Markets retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMarketsResponseDto'
  /markets/active:
    get:
      tags:
      - Markets
      summary: Browse Active Markets
      description: Retrieves markets and groups that are active and not yet resolved, with optional category filtering
      operationId: MarketController_getActiveMarkets[1]
      parameters:
      - in: query
        name: page
        description: Page number for pagination
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: limit
        description: Number of items per page
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: sortBy
        description: Sort by query parameter
        schema:
          example: newest
          type: string
        style: form
      - in: query
        name: tradeType
        description: Filter by trade type (amm, clob, or group)
        schema:
          type: string
          enum:
          - amm
          - clob
          - group
        style: form
      - in: query
        name: automationType
        description: Filter by automation type (manual, lumy, or sports)
        schema:
          type: string
          enum:
          - manual
          - lumy
          - sports
        style: form
      - in: path
        name: categoryId
        description: Filter markets by category ID
        required: true
        schema:
          type: number
        style: simple
      responses:
        '200':
          description: Active markets and groups with volume and liquidity data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowseActiveMarketsResponseDto'
  /markets/active/slugs:
    get:
      tags:
      - Markets
      summary: Get active market slugs with metadata
      description: Retrieves slugs, strike prices, tickers, and deadlines for all active markets and groups. Group markets are nested under their parent group.
      operationId: MarketController_getActiveSlugs
      responses:
        '200':
          description: List of active market and group slugs with metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    deadline:
                      nullable: true
                      example: 2024-12-31T23:59:59Z
                      description: Expiration deadline
                      type: string
                      format: date-time
                    markets:
                      nullable: true
                      description: Nested markets (group entries only)
                      type: array
                      items:
                        type: object
                        properties:
                          slug:
                            type: string
                    slug:
                      example: btc-price-prediction-2024
                      description: Market or group slug identifier
                      type: string
                    strikePrice:
                      nullable: true
                      example: '50000'
                      description: Strike price (null for groups)
                      type: string
                    ticker:
                      nullable: true
                      example: BTC
                      description: Asset ticker symbol
                      type: string
                  required:
                  - slug
  /markets/active/{categoryId}:
    get:
      tags:
      - Markets
      summary: Browse Active Markets
      description: Retrieves markets and groups that are active and not yet resolved, with optional category filtering
      operationId: MarketController_getActiveMarkets[0]
      parameters:
      - in: query
        name: page
        description: Page number for pagination
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: limit
        description: Number of items per page
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: sortBy
        description: Sort by query parameter
        schema:
          example: newest
          type: string
        style: form
      - in: query
        name: tradeType
        description: Filter by trade type (amm, clob, or group)
        schema:
          type: string
          enum:
          - amm
          - clob
          - group
        style: form
      - in: query
        name: automationType
        description: Filter by automation type (manual, lumy, or sports)
        schema:
          type: string
          enum:
          - manual
          - lumy
          - sports
        style: form
      - in: path
        name: categoryId
        description: Filter markets by category ID
        required: true
        schema:
          type: number
        style: simple
      responses:
        '200':
          description: Active markets and groups with volume and liquidity data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowseActiveMarketsResponseDto'
  /markets/categories/count:
    get:
      tags:
      - Markets
      summary: Get active market count per category
      description: Returns the number of active markets for each category and the total market count
      operationId: MarketController_getActiveMarketCountPerCategory
      responses:
        '200':
          description: Object containing category counts and total count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryCountResponseDto'
  /markets/search:
    get:
      tags:
      - Markets
      summary: Search for markets based on semantic similarity
      operationId: MarketSearchController_search
      parameters:
      - in: query
        name: query
        description: Search query text
        required: true
        schema:
          example: Sports betting markets with high odds
          type: string
        style: form
      - in: query
        name: limit
        description: Maximum number of results to return
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: page
        description: Number of page
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: similarityThreshold
        description: Minimum similarity score (0-1)
        schema:
          example: 0.5
          default: 0.5
          type: number
        style: form
      responses:
        '200':
          description: Returns markets matching the search query
  /markets/{addressOrSlug}:
    get:
      tags:
      - Markets
      summary: Get Market Details
      description: Retrieves market or group data using either an Ethereum address or a slug identifier
      operationId: MarketController_find
      parameters:
      - in: path
        name: addressOrSlug
        description: Market/group address (0x...) or slug identifier (my-market-name)
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Market or group details with pricing and volume data
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ClobMarketResponseDto'
                - $ref: '#/components/schemas/NegRiskGroupResponseDto'
                - $ref: '#/components/schemas/AmmMarketResponseDto'
  /markets/{addressOrSlug}/oracle-candles:
    get:
      tags:
      - Markets
      summary: Get oracle candlesticks
      description: Returns Chainlink candlestick data for markets configured with Chainlink Data Streams chart metadata. Useful for charting the underlying oracle price alongside prediction market prices.
      operationId: MarketController_getOracleCandles
      parameters:
      - in: path
        name: addressOrSlug
        description: Market address (0x...) or slug identifier
        required: true
        schema:
          example: btc-above-100k-june
          type: string
        style: simple
      - in: query
        name: interval
        description: Candlestick interval
        schema:
          default: 1m
          type: string
          enum:
          - 1m
          - 5m
          - 15m
          - 1h
          - 4h
          - 1d
        style: form
      - in: query
        name: from
        description: Start timestamp in UNIX seconds. Defaults to market creation time minus 15 minutes.
        schema:
          example: 1719792000
          type: number
        style: form
      - in: query
        name: to
        description: End timestamp in UNIX seconds. Defaults to now.
        schema:
          example: 1719878400
          type: number
        style: form
      responses:
        '200':
          description: Candlestick data for the underlying oracle
          content:
            application/json:
              schema:
                type: object
                properties:
                  interval:
                    example: 1h
                    description: The requested candlestick interval
                    type: string
                  rows:
                    description: Array of OHLCV candlestick rows
                    type: array
                    items:
                      type: object
                      properties:
                        close:
                          description: Closing price
                          type: number
                        high:
                          description: Highest price
                          type: number
                        low:
                          description: Lowest price
                          type: number
                        open:
                          description: Opening price
                          type: number
                        timestamp:
                          description: Candle open time (UNIX seconds)
                          type: number
                        volume:
                          description: Trading volume
                          type: number
                  source:
                    example: chainlink
                    description: Data source identifier
                    type: string
                  symbol:
                    example: BTC/USD
                    description: The resolved Chainlink symbol
                    type: string
                  timestampEnd:
                    example: 1719878400
                    description: End of the data range (UNIX seconds)
                    type: number
                  timestampStart:
                    example: 1719792000
                    description: Start of the data range (UNIX seconds)
                    type: number
  /markets/{slug}/events:
    get:
      tags:
      - Trading
      summary: Market Events
      description: Get recent events for a specific market including trades, orders, and liquidity changes
      operationId: MarketOrderbookController_getMarketEvents
      parameters:
      - in: query
        name: page
        description: Page number for pagination
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: limit
        description: Number of events per page
        schema:
          type: integer
          format: int64
        style: form
      - in: path
        name: slug
        description: Market slug identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: List of market events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        data:
                          type: object
                          additionalProperties: true
                        id:
                          example: event-123
                          type: string
                        timestamp:
                          example: 2024-01-15T10:30:00Z
                          type: string
                        type:
                          example: ORDER_PLACED
                          type: string
  /markets/{slug}/get-feed-events:
    get:
      tags:
      - Markets
      summary: Get feed events for a market
      description: Retrieves the latest feed events related to a specific market with pagination support
      operationId: MarketController_getFeedEvent
      parameters:
      - in: query
        name: page
        description: Page number for pagination
        schema:
          type: integer
          format: int64
        style: form
      - in: query
        name: limit
        description: Number of events per page
        schema:
          type: integer
          format: int64
        style: form
      - in: path
        name: slug
        description: Slug of the market
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: List of feed events for the market
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedEventsResponseDto'
      security:
      - ApiKeyAuth: []
  /markets/{slug}/historical-price:
    get:
      tags:
      - Trading
      summary: Get Historical Prices
      description: Retrieve historical price data for a specific market with configurable time intervals
      operationId: MarketOrderbookController_getHistoricalPrice
      parameters:
      - in: query
        name: to
        description: End date for historical data
        schema:
          example: 2024-01-31T23:59:59Z
        style: form
      - in: query
        name: from
        description: Start date for historical data
        schema:
          example: 2024-01-01T00:00:00Z
        style: form
      - in: query
        name: interval
        description: Time interval for data points
        schema:
          type: string
          enum:
          - 1h
          - 6h
          - 1d
          - 1w
          - 1m
          - all
        style: form
      - in: path
        name: slug
        description: Market slug identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Historical price data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    prices:
                      type: array
                      items:
                        type: object
                        properties:
                          price:
                            example: 0.75
                            type: number
                          timestamp:
                            example: 2024-01-15T10:30:00Z
                            type: string
                    title:
                      example: YES Token
                      type: string
  /markets/{slug}/locked-balance:
    get:
      tags:
      - Trading
      summary: Get Locked Balance
      description: Get the amount of funds locked in open orders for the authenticated user
      operationId: MarketOrderbookController_getLockedBalance
      parameters:
      - in: path
        name: slug
        description: Market slug identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: User's locked balance details
          content:
            application/json:
              schema:
                type: object
                properties:
                  currency:
                    example: USDC
                    type: string
                  lockedBalance:
                    example: '250.50'
                    type: string
                  lockedBalanceFormatted:
                    example: 250.50 USDC
                    type: string
                  orderCount:
                    example: 3
                    type: number
  /markets/{slug}/orderbook:
    get:
      tags:
      - Trading
      summary: Get Orderbook
      description: Retrieve the current orderbook for a market showing all open buy and sell orders
      operationId: MarketOrderbookController_getOrderbook
      parameters:
      - in: path
        name: slug
        description: Market slug identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Current orderbook with bids and asks
          content:
            application/json:
              schema:
                type: object
                properties:
                  adjustedMidpoint:
                    example: 0.75
                    type: number
                  asks:
                    type: array
                    items:
                      type: object
                      properties:
                        price:
                          example: 0.76
                          type: number
                        size:
                          example: 100
                          type: number
                  bids:
                    type: array
                    items:
                      type: object
                      properties:
                        price:
                          example: 0.74
                          type: number
                        size:
                          example: 150
                          type: number
                  lastTradePrice:
                    example: 0.75
                    type: number
                  maxSpread:
                    example: 0.05
                    type: number
                  minSize:
                    example: 1
                    type: number
                  tokenId:
                    example: '19633204485790857949828516737993423758628930235371629943999544859324645414627'
                    type: string
  /markets/{slug}/user-orders:
    get:
      tags:
      - Trading
      summary: User Orders
      description: Get all orders placed by the authenticated user for a specific market
      operationId: MarketOrderbookController_getUserOrders
      parameters:
      - in: query
        name: statuses
        description: Order status(es) to filter by. Defaults to [LIVE] if not provided
        schema:
          type: array
          items:
            type: string
            enum:
            - LIVE
            - MATCHED
        style: form
      - in: query
        name: limit
        description: Maximum number of orders to return
        schema:
          type: integer
          format: int64
        style: form
      - in: path
        name: slug
        description: Market slug identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: List of user orders for the market
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          example: '12345'
                          type: string
                        price:
                          example: '0.75'
                          type: string
                        quantity:
                          example: '100'
                          type: string
                        side:
                          example: BUY
                          type: string
                        status:
                          example: LIVE
                          type: string
  /navigation:
    get:
      tags:
      - Market Navigation
      summary: Get navigation tree
      description: Returns the hierarchical navigation structure for market pages
      operationId: MarketNavigationController_getNavigationTree
      responses:
        '200':
          description: Navigation tree retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NavigationNodeDto'
  /orders:
    post:
      tags:
      - Trading
      summary: Create Order
      description: Creates a buy/sell order for prediction market positions. Requires signed order data.
      operationId: OrderController_createOrder
      requestBody:
        description: Order creation data including signature and order parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderDto'
        required: true
      responses:
        '201':
          description: Order successfully created and matched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponseDto'
      security:
      - ApiKeyAuth: []
  /orders/all/{slug}:
    delete:
      tags:
      - Trading
      summary: Cancel all of a user's orders in a specific market
      operationId: OrderController_cancelAllOrders
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: All orders successfully cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllOrdersResponseDto'
      security:
      - ApiKeyAuth: []
  /orders/batch-cancel:
    post:
      tags:
      - Trading
      summary: Batch Cancel Orders (Combined)
      description: Cancel open orders by either internal orderIds or client-provided clientOrderIds.
      operationId: OrderController_batchCancelOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderBatchCombinedDto'
        required: true
      responses:
        '200':
          description: All orders successfully cancelled
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/CancelOrderBatchResponseDto'
                - $ref: '#/components/schemas/CancelOrderBatchCombinedResponseDto'
      security:
      - ApiKeyAuth: []
  /orders/cancel:
    post:
      tags:
      - Trading
      summary: Cancel Order (Combined)
      description: Cancel one open order by either internal orderId or client-provided clientOrderId.
      operationId: OrderController_cancelOrderCombined
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderCombinedDto'
        required: true
      responses:
        '200':
          description: Order successfully cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponseDto'
      security:
      - ApiKeyAuth: []
  /orders/cancel-batch:
    post:
      tags:
      - Trading
      summary: Cancel multiple orders in batch
      operationId: OrderController_cancelOrderBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOrderBatchDto'
        required: true
      responses:
        '200':
          description: All orders successfully cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderBatchResponseDto'
      security:
      - ApiKeyAuth: []
  /orders/status/batch:
    post:
      tags:
      - Trading
      summary: Get order statuses in batch
      description: Fetches historical order statuses for multiple orders by internal order IDs and/or client-provided order IDs. Returns execution details, settlement status, and maker match data for each order.
      operationId: OrderController_getOrderStatusBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchOrderStatusRequestDto'
        required: true
      responses:
        '200':
          description: Batch order statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchOrderStatusResponseDto'
      security:
      - ApiKeyAuth: []
  /orders/{orderId}:
    delete:
      tags:
      - Trading
      summary: Cancel Order
      description: Cancel an open order and return locked funds
      operationId: OrderController_cancelOrder
      parameters:
      - in: path
        name: orderId
        description: Unique identifier of the order to be cancelled
        required: true
        schema:
          example: 6f52b6d2-6c9e-4a5c-8a4f-28ab4b7ff203
          type: string
        style: simple
      responses:
        '200':
          description: Order successfully cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponseDto'
      security:
      - ApiKeyAuth: []
  /portfolio/history:
    get:
      tags:
      - Portfolio
      summary: Get History
      description: 'Paginated history including AMM, CLOB trades, splits/merges, NegRisk conversions. Partner API tokens with `delegated_signing` scope may read a sub-account by sending the `x-on-behalf-of: <profileId>` header.'
      operationId: PortfolioController_getHistory
      parameters:
      - in: query
        name: cursor
        description: Opaque cursor for cursor-based pagination. Omit for first page. For subsequent pages, pass the `nextCursor` value from the previous response.
        schema:
          type: string
        style: form
      - in: query
        name: limit
        description: Number of items per page (1-100).
        schema:
          type: integer
          format: int64
        style: form
      responses:
        '200':
          description: Paginated history of all user actions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryResponseDto'
      security:
      - ApiKeyAuth: []
  /portfolio/pnl-chart:
    get:
      tags:
      - Portfolio
      summary: Get portfolio PnL chart
      description: 'Hybrid PnL: realised series + current total snapshot'
      operationId: PortfolioController_getPnlChart
      parameters:
      - in: query
        name: timeframe
        description: Timeframe window for percent change and chart series
        schema:
          example: 7d
          type: string
        style: form
      responses:
        '200':
          description: PnL chart data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioPnlChartDto'
      security:
      - ApiKeyAuth: []
  /portfolio/points:
    get:
      tags:
      - Portfolio
      summary: Get points breakdown
      operationId: PortfolioController_getPointsBreakdown
      responses:
        '200':
          description: Points breakdown
      security:
      - ApiKeyAuth: []
  /portfolio/positions:
    get:
      tags:
      - Portfolio
      summary: Get Positions
      description: Retrieve all active positions with P&L calculations and market values
      operationId: PortfolioController_getPositions
      responses:
        '200':
          description: Complete portfolio positions with summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioPositionsDto'
      security:
      - ApiKeyAuth: []
  /portfolio/trades:
    get:
      tags:
      - Portfolio
      summary: Get Trades
      description: Retrieve all AMM trades executed by the authenticated user
      operationId: PortfolioController_getTrades
      responses:
        '200':
          description: List of user trades with details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoryTradeDto'
      security:
      - ApiKeyAuth: []
  /portfolio/trading/allowance:
    get:
      tags:
      - Portfolio
      summary: Get User Trading Allowance
      description: Check USDC allowance for CLOB or NegRisk trading contracts
      operationId: TradingPortfolioController_getAllowance
      parameters:
      - in: query
        name: type
        description: 'Trading type: CLOB or NegRisk'
        required: true
        schema:
          type: string
          enum:
          - clob
          - negrisk
        style: form
      - in: query
        name: spender
        description: Optional spender address override (e.g., venue exchange address)
        schema:
          type: string
        style: form
      responses:
        '200':
          description: User allowance information
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowance:
                    example: '1000000000000'
                    type: string
                  checkedAddress:
                    example: 0x...
                    type: string
                  hasMinimumAllowance:
                    example: true
                    type: boolean
                  spender:
                    example: 0x...
                    type: string
                  type:
                    example: clob
                    type: string
                    enum:
                    - clob
                    - negrisk
      security:
      - ApiKeyAuth: []
  /portfolio/{account}/pnl-chart:
    get:
      tags:
      - Public Portfolio
      summary: Get portfolio PnL chart (public)
      description: 'Hybrid PnL: realised series + current total snapshot'
      operationId: PublicPortfolioController_getPnlChart
      parameters:
      - in: path
        name: account
        description: User Ethereum address
        required: true
        schema:
          example: 0x742d35Cc6634C0532925a3b844Bc454e4438f44e
          type: string
        style: simple
      - in: query
        name: timeframe
        description: Timeframe window for percent change and chart series
        schema:
          example: 7d
          type: string
        style: form
      responses:
        '200':
          description: PnL chart data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioPnlChartDto'
  /portfolio/{account}/positions:
    get:
      tags:
      - Public Portfolio
      summary: Get All User Positions
      description: Retrieve all positions for a specific user address
      operationId: PublicPortfolioController_getPositions
      parameters:
      - in: path
        name: account
        description: User Ethereum address
        required: true
        schema:
          example: 0x742d35Cc6634C0532925a3b844Bc454e4438f44e
          type: string
        style: simple
      responses:
        '200':
          description: Complete list of user positions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioPositionsDto'
  /portfolio/{account}/traded-volume:
    get:
      tags:
      - Public Portfolio
      summary: User Total Volume
      description: Get total traded volume for a specific user. Returns combined CLOB and AMM volume (both taker and maker sides) in whole USDC. This is the all-time cumulative trading volume, not the current portfolio value.
      operationId: PublicPortfolioController_tradedVolume
      parameters:
      - in: path
        name: account
        description: User Ethereum address
        required: true
        schema:
          example: 0x742d35Cc6634C0532925a3b844Bc454e4438f44e
          type: string
        style: simple
      responses:
        '200':
          description: User trading volume
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    example: '9702853'
                    description: Total traded volume in whole USDC (no decimal divisor needed). Includes both taker and maker volume across CLOB and AMM trades.
                    type: string
  /profiles/partner-accounts:
    post:
      tags:
      - Partner Accounts
      summary: Create partner sub-account
      description: |-
        Creates a new sub-account linked to the authenticated partner. Requires HMAC authentication with the `account_creation` scope.

        **Server wallet mode** (`createServerWallet: true`): Creates a Privy server wallet and profile. The partner can then submit orders on behalf of this account using delegated signing.

        **EOA mode** (default): Requires wallet ownership verification via `x-account`, `x-signing-message`, and `x-signature` headers. The end user signs their own orders.
      operationId: ProfileController_createPartnerAccount
      parameters:
      - in: header
        name: x-account
        description: EOA mode only. Checksummed Ethereum address of the sub-account wallet.
        schema:
          type: string
        style: simple
      - in: header
        name: x-signing-message
        description: EOA mode only. Hex-encoded signing message.
        schema:
          type: string
        style: simple
      - in: header
        name: x-signature
        description: EOA mode only. Hex-encoded signature from the sub-account wallet.
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePartnerAccountRequest'
        required: true
      responses:
        '201':
          description: Sub-account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePartnerAccountResponse'
      security:
      - HmacAuth: []
  /profiles/partner-accounts/{profileId}/allowances:
    get:
      tags:
      - Partner Accounts
      summary: Check partner account allowances
      description: Checks delegated-trading allowance readiness for a partner-created server-wallet sub-account. Requires HMAC authentication with `account_creation` and `delegated_signing` scopes. Status is based on live chain reads.
      operationId: ProfileController_checkPartnerAccountAllowances
      parameters:
      - in: path
        name: profileId
        description: Partner sub-account profile ID for the server-wallet child account.
        required: true
        schema:
          type: integer
        style: simple
      responses:
        '200':
          description: Live allowance state for the server-wallet child profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAccountAllowanceResponse'
      security:
      - HmacAuth: []
  /profiles/partner-accounts/{profileId}/allowances/retry:
    post:
      tags:
      - Partner Accounts
      summary: Retry partner account allowances
      description: Retries delegated-trading allowance recovery for a partner-created server-wallet sub-account. The retry takes a short wallet lock, re-checks live chain state, and submits only targets still missing. A `submitted` target means this retry request submitted a sponsored transaction or user operation.
      operationId: ProfileController_retryPartnerAccountAllowances
      parameters:
      - in: path
        name: profileId
        description: Partner sub-account profile ID for the server-wallet child account.
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
          description: Allowance state after retry submission attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAccountAllowanceResponse'
      security:
      - HmacAuth: []
  /profiles/{account}:
    get:
      tags:
      - Portfolio
      summary: Get your profile
      description: Retrieve the authenticated user's profile, including their internal user ID and fee rate. This is useful for API users who need their `feeRateBps` (for order signing) or numeric `id` (used as `ownerId` in other flows). You can only access your own profile — requesting another user's address returns 403.
      operationId: ProfileController_findOne
      parameters:
      - in: path
        name: account
        description: Your wallet address (the address associated with your API key)
        required: true
        schema:
          type: string
        example: 0x27b4afBD88fE7c88c6897BB0b4ADE338D0401E37
        style: simple
      responses:
        '200':
          description: User profile with fee rate and rank information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
      security:
      - ApiKeyAuth: []
  /property-keys:
    get:
      tags:
      - Market Navigation
      summary: List property keys
      description: Returns all property keys with their options, sorted by slug
      operationId: MarketNavigationController_listPropertyKeys
      responses:
        '200':
          description: Property keys retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PropertyKeyResponseDto'
  /property-keys/{id}:
    get:
      tags:
      - Market Navigation
      summary: Get property key by ID
      description: Returns a specific property key with its options
      operationId: MarketNavigationController_getPropertyKey
      parameters:
      - in: path
        name: id
        description: Property key ID
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
        style: simple
      responses:
        '200':
          description: Property key retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyKeyResponseDto'
  /property-keys/{id}/options:
    get:
      tags:
      - Market Navigation
      summary: List property options
      description: Returns options for a specific property key, optionally filtered by parent option
      operationId: MarketNavigationController_listPropertyOptions
      parameters:
      - in: path
        name: id
        description: Property key ID
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
        style: simple
      - in: query
        name: parentId
        description: Parent option ID for hierarchical filtering
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Property options retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PropertyOptionResponseDto'
components:
  schemas:
    AmmPositionDto:
      type: object
      properties:
        account:
          example: 0x1234567890123456789012345678901234567890
          description: Wallet address that was used to create this position
          type: string
        collateralAmount:
          example: '100500000'
          description: Amount of collateral invested in token decimals
          type: string
        latestTrade:
          description: Latest trade associated with this position
          type: object
        market:
          description: Market information for this position
          type: object
        outcomeIndex:
          example: 0
          description: Index of the outcome token
          type: number
        outcomeTokenAmount:
          example: '50250000'
          description: Amount of outcome tokens held in token decimals
          type: string
      required:
      - market
      - outcomeIndex
    ApiTokenListItem:
      type: object
      properties:
        createdAt:
          description: Token creation timestamp
          type: string
          format: date-time
        label:
          nullable: true
          description: Human-readable label
          type: string
        lastUsedAt:
          nullable: true
          description: Last time the token was used for authentication
          type: string
          format: date-time
        scopes:
          description: Granted scopes
          type: array
          items:
            type: string
        tokenId:
          description: Unique token identifier
          type: string
      required:
      - tokenId
      - label
      - scopes
      - createdAt
      - lastUsedAt
    BatchOrderStatusItemDto:
      type: object
      properties:
        clientOrderId:
          example: client-order-001
          description: Client-provided order ID. Provide either orderId or clientOrderId, not both.
          type: string
          maxLength: 128
        orderId:
          example: 4aa706dd-6c57-4f3c-945a-99818dfd95f1
          description: Internal order ID. Provide either orderId or clientOrderId, not both.
          type: string
          format: uuid
    BatchOrderStatusRequestDto:
      type: object
      properties:
        items:
          description: List of status lookup queries (1-50 items)
          type: array
          items:
            $ref: '#/components/schemas/BatchOrderStatusItemDto'
          minItems: 1
          maxItems: 50
      required:
      - items
    BatchOrderStatusResponseDto:
      type: object
      properties:
        results:
          description: Array of status results corresponding to request items
          type: array
          items:
            $ref: '#/components/schemas/BatchOrderStatusResultDto'
      required:
      - results
    BatchOrderStatusResultDto:
      type: object
      properties:
        clientOrderId:
          nullable: true
          description: Client-provided order ID
          type: string
        data:
          nullable: true
          description: Order data if found
          type: object
          properties:
            execution:
              $ref: '#/components/schemas/OrderExecutionSummary'
            makerMatches:
              description: Maker orders matched against this order
              type: array
              items:
                $ref: '#/components/schemas/MakerMatch'
            order:
              $ref: '#/components/schemas/OrderResponseDto'
        error:
          nullable: true
          example: Exactly one of orderId or clientOrderId is required
          description: Error message if status is 'invalid'
          type: string
        index:
          example: 0
          description: Index of this item in the request array
          type: number
        orderId:
          nullable: true
          description: Resolved internal order ID
          type: string
        status:
          example: found
          description: Lookup result status
          type: string
          enum:
          - found
          - not_found
          - invalid
      required:
      - index
      - status
    BreadcrumbItemDto:
      type: object
      properties:
        name:
          description: Display name of the breadcrumb item
          type: string
        path:
          description: Full path to this breadcrumb item
          type: string
        slug:
          description: URL slug of the breadcrumb item
          type: string
      required:
      - name
      - slug
      - path
    BrowseActiveMarketsResponseDto:
      type: object
      properties:
        data:
          example:
          - address: 0x76d3e2098Be66Aa7E15138F467390f0Eb7349B9b
            categories:
            - Hourly
            collateralToken:
              address: 0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
              decimals: 6
              symbol: USDC
            conditionId: 0x812f578437dc536def1412e4e593ef310884262c22868b30c1e58582e5f3e9bf
            creator:
              imageURI: https://limitless.exchange/assets/images/logo.svg
              link: https://x.com/trylimitless
              name: Limitless
            description: This market will resolve to "YES" if the price of $DOGE is above $0.21652...
            expirationDate: Sep 1, 2025
            expirationTimestamp: 1756728000000
            expired: false
            feedEvents:
            - data:
                address: 0x76d3e2098Be66Aa7E15138F467390f0Eb7349B9b
                contracts: '9.071313'
                marketId: 7495
                outcome: NO
                strategy: Buy
                title: $DOGE above $0.21652 on Sep 1, 12:00 UTC?
                tradeAmount: '5'
                tradeAmountUSD: '4.999525'
              eventType: NEW_TRADE
              timestamp: 2025-09-01T11:30:31.000Z
              user:
                account: 0xea27f6788F083e6070961d3E52A2e596367E04CC
                id: 7080
                name: GG
                points: '0.00000000'
                rankName: Bronze
            id: 7495
            liquidity: '50000000'
            liquidityFormatted: '50.000000'
            marketType: single
            openInterest: '48310707'
            openInterestFormatted: '48.310707'
            prices:
            - 42.8
            - 57.2
            slug: dollardoge-above-dollar021652-on-sep-1-1200-utc-1756724413009
            status: FUNDED
            tags:
            - Lumy
            - Recurring
            - Hourly
            - Simple Mode
            title: $DOGE above $0.21652 on Sep 1, 12:00 UTC?
            tradeType: amm
            volume: '164109293'
            volumeFormatted: '164.109293'
          description: Array of active markets with complete trading data including volume, liquidity, and recent feed events
          type: array
          items:
            description: Market object with complete trading data (FEMarket type)
            type: object
            additionalProperties: true
        totalMarketsCount:
          example: 150
          description: Total number of active markets available for pagination
          type: number
      required:
      - data
      - totalMarketsCount
    CancelAllOrdersResponseDto:
      type: object
      properties:
        canceled:
          example:
          - 611badac-8dfc-48a0-b09e-59654adea1c5
          description: Array of successfully cancelled order IDs
          type: array
          items:
            type: string
        failed:
          description: Array of orders that failed to cancel with reasons
          type: array
          items:
            $ref: '#/components/schemas/CancelOrderFailure'
        message:
          example: Orders canceled successfully
          description: Confirmation message for cancelling all orders
          type: string
      required:
      - message
    CancelOrderBatchCombinedDto:
      type: object
      properties:
        clientOrderIds:
          example:
          - partner-order-001
          - partner-order-002
          description: Client-provided order IDs from order creation. Provide exactly one of orderIds or clientOrderIds.
          type: array
          items:
            type: string
            maxLength: 128
          maxItems: 50
        orderIds:
          example:
          - 6f52b6d2-6c9e-4a5c-8a4f-28ab4b7ff203
          description: Internal order IDs. Provide exactly one of orderIds or clientOrderIds.
          type: array
          items:
            type: string
            format: uuid
          maxItems: 50
      oneOf:
      - required:
        - orderIds
      - required:
        - clientOrderIds
    CancelOrderBatchCombinedResponseDto:
      type: object
      properties:
        canceled:
          description: Canceled client-order-id records
          type: array
          items:
            $ref: '#/components/schemas/ClientOrderCancelSuccess'
        failed:
          description: Client-order-id cancel failures
          type: array
          items:
            $ref: '#/components/schemas/ClientOrderCancelFailure'
        message:
          example: Orders canceled successfully
          type: string
      required:
      - message
    CancelOrderBatchResponseDto:
      type: object
      properties:
        canceled:
          example:
          - 611badac-8dfc-48a0-b09e-59654adea1c5
          description: Array of successfully cancelled order IDs
          type: array
          items:
            type: string
        failed:
          description: Array of orders that failed to cancel with reasons
          type: array
          items:
            $ref: '#/components/schemas/CancelOrderFailure'
        message:
          example: Orders canceled successfully
          description: Confirmation message for the cancelled orders
          type: string
      required:
      - message
    CancelOrderCombinedDto:
      type: object
      properties:
        clientOrderId:
          example: partner-order-001
          description: Client-provided order ID from order creation. Provide exactly one of orderId or clientOrderId.
          type: string
          maxLength: 128
        orderId:
          example: 6f52b6d2-6c9e-4a5c-8a4f-28ab4b7ff203
          description: Internal order ID. Provide exactly one of orderId or clientOrderId.
          type: string
          format: uuid
      oneOf:
      - required:
        - orderId
      - required:
        - clientOrderId
    CancelOrderFailure:
      type: object
      properties:
        message:
          example: Order not found or already canceled
          description: User-friendly error message
          type: string
        orderId:
          example: b53f0e4b-1529-45cc-ad39-e27f4c6eab5a
          description: Order ID that failed to cancel
          type: string
        reason:
          example: ORDER_NOT_FOUND
          description: Error code indicating the reason for failure
          type: string
          enum:
          - ORDER_NOT_FOUND
          - UNKNOWN_ERROR
      required:
      - orderId
      - reason
      - message
    CancelOrderResponseDto:
      type: object
      properties:
        message:
          example: Order canceled successfully
          description: Confirmation message for the cancelled order
          type: string
      required:
      - message
    CategoryCountResponseDto:
      type: object
      properties:
        category:
          example:
            '1': 10
            '2': 5
            '3': 8
          description: Number of active markets per category
          type: object
          additionalProperties:
            type: number
        totalCount:
          example: 23
          description: Total number of active markets
          type: number
      required:
      - category
      - totalCount
    ClientOrderCancelFailure:
      type: object
      properties:
        clientOrderId:
          example: partner-order-002
          description: Client-provided order ID from order creation
          type: string
        message:
          example: Order not found
          description: Human-readable failure message
          type: string
        orderId:
          example: 6f52b6d2-6c9e-4a5c-8a4f-28ab4b7ff203
          description: Internal order ID, when resolution succeeded before cancellation failed
          type: string
          format: uuid
        reason:
          example: ORDER_NOT_FOUND
          description: Failure reason
          type: string
      required:
      - clientOrderId
      - reason
      - message
    ClientOrderCancelSuccess:
      type: object
      properties:
        clientOrderId:
          example: partner-order-001
          description: Client-provided order ID from order creation
          type: string
        orderId:
          example: 6f52b6d2-6c9e-4a5c-8a4f-28ab4b7ff203
          description: Internal order ID
          type: string
          format: uuid
      required:
      - clientOrderId
      - orderId
    ClobPositionDto:
      type: object
      properties:
        latestTrade:
          description: Latest trade prices
          type: object
        market:
          description: Market information
          allOf:
          - $ref: '#/components/schemas/Market'
        orders:
          description: Order information
          type: object
        positions:
          description: Position data for the market
          allOf:
          - $ref: '#/components/schemas/MarketPositionDataDto'
        rewards:
          description: Rewards information for this position
          type: object
        tokensBalance:
          description: Token balances in token decimals
          type: object
      required:
      - market
      - positions
      - tokensBalance
      - orders
    CreateOrderDto:
      type: object
      properties:
        clientOrderId:
          example: client-order-001
          description: Client-provided idempotency key for order placement. If a duplicate is submitted, the server returns 409 Conflict.
          type: string
          maxLength: 128
        marketSlug:
          example: biden-vs-trump-2024
          description: Market identifier slug
          type: string
        onBehalfOf:
          example: 12345
          description: Profile ID to place order on behalf of (partner flow). Requires an API token with trading scope and a partner relationship with the target profile.
          type: number
        order:
          description: Order details including signature and amounts
          allOf:
          - $ref: '#/components/schemas/Order'
        orderType:
          example: GTC
          description: Order type (GTC=Good Till Cancelled, FOK=Fill Or Kill)
          type: string
          enum:
          - FOK
          - GTC
        ownerId:
          example: 12345
          description: Profile ID of the order owner
          type: number
      required:
      - order
      - ownerId
      - orderType
      - marketSlug
    CreatePartnerAccountRequest:
      type: object
      properties:
        createServerWallet:
          description: If true, creates a Privy server wallet for the sub-account (enables delegated signing). If false or omitted, requires EOA wallet ownership headers.
          default: false
          type: boolean
        displayName:
          example: user-alice
          description: Public display name for the sub-account. Defaults to the wallet address if omitted.
          type: string
          maxLength: 44
    CreatePartnerAccountResponse:
      type: object
      properties:
        account:
          example: 0x5aAeb6053F3E94C9b9A09f33669435E7Ef1BeAed
          description: Wallet address of the created sub-account
          type: string
        profileId:
          example: 789
          description: Profile ID of the created sub-account
          type: integer
      required:
      - profileId
      - account
    CreateUserDto:
      type: object
      properties:
        client:
          example: eoa
          description: Client type for authentication
          type: string
          enum:
          - eoa
          - etherspot
          - base
        r:
          description: Referral code associated with the user who referred (invited) this user
          type: string
        smartWallet:
          example: 0x1234567890123456789012345678901234567890
          description: Smart wallet address (required for Smart Wallet client)
          type: string
      required:
      - client
    CursorPaginationDto:
      type: object
      properties:
        nextCursor:
          nullable: true
          description: Cursor for the next page of results
          type: string
    DeleteOrderBatchDto:
      type: object
      properties:
        orderIds:
          example:
          - 6f52b6d2-6c9e-4a5c-8a4f-28ab4b7ff203
          - 9e31c452-8a2b-42d1-b327-65f18d07dc96
          description: Array of order IDs to be cancelled in a single batch operation
          type: array
          items:
            type: array
      required:
      - orderIds
    DeriveApiTokenRequest:
      type: object
      properties:
        label:
          example: production-trading-bot
          description: Human-readable label for the token
          type: string
          maxLength: 128
        scopes:
          example:
          - trading
          - account_creation
          description: Scopes to grant. Defaults to ["trading"] if omitted. Must be a subset of the partner's allowed scopes. `delegated_signing` requires `trading`.
          type: array
          items:
            type: string
            enum:
            - trading
            - account_creation
            - delegated_signing
    DeriveApiTokenResponse:
      type: object
      properties:
        apiKey:
          example: dGVzdC10b2tlbi0x
          description: The token ID, used as the `lmts-api-key` header value for HMAC requests
          type: string
        createdAt:
          description: Token creation timestamp
          type: string
          format: date-time
        profile:
          type: object
          properties:
            account:
              example: 0x27b4afBD88fE7c88c6897BB0b4ADE338D0401E37
              description: Partner wallet address
              type: string
            id:
              example: 42
              description: Partner profile ID
              type: integer
        scopes:
          example:
          - trading
          - account_creation
          description: Granted scopes
          type: array
          items:
            type: string
        secret:
          example: c2VjcmV0LWtleS1leGFtcGxlLWJhc2U2NC1lbmNvZGVk
          description: Base64-encoded secret for HMAC signing. Returned once — store securely.
          type: string
        tokenId:
          example: dGVzdC10b2tlbi0x
          description: Same as apiKey. The unique token identifier.
          type: string
      required:
      - apiKey
      - secret
      - tokenId
      - createdAt
      - scopes
      - profile
    EpochRewardDataDto:
      type: object
      properties:
        earnedPercent:
          example: 0.1
          description: Part of total rewards earned by the user - [0; 1]
          type: number
        epochId:
          example: 1
          description: Unique identifier of the epoch
          type: number
        timestamp:
          example: 2024-01-01T00:00:00.000Z
          description: Timestamp when the epoch occurred
          type: string
          format: date-time
        totalRewards:
          example: '1500000'
          description: Total rewards distributed in this epoch in token decimals
          type: string
        userRewards:
          example: '150000'
          description: User rewards earned in this epoch in token decimals
          type: string
      required:
      - epochId
      - timestamp
      - totalRewards
      - userRewards
      - earnedPercent
    ErrorResponseDto:
      type: object
      properties:
        message:
          example: Invalid order data
          description: Error message
          type: string
      required:
      - message
    FeedEventsResponseDto:
      type: object
      properties:
        data:
          example:
            data:
            - data:
                outcome: YES
                strategy: Buy
                title: Market Title
              eventType: NEW_TRADE
              timestamp: 2025-09-01T11:30:31.000Z
              user:
                name: GG
                rankName: Bronze
            totalPages: 5
          description: Array of feed events with pagination (FEFeedEvents type)
          type: object
          additionalProperties: true
      required:
      - data
    FilterGroupDto:
      type: object
      properties:
        allowMultiple:
          description: Whether multiple options can be selected
          type: boolean
        name:
          description: Display name of the filter group
          type: string
        options:
          description: Available filter options
          type: array
          items:
            $ref: '#/components/schemas/FilterGroupOptionDto'
        presentation:
          description: Presentation style for the filter group
          type: string
        slug:
          description: URL slug for the filter group
          type: string
    FilterGroupOptionDto:
      type: object
      properties:
        label:
          description: Display label for the option
          type: string
        metadata:
          description: Optional metadata for the option (color, icon)
          type: object
        value:
          description: Value identifier for the option
          type: string
      required:
      - label
      - value
    HistoryEntryDto:
      type: object
      properties:
        blockTimestamp:
          example: 1744115608
          description: Block timestamp of the operation (unix seconds)
          type: number
        collateralAmount:
          example: '25.5'
          description: Collateral amount involved (human-readable, after dividing by token decimals)
          type: string
        market:
          description: Market information
          allOf:
          - $ref: '#/components/schemas/HistoryMarketDto'
        outcomeIndex:
          example: 0
          description: Index of the outcome (0 = YES, 1 = NO)
          type: number
        outcomeTokenAmount:
          example: '50'
          description: Amount of outcome tokens involved (human-readable)
          type: string
        outcomeTokenAmounts:
          example:
          - '50'
          - '0'
          description: Amounts of outcome tokens for each outcome [YES, NO]
          type: array
          items:
            type: string
        outcomeTokenPrice:
          example: 0.51
          description: Effective price per outcome token for this fill
          type: number
        strategy:
          example: Limit Buy
          description: Type of operation. `Buy`/`Sell` = AMM trades, `Limit Buy`/`Limit Sell` = CLOB maker fills, `Market Buy`/`Market Sell` = CLOB taker fills, `Split`/`Merge` = position split/merge, `Convert` = NegRisk conversion, `Claim` = winnings redemption.
          type: string
          enum:
          - Buy
          - Sell
          - Limit Buy
          - Limit Sell
          - Market Buy
          - Market Sell
          - Split
          - Merge
          - Convert
          - Claim
        transactionHash:
          example: 0x992f36465f938b21a6a5fe3c417c98c3268a616a05479d2dc53870c6cd1a0761
          description: On-chain transaction hash (present for settled trades, splits, merges, conversions, and claims)
          type: string
      required:
      - blockTimestamp
      - collateralAmount
      - market
      - outcomeTokenAmount
      - outcomeTokenAmounts
      - outcomeIndex
      - outcomeTokenPrice
      - strategy
    HistoryMarketDto:
      type: object
      properties:
        closed:
          example: false
          description: Whether the market is closed
          type: boolean
        collateral:
          example:
            decimals: 6
            id: 7
            symbol: USDC
          description: Collateral token information
          type: object
        condition_id:
          example: 0x08518bc4bb8a3dbb89aac4425ace0876b94a5dfa77dee47a20737a19cf67e325
          description: Condition ID of the market
          type: string
        deadline:
          example: 2025-07-04T23:59:59.000Z
          description: Market deadline
          type: string
        funding:
          example: 0
          description: Market funding amount
          type: number
        group:
          description: Market group information
          allOf:
          - $ref: '#/components/schemas/HistoryMarketGroupDto'
        id:
          example: 980
          description: Market ID
          type: number
        slug:
          example: btc-above-100k-jul-4
          description: Market slug
          type: string
        title:
          example: $BTC above $100k on Jul 4?
          description: Market title
          type: string
      required:
      - closed
      - collateral
      - group
      - condition_id
      - funding
      - id
      - slug
      - title
      - deadline
    HistoryMarketGroupDto:
      type: object
      properties:
        createdAt:
          example: 2025-04-07T17:20:22.135Z
          description: Creation timestamp
          type: string
        deadline:
          example: 2025-04-11T22:34:56.000Z
          description: Deadline for the group
          type: string
        hidden:
          example: false
          description: Whether the group is hidden
          type: boolean
        id:
          example: 10000037
          description: Unique identifier of the group
          type: number
        metadata:
          example:
            isBannered: false
          description: Group metadata
          type: object
        negRiskMarketId:
          example: 0xe103633b40e9b664f8acc89e8cf7b7916475961ae1708a249fa5d6c933168c00
          description: Onchain NegRisk market ID as identified by the NegriskAdapter smart-contract
          type: string
        priorityIndex:
          example: 0
          description: Priority index of the group
          type: number
        resolutionTxHash:
          description: Resolution transaction hash
          type: string
        slug:
          example: positionconverted-test-1744046422596
          description: Slug identifier of the group
          type: string
        status:
          example: FUNDED
          description: Status of the group
          type: string
        title:
          example: PositionConverted test
          description: Title of the group
          type: string
        txHash:
          description: Transaction hash for the group
          type: string
        updatedAt:
          example: 2025-04-07T17:22:08.464Z
          description: Last update timestamp
          type: string
      required:
      - id
      - slug
      - title
      - status
      - deadline
      - hidden
      - priorityIndex
      - metadata
      - negRiskMarketId
      - createdAt
      - updatedAt
    HistoryResponseDto:
      type: object
      properties:
        data:
          description: List of history entries
          type: array
          items:
            $ref: '#/components/schemas/HistoryEntryDto'
        nextCursor:
          nullable: true
          example: eyJ0Ijoi...
          description: Opaque cursor for the next page. `null` when there are no more pages. Pass this value back as the `cursor` query parameter to fetch the next page.
          type: string
      required:
      - data
    HistoryTradeDto:
      description: An AMM trade executed by the user
      type: object
      properties:
        blockTimestamp:
          example: 2025-09-01T11:30:31.000Z
          description: Timestamp of the block containing the trade
          type: string
        collateralAmount:
          example: '5000000'
          description: Collateral amount traded (in token decimals)
          type: string
        market:
          description: Market details for the trade
          type: object
          properties:
            conditionId:
              example: 0x812f578437dc...
              type: string
            expirationDate:
              example: Sep 1, 2025
              type: string
            id:
              example: 0x76d3e2098Be6...
              type: string
            slug:
              example: doge-above-021-sep-1
              type: string
            title:
              example: $DOGE above $0.21652 on Sep 1?
              type: string
        outcomeIndex:
          example: 0
          description: Index of the outcome traded (0 = YES, 1 = NO)
          type: number
        outcomeTokenAmount:
          example: '10000000'
          description: Amount of outcome tokens traded
          type: string
        outcomeTokenAmounts:
          example:
          - '5000000'
          - '0'
          description: Collateral per outcome token
          type: array
          items:
            type: string
        outcomeTokenNetCost:
          example: '4950000'
          description: Net cost of the outcome tokens
          type: string
        outcomeTokenPrice:
          example: '0.50'
          description: Price of the outcome token at trade time
          type: string
        strategy:
          example: Buy
          description: Trade direction
          type: string
          enum:
          - Buy
          - Sell
        transactionHash:
          example: 0xabc123...
          description: On-chain transaction hash
          type: string
      required:
      - blockTimestamp
      - market
      - outcomeIndex
      - outcomeTokenAmounts
      - outcomeTokenNetCost
      - transactionHash
    ListMarketsResponseDto:
      type: object
      properties:
        cursor:
          description: Cursor pagination info (when using cursor parameter)
          allOf:
          - $ref: '#/components/schemas/CursorPaginationDto'
        data:
          description: Array of market/group data
          type: array
          items:
            type: string
        pagination:
          description: Offset pagination info (when using page parameter)
          allOf:
          - $ref: '#/components/schemas/OffsetPaginationDto'
      required:
      - data
    MakerMatch:
      type: object
    Market:
      type: object
      properties:
        address:
          nullable: true
          description: The address of the FixedProductMarketMaker contract.
          type: string
          uniqueItems: true
          minLength: 42
          maxLength: 42
        condition_id:
          nullable: true
          description: The bytes32 conditionId of the market, representing the conditions defined on condition preparation.
          type: object
          uniqueItems: true
          minLength: 66
          maxLength: 66
        deadline:
          description: The deadline of the market.
          type: string
        description:
          description: The description of the market.
          type: string
          uniqueItems: false
        hidden:
          default: false
          type: boolean
        image_url:
          nullable: true
          description: The URL of the market logo image for SEO.
          type: string
        og_url:
          nullable: true
          description: The URL of the market OG image for SEO.
          type: string
        outcome_slot_count:
          description: The number of outcomes in the market.
          default: 2
          type: number
          minimum: 2.0
          maximum: 2.0
        payout_numerators:
          nullable: true
          description: The oracle payout numerators that the oracle reported.
          type: array
          items:
            type: string
        position_ids:
          nullable: true
          description: Array of position IDs (max 2 elements)
          type: array
          items:
            type: array
          maxItems: 2
        priority_index:
          type: number
        proxyTitle:
          nullable: true
          type: string
          uniqueItems: true
          maxLength: 70
        question_id:
          nullable: true
          description: The bytes32 parsed title of the market.
          type: object
          uniqueItems: true
          minLength: 66
          maxLength: 66
        resolutionTxHash:
          type: string
        status:
          description: Indicates the status of the market.
          type: string
        title:
          description: Represents the question of the market, the title metadata of the market.
          type: string
          uniqueItems: true
          maxLength: 70
        txHash:
          type: string
        winning_index:
          nullable: true
          description: The outcome index that was reported by the oracle.
          type: number
          minimum: 0.0
          maximum: 1.0
      required:
      - address
      - title
      - proxyTitle
      - description
      - question_id
      - condition_id
      - position_ids
      - outcome_slot_count
      - winning_index
      - payout_numerators
      - status
      - og_url
      - image_url
      - deadline
      - hidden
      - txHash
      - resolutionTxHash
      - priority_index
    MarketPageByPathResponseDto:
      type: object
      properties:
        baseFilter:
          description: Base filter configuration for the page
          type: object
        breadcrumb:
          description: Breadcrumb trail to this page
          type: array
          items:
            $ref: '#/components/schemas/BreadcrumbItemDto'
        description:
          nullable: true
          description: Description of the market page
          type: string
        filterGroups:
          description: Available filter groups for the page
          type: array
          items:
            $ref: '#/components/schemas/FilterGroupDto'
        fullPath:
          description: Full URL path to this market page
          type: string
        id:
          description: Unique identifier of the market page
          type: string
        metadata:
          description: Additional metadata for the page
          type: object
        name:
          description: Display name of the market page
          type: string
        slug:
          description: URL slug of the market page
          type: string
      required:
      - id
      - name
      - slug
      - fullPath
      - baseFilter
      - filterGroups
      - metadata
      - breadcrumb
    MarketPositionDataDto:
      type: object
      properties:
        no:
          example:
            cost: '25000000'
            fillPrice: '250000'
            marketValue: '20000000'
            realisedPnl: '0'
            unrealizedPnl: '-5000000'
          description: Position data for NO outcome
          allOf:
          - $ref: '#/components/schemas/PositionDataDto'
        yes:
          example:
            cost: '75000000'
            fillPrice: '750000'
            marketValue: '100000000'
            realisedPnl: '0'
            unrealizedPnl: '25000000'
          description: Position data for YES outcome
          allOf:
          - $ref: '#/components/schemas/PositionDataDto'
      required:
      - yes
      - no
    NavigationNodeDto:
      type: object
      properties:
        children:
          description: Child navigation nodes
          type: array
          items:
            $ref: '#/components/schemas/NavigationNodeDto'
        icon:
          description: Icon identifier for the navigation item
          type: string
        id:
          description: Unique identifier for the navigation node
          type: string
        name:
          description: Display name of the navigation item
          type: string
        path:
          example: /sports/football
          description: Full path to this navigation item
          type: string
        slug:
          description: URL slug for the navigation item
          type: string
      required:
      - id
      - name
      - slug
      - path
      - children
    OffsetPaginationDto:
      type: object
      properties:
        limit:
          description: Number of items per page
          type: number
        page:
          description: Current page number
          type: number
        total:
          description: Total number of items
          type: number
        totalPages:
          description: Total number of pages
          type: number
      required:
      - page
      - limit
      - total
      - totalPages
    Order:
      type: object
      properties:
        expiration:
          example: 2025-04-30T23:59:59Z
          description: Order expiration timestamp
          type: string
        feeRateBps:
          example: 0
          description: Fee rate in basis points (1% = 100)
          type: number
        maker:
          example: 0x742d35Cc6634C0532925a3b844Bc454e4438f44e
          description: Ethereum address of the maker (order creator)
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
        makerAmount:
          example: 5000000
          description: 'Amount the maker is offering, scaled by 1e6. For GTC orders: price * size * 1e6 (BUY) or size * 1e6 (SELL). For FOK orders: USDC to spend * 1e6 (BUY) or shares to sell * 1e6 (SELL).'
          type: number
          minimum: 0.0
        nonce:
          example: 42
          description: Order nonce for cancellation tracking
          type: number
        price:
          example: 0.75
          description: Order price as decimal (0.01-0.99, required for GTC orders)
          type: number
          minimum: 0.01
          maximum: 0.99
        salt:
          example: 1234567890
          description: Unique random value for signature uniqueness (prevents replay attacks)
          type: number
        side:
          example: 0
          description: 'Order side: 0 = BUY, 1 = SELL'
          type: number
          enum:
          - 0.0
          - 1.0
        signature:
          example: 0x123abc456def789ghi0123abc456def789ghi0123abc456def789ghi0123456789012345678901
          description: EIP-712 signature of order details. Optional when using delegated signing.
          type: string
        signatureType:
          example: 2
          description: Signature type (0-3). Optional when using delegated signing.
          type: number
          enum:
          - 0.0
          - 1.0
          - 2.0
          - 3.0
        signer:
          example: 0x742d35Cc6634C0532925a3b844Bc454e4438f44e
          description: Address that signed the order
          type: string
        taker:
          example: '0x0000000000000000000000000000000000000000'
          description: Specific taker address (optional for open orders)
          type: string
        takerAmount:
          example: 10000000
          description: 'Amount the maker wants in return, scaled by 1e6. For GTC orders: size * 1e6 (BUY) or price * size * 1e6 (SELL). For FOK orders: always 1.'
          type: number
          minimum: 0.0
        tokenId:
          example: '19633204485790857949828516737993423758628930235371629943999544859324645414627'
          description: Token ID being traded (YES or NO position ID from conditional token)
          type: string
      required:
      - salt
      - maker
      - signer
      - tokenId
      - makerAmount
      - takerAmount
      - feeRateBps
      - side
    OrderExecutionDto:
      description: Execution and settlement summary for a created order
      type: object
      properties:
        clientOrderId:
          example: client-order-001
          description: Echo of client-provided idempotency key
          type: string
        effectiveFeeBps:
          example: 26
          description: Effective fee rate in basis points after any rebates
          type: number
        feeRateBps:
          example: 25
          description: Fee rate in basis points applied to this order
          type: number
        matched:
          example: true
          description: Whether the order was matched immediately
          type: boolean
        settlementStatus:
          example: MINED
          description: Current settlement status of the order
          type: string
          enum:
          - UNMATCHED
          - MATCHED
          - MINED
          - CONFIRMED
          - RETRYING
          - FAILED
        totalsRaw:
          $ref: '#/components/schemas/OrderExecutionTotalsRawDto'
        tradeEventId:
          example: 4aa706dd-6c57-4f3c-945a-99818dfd95f1
          description: Trade event ID (present when matched)
          type: string
        txHash:
          nullable: true
          example: '0xabc123'
          description: On-chain transaction hash (present when mined)
          type: string
      required:
      - matched
      - settlementStatus
      - feeRateBps
      - effectiveFeeBps
      - totalsRaw
    OrderExecutionSummary:
      type: object
      properties:
        clientOrderId:
          nullable: true
          description: Client-provided order ID if one was set
          type: string
        effectiveFeeBps:
          example: 0
          description: Effective fee rate after rebates
          type: number
        feeRateBps:
          example: 0
          description: Fee rate in basis points
          type: number
        matched:
          description: Whether the order was matched with a counterparty
          type: boolean
        settlementStatus:
          description: On-chain settlement status
          type: string
          enum:
          - UNMATCHED
          - PENDING
          - MINED
          - CONFIRMED
          - FAILED
        totalsRaw:
          description: Raw execution totals as strings (to preserve precision)
          type: object
          properties:
            contractsFee:
              type: string
            contractsGross:
              type: string
            contractsNet:
              type: string
            usdFee:
              type: string
            usdGross:
              type: string
            usdNet:
              type: string
        tradeEventId:
          nullable: true
          description: Trade event ID if matched
          type: string
        txHash:
          nullable: true
          description: Transaction hash on Base L2
          type: string
    OrderExecutionTotalsRawDto:
      description: Raw execution totals in contract units (strings to preserve precision)
      type: object
      properties:
        contractsFee:
          example: '1000'
          type: string
        contractsGross:
          example: '1000000'
          type: string
        contractsNet:
          example: '999000'
          type: string
        usdFee:
          example: '500'
          type: string
        usdGross:
          example: '500000'
          type: string
        usdNet:
          example: '499500'
          type: string
      required:
      - contractsGross
      - contractsFee
      - contractsNet
      - usdGross
      - usdFee
      - usdNet
    OrderResponseDto:
      type: object
      properties:
        execution:
          $ref: '#/components/schemas/OrderExecutionDto'
        makerMatches:
          description: Maker matches if order was matched immediately
          type: array
          items:
            $ref: '#/components/schemas/MakerMatch'
        order:
          description: Order details including slim market and owner
          allOf:
          - $ref: '#/components/schemas/Order'
      required:
      - order
      - execution
    PartnerAccountAllowanceResponse:
      type: object
      properties:
        chainId:
          example: 84532
          description: Chain where allowance targets were checked
          type: integer
        partnerProfileId:
          example: 4430
          description: Authenticated parent partner profile ID
          type: integer
        profileId:
          example: 4543
          description: Child/server-wallet profile ID being checked
          type: integer
        ready:
          example: false
          description: True when every target is confirmed on chain
          type: boolean
        summary:
          $ref: '#/components/schemas/PartnerAccountAllowanceSummary'
        targets:
          type: array
          items:
            $ref: '#/components/schemas/PartnerAccountAllowanceTarget'
        walletAddress:
          example: 0x1a665817f063Ee15C6C2c05D4315982145825C3D
          description: Managed server-wallet address for the child profile
          type: string
      required:
      - profileId
      - partnerProfileId
      - chainId
      - walletAddress
      - ready
      - summary
      - targets
    PartnerAccountAllowanceSummary:
      type: object
      properties:
        confirmed:
          example: 2
          description: Targets confirmed on chain
          type: integer
        failed:
          example: 0
          description: Targets whose latest live read or retry state failed
          type: integer
        missing:
          example: 0
          description: Targets still missing
          type: integer
        submitted:
          example: 8
          description: Targets submitted by the current retry response
          type: integer
        total:
          example: 10
          description: Total allowance target count
          type: integer
      required:
      - total
      - confirmed
      - missing
      - submitted
      - failed
    PartnerAccountAllowanceTarget:
      type: object
      properties:
        confirmed:
          example: false
          description: Whether this target is confirmed on chain
          type: boolean
        errorCode:
          nullable: true
          example: RPC_READ_FAILED
          description: Machine-readable failure code
          type: string
        errorMessage:
          nullable: true
          description: Human-readable failure message
          type: string
        label:
          example: ctf-exchange
          description: Human-readable target label
          type: string
        requiredFor:
          example: BUY
          description: Trading side that requires this target
          type: string
          enum:
          - BUY
          - SELL
        retryable:
          example: true
          description: Whether a retry request may attempt this target
          type: boolean
        spenderOrOperator:
          example: 0x54d696A602343063000B25a51734E3BbE0Ec80a2
          description: Allowance spender or operator address
          type: string
        status:
          example: submitted
          description: Current target status
          type: string
          enum:
          - confirmed
          - missing
          - submitted
          - failed
        tokenAddress:
          example: 0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
          description: ERC20 or conditional-token contract address
          type: string
        transactionId:
          nullable: true
          example: tx_abc123
          description: Sponsored transaction ID when submitted
          type: string
        txHash:
          nullable: true
          example: 0xabc123...
          description: Transaction hash when available
          type: string
        type:
          example: USDC_ALLOWANCE
          description: Allowance target category
          type: string
          enum:
          - USDC_ALLOWANCE
          - CTF_APPROVAL
        userOperationHash:
          nullable: true
          example: 0xdef456...
          description: User operation hash when available
          type: string
      required:
      - type
      - tokenAddress
      - spenderOrOperator
      - label
      - requiredFor
      - confirmed
      - status
      - retryable
    PartnerAllowanceRetryRateLimitError:
      type: object
      properties:
        message:
          example: Allowance retry rate limited
          type: string
        retryAfterSeconds:
          example: 30
          description: Seconds to wait before retrying
          type: integer
      required:
      - message
      - retryAfterSeconds
    PartnerCapabilitiesResponse:
      type: object
      properties:
        allowedScopes:
          example:
          - trading
          - account_creation
          - delegated_signing
          description: Scopes the partner is allowed to request when deriving tokens
          type: array
          items:
            type: string
            enum:
            - trading
            - account_creation
            - delegated_signing
        partnerProfileId:
          example: 42
          description: Partner profile ID
          type: integer
        tokenManagementEnabled:
          example: true
          description: Whether the partner can manage tokens via self-service endpoints
          type: boolean
      required:
      - partnerProfileId
      - tokenManagementEnabled
      - allowedScopes
    PortfolioPnlChartDto:
      type: object
      properties:
        current:
          nullable: true
[...]
