openapi: 3.0.3
info:
  title: Krexa API
  version: 1.0.0
  description: |
    Krexa is a programmable credit network for AI agents on Solana. The
    REST API exposes Krexit Score lookups, KYA (Know-Your-Agent) credential
    issuance and verification, credit eligibility and active credit lines,
    vault statistics, devnet faucet, an oracle co-signer for borrow
    transactions, and the Pay.sh credit-backed API payment flow.

    ## Auth
    Most endpoints are public. To raise the rate limit from 30 req/min to
    60 req/min, callers attach an `X-API-Key: kx_...` header. Pay.sh
    endpoints that mutate state (`/call`, `/discover`, `/history`,
    `/budget`, `/confirm`, `/tier`) require the same header (it is
    provisioned by `POST /solana/paysh/onboard`).

    The API key is provisioned client-side by signing the message
    `Krexa API key provision for <wallet>` with the wallet's Ed25519
    keypair and posting the base58 signature to `/access/provision-key`.
    The signing itself is hand-written (Solana tweetnacl); this spec only
    declares the resulting header for codegen purposes. The signing shim
    lives at `apps/krexa/src/auth.rs`.
servers:
- url: https://api.krexa.xyz/api/v1
  description: Production
- url: https://tcredit-backend.onrender.com/api/v1
  description: Render origin (cold-start delays of 30-60s possible)
security:
- apiKey: []
- {}
tags:
- name: kya
  description: Know-Your-Agent credential lookup and verification
- name: score
  description: Krexit Score lookups
- name: credit
  description: Credit eligibility, active credit lines, score breakdown
- name: oracle
  description: Oracle co-signing for borrow transactions
- name: vault
  description: Vault TVL, utilization, tranche stats
- name: faucet
  description: Devnet USDC faucet
- name: paysh
  description: Pay.sh credit-backed API payments
- name: access
  description: API key provisioning
paths:
  /kya/{input}:
    get:
      operationId: getKyaCredential
      tags:
      - kya
      summary: Get full KYA credential
      description: |
        Returns the signed KYA credential with 7 sections: identity,
        principal, permissions, score, reputation, financial,
        attestation.
      parameters:
      - $ref: '#/components/parameters/KyaInput'
      responses:
        '200':
          description: Full KYA credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KyaCredential'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /kya/{input}/quick:
    get:
      operationId: getKyaQuick
      tags:
      - kya
      summary: Quick credential check
      description: Minimal-field response intended for high-frequency checks.
      parameters:
      - $ref: '#/components/parameters/KyaInput'
      responses:
        '200':
          description: Minimal KYA snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  check:
                    type: object
                    properties:
                      agentType:
                        type: string
                      creditLevel:
                        type: integer
                      isRegisteredOnKrexa:
                        type: boolean
                      kyaTier:
                        type: integer
                      kyaVerified:
                        type: boolean
                      limits:
                        type: object
                        properties:
                          dailyLimitUsd:
                            type: integer
                          maxTransactionUsd:
                            type: integer
                        required:
                        - dailyLimitUsd
                        - maxTransactionUsd
                      name:
                        type: string
                      riskBand:
                        type: string
                      score:
                        type: integer
                      timestamp:
                        type: string
                      totalAssetsUsd:
                        type: integer
                      trustTier:
                        type: string
                      txCount:
                        type: integer
                      wallet:
                        type: string
                      walletAgeDays:
                        type: integer
                    required:
                    - agentType
                    - creditLevel
                    - isRegisteredOnKrexa
                    - kyaTier
                    - kyaVerified
                    - limits
                    - name
                    - riskBand
                    - score
                    - timestamp
                    - totalAssetsUsd
                    - trustTier
                    - txCount
                    - wallet
                    - walletAgeDays
                  success:
                    type: boolean
                required:
                - check
                - success
        '404':
          $ref: '#/components/responses/NotFound'
  /kya/verify:
    post:
      operationId: verifyKyaCredential
      tags:
      - kya
      summary: Verify a KYA credential
      description: |
        Verifies the credential's Ed25519 signature, expiry, and the
        issuer's trust status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KyaVerifyRequest'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KyaVerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /kya/search:
    get:
      operationId: searchKyaAgents
      tags:
      - kya
      summary: Autocomplete search by wallet prefix or name
      parameters:
      - in: query
        name: q
        required: true
        schema:
          type: string
        description: Wallet prefix or agent name fragment
      responses:
        '200':
          description: Up to 20 matches
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  success:
                    type: boolean
                required:
                - results
                - success
  /solana/score/{agent}:
    get:
      operationId: getScore
      tags:
      - score
      summary: Get Krexit Score for an agent
      description: |
        Returns the Krexit Score (200-850) and its component breakdown.
        Unregistered wallets receive a `preview` score derived from
        wallet age, transaction count, and SOL balance.
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      responses:
        '200':
          description: Score with components
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /solana/credit/{agent}/eligibility:
    get:
      operationId: getCreditEligibility
      tags:
      - credit
      summary: Credit eligibility check
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      responses:
        '200':
          description: Eligibility, level, available credit, current debt
          content:
            application/json:
              schema:
                type: object
                properties:
                  agentPubkey:
                    type: string
                  creditLevel:
                    type: integer
                  creditScore:
                    type: integer
                  eligible:
                    type: boolean
                  kyaTier:
                    type: integer
                  maxCreditUsdc:
                    type: integer
                  reason:
                    type: string
                required:
                - agentPubkey
                - creditLevel
                - creditScore
                - eligible
                - kyaTier
                - maxCreditUsdc
                - reason
        '404':
          $ref: '#/components/responses/NotFound'
  /solana/credit/{agent}/line:
    get:
      operationId: getCreditLine
      tags:
      - credit
      summary: Active credit line details
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      responses:
        '200':
          description: Active credit line
          content:
            application/json:
              schema:
                type: object
                properties:
                  accruedInterest:
                    type: string
                  agentPubkey:
                    type: string
                  creditDrawn:
                    type: string
                  creditLimit:
                    type: string
                  exists:
                    type: boolean
                  healthFactorBps:
                    type: integer
                  interestRateBps:
                    type: integer
                  isActive:
                    type: boolean
                  isFrozen:
                    type: boolean
                  lastAccrualTimestamp:
                    type: string
                  originatedAt:
                    type: string
                  totalInterestPaid:
                    type: string
                  totalOwed:
                    type: string
                required:
                - accruedInterest
                - agentPubkey
                - creditDrawn
                - creditLimit
                - exists
                - healthFactorBps
                - interestRateBps
                - isActive
                - isFrozen
                - lastAccrualTimestamp
                - originatedAt
                - totalInterestPaid
                - totalOwed
        '404':
          $ref: '#/components/responses/NotFound'
  /solana/credit/{agent}/score-breakdown:
    get:
      operationId: getScoreBreakdown
      tags:
      - credit
      summary: Detailed Krexit Score component breakdown
      description: |
        Returns the score together with the 5 weighted components
        (repayment, profit, behavior, usage, age) and the credit level
        derived from the score.
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      responses:
        '200':
          description: Score breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreBreakdown'
  /solana/oracle/sign-credit:
    post:
      operationId: signCreditTransaction
      tags:
      - oracle
      summary: Oracle co-sign a borrow transaction
      description: |
        The oracle verifies the agent's score and co-signs the borrow
        transaction. The response transaction is base64-encoded and
        partially signed; the caller must add the agent or owner
        signature before submitting to Solana.
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignCreditRequest'
      responses:
        '200':
          description: Partially-signed borrow transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignCreditResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /solana/vault/stats:
    get:
      operationId: getVaultStats
      tags:
      - vault
      summary: Vault TVL, utilization, and tranche stats
      responses:
        '200':
          description: Vault statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultStats'
  /solana/faucet/usdc:
    post:
      operationId: requestFaucetUsdc
      tags:
      - faucet
      summary: Request test USDC (devnet only)
      description: |
        Devnet-only. Disabled on mainnet-beta. Rate-limited to one call
        per 24 hours per recipient address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaucetRequest'
      responses:
        '200':
          description: Faucet transfer signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaucetResponse'
        '404':
          description: Faucet not available (mainnet)
        '429':
          $ref: '#/components/responses/RateLimited'
  /access/provision-key:
    post:
      operationId: provisionApiKey
      tags:
      - access
      summary: Provision an API key for a Solana wallet
      description: |
        Self-service API key provisioning. The caller signs the message
        `Krexa API key provision for <wallet>` with their wallet
        keypair and posts the base58 signature here. The returned `kx_`
        key is then passed as `X-API-Key` on subsequent requests for
        the 60 req/min tier.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionKeyRequest'
      responses:
        '200':
          description: Newly provisioned API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisionKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /solana/paysh/onboard:
    post:
      operationId: payshOnboard
      tags:
      - paysh
      summary: One-call agent onboarding
      description: |
        Deploys an agent wallet, grants $500 L1 credit, and provisions an
        API key in a single call. Returns an unsigned transaction the
        owner must sign and submit.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayshOnboardRequest'
      responses:
        '200':
          description: Onboarding payload with unsigned transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshOnboardResponse'
  /solana/paysh/{agent}/call:
    post:
      operationId: payshCall
      tags:
      - paysh
      summary: Full API call flow
      description: |
        Probe the target URL for x402 pricing, check budget and funding,
        and build a USDC payment transaction.
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayshCallRequest'
      responses:
        '200':
          description: Payment payload (transaction may be null if credit draw needed first)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshCallResponse'
  /solana/paysh/{agent}/discover:
    post:
      operationId: payshDiscover
      tags:
      - paysh
      summary: Probe URL for x402 pricing
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayshDiscoverRequest'
      responses:
        '200':
          description: Pricing and affordability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshDiscoverResponse'
  /solana/paysh/{agent}/balance:
    get:
      operationId: payshBalance
      tags:
      - paysh
      summary: Wallet USDC balance and available credit
      security: []
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      responses:
        '200':
          description: Balance and credit-line view
          content:
            application/json:
              schema:
                type: object
                properties:
                  agentPubkey:
                    type: string
                  creditLine:
                    type: object
                    properties:
                      availableCredit:
                        type: string
                      availableCreditUsdc:
                        type: integer
                      creditDrawn:
                        type: string
                      creditLimit:
                        type: string
                      exists:
                        type: boolean
                      healthFactorBps:
                        type: integer
                      isActive:
                        type: boolean
                    required:
                    - availableCredit
                    - availableCreditUsdc
                    - creditDrawn
                    - creditLimit
                    - exists
                    - healthFactorBps
                    - isActive
                  isFrozen:
                    type: boolean
                  isLiquidating:
                    type: boolean
                  pusdBalanceBaseUnits:
                    type: string
                  pusdBalanceUsdc:
                    type: integer
                  supportedTokens:
                    type: array
                    items:
                      type: string
                  totalSpendableUsdc:
                    type: integer
                  totalSpendableWithPusd:
                    type: integer
                  walletBalanceBaseUnits:
                    type: string
                  walletBalanceUsdc:
                    type: integer
                  walletExists:
                    type: boolean
                required:
                - agentPubkey
                - creditLine
                - isFrozen
                - isLiquidating
                - pusdBalanceBaseUnits
                - pusdBalanceUsdc
                - supportedTokens
                - totalSpendableUsdc
                - totalSpendableWithPusd
                - walletBalanceBaseUnits
                - walletBalanceUsdc
                - walletExists
  /solana/paysh/{agent}/history:
    get:
      operationId: payshHistory
      tags:
      - paysh
      summary: Paginated spending history with analytics
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      - in: query
        name: page
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
      - in: query
        name: domain
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Calls, summary, pagination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshHistory'
  /solana/paysh/{agent}/budget:
    get:
      operationId: payshGetBudget
      tags:
      - paysh
      summary: Get current budget limits and usage
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Budget state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshBudget'
    post:
      operationId: payshSetBudget
      tags:
      - paysh
      summary: Update spending limits
      description: All fields are optional; only provided fields are updated.
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayshBudgetUpdate'
      responses:
        '200':
          description: Updated budget
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshBudget'
  /solana/paysh/{agent}/confirm:
    post:
      operationId: payshConfirm
      tags:
      - paysh
      summary: Confirm a payment tx was submitted on-chain
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayshConfirmRequest'
      responses:
        '200':
          description: Confirmation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshConfirmResponse'
  /solana/paysh/{agent}/estimate:
    get:
      operationId: payshEstimate
      tags:
      - paysh
      summary: Offline cost estimate from the curated catalog
      security: []
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - in: query
        name: url
        required: true
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: Estimated cost
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshEstimate'
  /solana/paysh/{agent}/tier:
    get:
      operationId: payshTier
      tags:
      - paysh
      summary: Agent's score-based API access tier
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Tier and current usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshTier'
  /solana/paysh/catalog:
    get:
      operationId: payshCatalog
      tags:
      - paysh
      summary: List Pay.sh curated APIs
      security: []
      parameters:
      - in: query
        name: category
        required: false
        schema:
          type: string
      - in: query
        name: provider
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshCatalog'
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        `kx_`-prefixed key. Sent as `X-API-Key` (the Pay.sh endpoints
        also accept the lowercase `x-api-key` header). Provisioned via
        `POST /access/provision-key` or returned by `POST /solana/paysh/onboard`.
  parameters:
    AgentPath:
      in: path
      name: agent
      required: true
      schema:
        type: string
      description: Solana agent public key (base58)
    KyaInput:
      in: path
      name: input
      required: true
      schema:
        type: string
      description: Wallet address, `.sol` domain, or agent name
    ApiKeyHeader:
      in: header
      name: X-API-Key
      required: true
      schema:
        type: string
      description: |
        `kx_`-prefixed key from `POST /access/provision-key` or
        `POST /solana/paysh/onboard`. Required on Pay.sh authenticated
        endpoints.
  responses:
    BadRequest:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    NotFound:
      description: Agent or resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
  schemas:
    ApiError:
      type: object
      properties:
        error:
          type: string
          example: AppError
        message:
          type: string
    KyaCredential:
      type: object
      description: |
        Signed KYA credential with 7 sections. Inner shape is documented
        on the platform but not fully reified here — treat as a loose
        object until the Krexa team publishes a JSON Schema.
      additionalProperties: true
      properties:
        identity:
          type: object
          additionalProperties: true
        principal:
          type: object
          additionalProperties: true
        permissions:
          type: object
          additionalProperties: true
        score:
          type: object
          additionalProperties: true
        reputation:
          type: object
          additionalProperties: true
        financial:
          type: object
          additionalProperties: true
        attestation:
          type: object
          additionalProperties: true
    KyaQuick:
      type: object
      properties:
        wallet:
          type: string
        name:
          type: string
        type:
          type: string
          description: Agent type label
        score:
          type: integer
        trustTier:
          type: string
          description: One of unverified, identified, provisional, trusted, established, premium
        level:
          type: integer
        onTimeRate:
          type: number
          format: double
        operatingDays:
          type: integer
        defaultCount:
          type: integer
        verified:
          type: boolean
    KyaVerifyRequest:
      type: object
      required:
      - credential
      properties:
        credential:
          $ref: '#/components/schemas/KyaCredential'
    KyaVerifyResponse:
      type: object
      properties:
        valid:
          type: boolean
        expired:
          type: boolean
        issuerTrusted:
          type: boolean
        onChainMatch:
          type: boolean
        errors:
          type: array
          items:
            type: string
    KyaSearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/KyaSearchHit'
    KyaSearchHit:
      type: object
      properties:
        name:
          type: string
        wallet:
          type: string
        score:
          type: integer
        trustTier:
          type: string
    ScoreResponse:
      type: object
      properties:
        source:
          type: string
          description: '`onchain` or `preview`'
        agentPubkey:
          type: string
        isRegistered:
          type: boolean
        preview:
          $ref: '#/components/schemas/ScorePreview'
    ScorePreview:
      type: object
      properties:
        score:
          type: integer
          minimum: 200
          maximum: 850
        network:
          type: string
          description: e.g. mainnet-beta, devnet
        txCount:
          type: integer
        breakdown:
          $ref: '#/components/schemas/PreviewBreakdown'
        components:
          $ref: '#/components/schemas/ScoreComponents'
    PreviewBreakdown:
      type: object
      additionalProperties: true
      properties:
        base:
          type: integer
        walletAge:
          type: integer
        transactionActivity:
          type: integer
    ScoreComponents:
      type: object
      description: Raw component scores in basis points
      properties:
        c1Repayment:
          type: integer
        c2Profitability:
          type: integer
        c3Behavioral:
          type: integer
        c4Usage:
          type: integer
        c5Maturity:
          type: integer
    ScoreBreakdown:
      type: object
      description: |
        Score plus the 5 weighted components used to derive it. Field
        names follow the developer landing-page JS sample; the components
        block is `{ repayment, profit, behavior, usage, age }`.
      properties:
        score:
          type: integer
        level:
          type: integer
        components:
          type: object
          properties:
            repayment:
              type: number
            profit:
              type: number
            behavior:
              type: number
            usage:
              type: number
            age:
              type: number
    CreditEligibility:
      type: object
      properties:
        eligible:
          type: boolean
        creditLevel:
          type: integer
          minimum: 0
          maximum: 4
        maxCredit:
          type: number
          description: USDC, human-readable units
        currentDebt:
          type: number
        availableCredit:
          type: number
        rateBps:
          type: integer
          description: Annual rate in basis points
        reason:
          type: string
          nullable: true
    CreditLine:
      type: object
      properties:
        active:
          type: boolean
        principal:
          type: integer
          format: int64
          description: USDC lamports (6 decimals)
        accruedInterest:
          type: integer
          format: int64
        totalOwed:
          type: integer
          format: int64
        rateBps:
          type: integer
        openedAt:
          type: string
          format: date-time
        healthFactor:
          type: integer
          description: Health factor in basis points (15000 = 150%)
    SignCreditRequest:
      type: object
      required:
      - agentPubkey
      - agentOrOwnerPubkey
      - amount
      properties:
        agentPubkey:
          type: string
        agentOrOwnerPubkey:
          type: string
        amount:
          type: string
          description: |
            USDC lamports as a string of digits (e.g. `"500000000"` for
            $500). Sending a JSON number will fail validation.
        rateBps:
          type: integer
        creditLevel:
          type: integer
          minimum: 1
          maximum: 4
        collateralValueUsdc:
          type: string
          default: '0'
    SignCreditResponse:
      type: object
      properties:
        transaction:
          type: string
          description: Base64-encoded partially-signed transaction
        message:
          type: string
    VaultStats:
      type: object
      properties:
        tvl:
          type: number
          description: Total value locked (USDC, human-readable units)
        totalBorrowed:
          type: number
        utilizationRate:
          type: number
          format: double
          minimum: 0
          maximum: 1
        tranches:
          $ref: '#/components/schemas/VaultTranches'
    VaultTranches:
      type: object
      properties:
        senior:
          $ref: '#/components/schemas/VaultTranche'
        mezzanine:
          $ref: '#/components/schemas/VaultTranche'
        junior:
          $ref: '#/components/schemas/VaultTranche'
    VaultTranche:
      type: object
      properties:
        deposits:
          type: number
        apr:
          type: number
        utilization:
          type: number
          format: double
    FaucetRequest:
      type: object
      required:
      - recipient
      properties:
        recipient:
          type: string
          description: Solana address (base58)
        amountUsdc:
          type: number
          default: 100
          maximum: 100
    FaucetResponse:
      type: object
      properties:
        signature:
          type: string
        amount:
          type: number
        recipient:
          type: string
    ProvisionKeyRequest:
      type: object
      required:
      - wallet
      - signature
      properties:
        wallet:
          type: string
          description: Solana wallet address (base58)
        signature:
          type: string
          description: |
            Base58-encoded Ed25519 signature over the literal message
            `Krexa API key provision for <wallet>`.
    ProvisionKeyResponse:
      type: object
      properties:
        key:
          type: string
          description: '`kx_`-prefixed API key — store it; not retrievable later'
    PayshOnboardRequest:
      type: object
      required:
      - agentPubkey
      - ownerPubkey
      properties:
        agentPubkey:
          type: string
        ownerPubkey:
          type: string
        name:
          type: string
          maxLength: 32
          default: krexa-agent
        dailySpendLimitUsdc:
          type: number
          default: 500
    PayshOnboardResponse:
      type: object
      properties:
        status:
          type: string
          description: '`ready` if a new wallet was created; `exists` if it already existed'
        transaction:
          type: string
          nullable: true
          description: Base64-encoded unsigned transaction, or null if status is `exists`
        encoding:
          type: string
          example: base64
        agentPubkey:
          type: string
        ownerPubkey:
          type: string
        steps:
          type: array
          items:
            type: string
        apiKey:
          type: string
        creditRequest:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
            amount:
              type: string
            level:
              type: integer
        settlement:
          type: object
          properties:
            splitBps:
              type: integer
            included:
              type: boolean
        budget:
          type: object
          properties:
            dailyLimitUsdc:
              type: number
            perCallMaxUsdc:
              type: number
        message:
          type: string
    PayshCallRequest:
      type: object
      required:
      - targetUrl
      - ownerAddress
      properties:
        targetUrl:
          type: string
          format: uri
        method:
          type: string
          description: GET, POST, PUT, DELETE (default GET)
          default: GET
        body:
          type: object
          additionalProperties: true
        headers:
          type: object
          additionalProperties:
            type: string
          description: Auth/cookie headers are stripped before proxying
        ownerAddress:
          type: string
        maxPaymentUsdc:
          type: number
        useCredit:
          type: boolean
          default: false
    PayshCallResponse:
      type: object
      properties:
        agentPubkey:
          type: string
        paymentRequired:
          type: boolean
        funded:
          type: boolean
        transaction:
          type: string
          nullable: true
        apiPriceUsdc:
          type: number
        autoCreditDraw:
          $ref: '#/components/schemas/PayshAutoCreditDraw'
        retryInstructions:
          type: string
          nullable: true
    PayshAutoCreditDraw:
      type: object
      nullable: true
      properties:
        amountUsdc:
          type: number
        amountBaseUnits:
          type: string
        endpoint:
          type: string
        params:
          type: object
          additionalProperties: true
        note:
          type: string
    PayshDiscoverRequest:
      type: object
      required:
      - targetUrl
      properties:
        targetUrl:
          type: string
          format: uri
        method:
          type: string
          default: GET
    PayshDiscoverResponse:
      type: object
      properties:
        pricing:
          $ref: '#/components/schemas/PayshPricing'
        affordability:
          type: object
          properties:
            canAfford:
              type: boolean
            needsCreditDraw:
              type: boolean
    PayshPricing:
      type: object
      properties:
        amount:
          type: string
          description: Base-unit amount as a string of digits
        payTo:
          type: string
        network:
          type: string
        asset:
          type: string
    PayshBalance:
      type: object
      properties:
        walletExists:
          type: boolean
        walletBalanceUsdc:
          type: number
        creditLine:
          type: object
          properties:
            available:
              type: boolean
            limitUsdc:
              type: number
            usedUsdc:
              type: number
            remainingUsdc:
              type: number
        totalSpendableUsdc:
          type: number
        isFrozen:
          type: boolean
    PayshHistory:
      type: object
      properties:
        calls:
          type: array
          items:
            $ref: '#/components/schemas/PayshCallRecord'
        summary:
          $ref: '#/components/schemas/PayshHistorySummary'
        pagination:
          $ref: '#/components/schemas/Pagination'
    PayshCallRecord:
      type: object
      properties:
        id:
          type: string
        targetUrl:
          type: string
        apiDomain:
          type: string
        method:
          type: string
        amountUsdc:
          type: number
        status:
          type: string
        creditUsed:
          type: boolean
        calledAt:
          type: string
          format: date-time
    PayshHistorySummary:
      type: object
      properties:
        totalCalls:
          type: integer
        totalSpent:
          type: number
        todaySpent:
          type: number
        monthSpent:
          type: number
        byDomain:
          type: object
          additionalProperties:
            type: number
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
    PayshBudget:
      type: object
      properties:
        dailyLimitUsdc:
          type: number
        perCallMaxUsdc:
          type: number
        monthlyCapUsdc:
          type: number
        isPaused:
          type: boolean
        usage:
          type: object
          properties:
            today:
              type: number
            thisMonth:
              type: number
            dailyPct:
              type: number
            monthlyPct:
              type: number
    PayshBudgetUpdate:
      type: object
      properties:
        dailyLimitUsdc:
          type: number
        perCallMaxUsdc:
          type: number
        monthlyCapUsdc:
          type: number
        alertAtPct:
          type: number
        isPaused:
          type: boolean
    PayshConfirmRequest:
      type: object
      required:
      - txSignature
      properties:
        txSignature:
          type: string
        responseCode:
          type: integer
    PayshConfirmResponse:
      type: object
      properties:
        confirmed:
          type: boolean
        txSignature:
          type: string
    PayshEstimate:
      type: object
      properties:
        matched:
          type: boolean
        api:
          $ref: '#/components/schemas/PayshCatalogEntry'
        estimatedCostUsdc:
          type: string
          description: Human-readable range like "0.001-0.05"
        note:
          type: string
    PayshTier:
      type: object
      properties:
        agentPubkey:
          type: string
        tier:
          type: string
          description: e.g. Builder, Pro
        creditScore:
          type: integer
        currentUsage:
          type: object
          properties:
            dailySpent:
              type: number
            monthlySpent:
              type: number
    PayshCatalog:
      type: object
      properties:
        count:
          type: integer
        apis:
          type: array
          items:
            $ref: '#/components/schemas/PayshCatalogEntry'
    PayshCatalogEntry:
      type: object
      properties:
        name:
          type: string
        provider:
          type: string
        category:
          type: string
        description:
          type: string
        exampleUrl:
          type: string
        estimatedCostUsdc:
          type: string
