openapi: 3.0.3
info:
  title: Para Wallet REST API
  version: "1.0.0"
  description: |
    Minimal OpenAPI surface for the Para MPC wallet REST API, covering only the
    endpoints used by the Aomi `para` app: wallet create, wallet get, and raw signing.

    ## Auth
    Para uses a static API key passed in the `X-API-Key` header. An optional
    `X-Request-Id` (UUID) header is supported for idempotency / tracing.
    The API key is provided at runtime via host context (state attribute
    `para_api_key` / `PARA_API_KEY`); the spec only describes the header for
    codegen purposes.

servers:
  - url: https://api.beta.getpara.com
    description: Beta
  - url: https://api.getpara.com
    description: Production

security:
  - apiKey: []

paths:
  /v1/wallets:
    post:
      operationId: createWallet
      summary: Create a new MPC wallet
      description: |
        Create a Para MPC wallet for the given user identifier. Wallet creation
        is asynchronous: the response typically has `status = "creating"` and
        the wallet must be polled until `status = "ready"` before signing.
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      responses:
        '200':
          description: Wallet record (when re-creation returns existing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '201':
          description: Wallet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized (missing or invalid API key)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden (IP not allowlisted)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict — a wallet with this (type, scheme, userIdentifier) already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/wallets/{walletId}:
    get:
      operationId: getWallet
      summary: Fetch a single wallet by ID
      parameters:
        - $ref: '#/components/parameters/WalletId'
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Wallet record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/wallets/{walletId}/sign-raw:
    post:
      operationId: signRaw
      summary: MPC-sign raw 0x-prefixed hex data
      description: |
        Produce a distributed MPC signature over the supplied raw bytes.
        The wallet must have `status = "ready"` before signing. Response
        shape varies slightly by signing scheme; minimally includes a
        `signature` (or `sig`) field.
      parameters:
        - $ref: '#/components/parameters/WalletId'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignRawRequest'
      responses:
        '200':
          description: Signature payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignRawResponse'
        '400':
          description: Invalid input (e.g. data not 0x-prefixed hex)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Wallet not in a signable state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    WalletId:
      name: walletId
      in: path
      required: true
      description: Para wallet identifier
      schema:
        type: string
    RequestId:
      name: X-Request-Id
      in: header
      required: false
      description: Optional UUID for request tracing / idempotency
      schema:
        type: string
        format: uuid

  schemas:
    CreateWalletRequest:
      type: object
      required:
        - type
        - userIdentifier
        - userIdentifierType
      properties:
        type:
          description: Wallet chain family
          type: string
          enum:
            - EVM
            - SOLANA
            - COSMOS
        userIdentifier:
          description: User handle (email, phone, custom ID, etc.) the wallet is anchored to
          type: string
        userIdentifierType:
          description: How Para should validate / normalize the userIdentifier
          type: string
          enum:
            - EMAIL
            - PHONE
            - CUSTOM_ID
            - GUEST_ID
            - TELEGRAM
            - DISCORD
            - TWITTER
        scheme:
          description: Optional MPC signing scheme
          type: string
          enum:
            - DKLS
            - CGGMP
            - ED25519
        cosmosPrefix:
          description: Optional bech32 prefix (Cosmos wallets only)
          type: string

    SignRawRequest:
      type: object
      required:
        - data
      properties:
        data:
          description: 0x-prefixed hex bytes to sign
          type: string
          pattern: '^0x[0-9a-fA-F]+$'

    Wallet:
      type: object
      description: Para wallet record. Additional fields may be returned.
      additionalProperties: true
      properties:
        id:
          type: string
          description: Para wallet ID (typically a UUID)
        type:
          type: string
          description: Wallet chain family
        status:
          type: string
          description: |
            Wallet lifecycle status. Observed values include `creating`,
            `ready`, and `error`; other values may exist.
        address:
          type: string
          description: On-chain address (present once status = ready)
        publicKey:
          type: string
          description: Hex-encoded public key (present once status = ready)
        scheme:
          type: string
          description: MPC signing scheme used by this wallet
        userIdentifier:
          type: string
        userIdentifierType:
          type: string
        cosmosPrefix:
          type: string

    SignRawResponse:
      type: object
      description: |
        MPC signature payload. Exact shape depends on scheme; spec uses a
        permissive object so the generated client surfaces the raw JSON.
      additionalProperties: true
      properties:
        signature:
          type: string
          description: Hex-encoded signature (when present)
        sig:
          type: string
          description: Alternate signature field name observed in some responses

    ErrorResponse:
      type: object
      description: Para error envelope. Fields vary; permissive on purpose.
      additionalProperties: true
      properties:
        message:
          type: string
        code:
          type: string
        error:
          type: string
