openapi: 3.0.3
info:
  title: Para Wallet REST API
  description: |
    Minimal OpenAPI surface for the Para MPC wallet REST API, covering only the
    endpoints used by the Aomi `para` app: wallet create, wallet get, and raw signing.

    ## Auth
    Para uses a static API key passed in the `X-API-Key` header. An optional
    `X-Request-Id` (UUID) header is supported for idempotency / tracing.
    The API key is provided at runtime via host context (state attribute
    `para_api_key` / `PARA_API_KEY`); the spec only describes the header for
    codegen purposes.
  version: 1.0.0
servers:
- url: https://api.beta.getpara.com
  description: Beta
- url: https://api.getpara.com
  description: Production
paths:
  /v1/wallets:
    post:
      summary: Create a new MPC wallet
      description: |
        Create a Para MPC wallet for the given user identifier. Wallet creation
        is asynchronous: the response typically has `status = "creating"` and
        the wallet must be polled until `status = "ready"` before signing.
      operationId: createWallet
      parameters:
      - $ref: '#/components/parameters/RequestId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
        required: true
      responses:
        '200':
          description: Wallet record (when re-creation returns existing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
  /v1/wallets/{walletId}:
    get:
      summary: Fetch a single wallet by ID
      operationId: getWallet
      parameters:
      - $ref: '#/components/parameters/WalletId'
      - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Wallet record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
  /v1/wallets/{walletId}/sign-raw:
    post:
      summary: MPC-sign raw 0x-prefixed hex data
      description: |
        Produce a distributed MPC signature over the supplied raw bytes.
        The wallet must have `status = "ready"` before signing. Response
        shape varies slightly by signing scheme; minimally includes a
        `signature` (or `sig`) field.
      operationId: signRaw
      parameters:
      - $ref: '#/components/parameters/WalletId'
      - $ref: '#/components/parameters/RequestId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignRawRequest'
        required: true
      responses:
        '200':
          description: Signature payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignRawResponse'
components:
  schemas:
    CreateWalletRequest:
      type: object
      properties:
        type:
          description: Wallet chain family
          type: string
          enum:
          - EVM
          - SOLANA
          - COSMOS
        userIdentifier:
          description: User handle (email, phone, custom ID, etc.) the wallet is anchored to
          type: string
        userIdentifierType:
          description: How Para should validate / normalize the userIdentifier
          type: string
          enum:
          - EMAIL
          - PHONE
          - CUSTOM_ID
          - GUEST_ID
          - TELEGRAM
          - DISCORD
          - TWITTER
        scheme:
          description: Optional MPC signing scheme
          type: string
          enum:
          - DKLS
          - CGGMP
          - ED25519
        cosmosPrefix:
          description: Optional bech32 prefix (Cosmos wallets only)
          type: string
      required:
      - type
      - userIdentifier
      - userIdentifierType
    SignRawRequest:
      type: object
      properties:
        data:
          description: 0x-prefixed hex bytes to sign
          type: string
          pattern: ^0x[0-9a-fA-F]+$
      required:
      - data
    Wallet:
      description: Para wallet record. Additional fields may be returned.
      type: object
      properties:
        id:
          description: Para wallet ID (typically a UUID)
          type: string
        type:
          description: Wallet chain family
          type: string
        status:
          description: |
            Wallet lifecycle status. Observed values include `creating`,
            `ready`, and `error`; other values may exist.
          type: string
        address:
          description: On-chain address (present once status = ready)
          type: string
        publicKey:
          description: Hex-encoded public key (present once status = ready)
          type: string
        scheme:
          description: MPC signing scheme used by this wallet
          type: string
        userIdentifier:
          type: string
        userIdentifierType:
          type: string
        cosmosPrefix:
          type: string
      additionalProperties: true
    SignRawResponse:
      description: |
        MPC signature payload. Exact shape depends on scheme; spec uses a
        permissive object so the generated client surfaces the raw JSON.
      type: object
      properties:
        signature:
          description: Hex-encoded signature (when present)
          type: string
        sig:
          description: Alternate signature field name observed in some responses
          type: string
      additionalProperties: true
    ErrorResponse:
      description: Para error envelope. Fields vary; permissive on purpose.
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        error:
          type: string
      additionalProperties: true
  parameters:
    WalletId:
      in: path
      name: walletId
      description: Para wallet identifier
      required: true
      schema:
        type: string
      style: simple
    RequestId:
      in: header
      name: X-Request-Id
      description: Optional UUID for request tracing / idempotency
      schema:
        type: string
        format: uuid
      style: simple
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
security:
- apiKey: []
