openapi: 3.0.3
info:
  title: Zora SDK API
  description: Access to Zora data for SDK users
  version: 1.0.0
servers:
- url: https://api-sdk.zora.engineering/
  description: SDK API Production Server
- url: https://api-sdk-staging.zora.engineering/
  description: SDK API Staging Server
- url: http://localhost:8787/
  description: SDK API Local Server
paths:
  /apiKey:
    get:
      summary: zoraSDK_apiKey query
      operationId: GetApiKey
      parameters:
      - in: query
        name: apiKey
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      apiKey:
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        type: string
                      isActive:
                        description: The `Boolean` scalar type represents `true` or `false`.
                        type: boolean
                    required:
                    - apiKey
                    - isActive
                required:
                - apiKey
  /coin:
    get:
      summary: zoraSDK_coin query
      operationId: GetCoin
      parameters:
      - in: query
        name: address
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: chain
        schema:
          nullable: true
          default: 8453
          type: integer
        style: form
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  zora20Token:
                    nullable: true
                    type: object
                    properties:
                      address:
                        type: string
                      chainId:
                        description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                        type: integer
                      coinType:
                        type: string
                        enum:
                        - CREATOR
                        - CONTENT
                        - TREND
                      createdAt:
                        nullable: true
                        description: Date with time (isoformat)
                        type: string
                      creatorAddress:
                        nullable: true
                        type: string
                      creatorEarnings:
                        nullable: true
                        type: array
                        items:
                          type: object
                          properties:
                            amount:
                              type: object
                              properties:
                                amountDecimal:
                                  description: Amount of the currency, in float format accounting for currency decimals
                                  type: number
                                  format: float
                                amountRaw:
                                  description: Raw amount of the currency, in wei. Not formatted with decimals
                                  type: string
                                currencyAddress:
                                  description: Ethereum address of the currency
                                  type: string
                              required:
                              - currencyAddress
                              - amountRaw
                              - amountDecimal
                            amountUsd:
                              nullable: true
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                          required:
                          - amount
                      creatorProfile:
                        nullable: true
                        type: object
                        properties:
                          avatar:
                            nullable: true
                            type: object
                            properties:
                              previewImage:
                                type: object
                                properties:
                                  blurhash:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                                  medium:
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                                  small:
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                                required:
                                - medium
                                - small
                            required:
                            - previewImage
                          creatorCoin:
                            nullable: true
                            type: object
                            properties:
                              address:
                                type: string
                            required:
                            - address
                          handle:
                            description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                            type: string
                          id:
                            description: The Globally Unique ID of this object
                            type: string
                          platformBlocked:
                            description: The `Boolean` scalar type represents `true` or `false`.
                            type: boolean
                          socialAccounts:
                            type: object
                            properties:
                              farcaster:
                                nullable: true
                                type: object
                                properties:
                                  displayName:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                                  followerCount:
                                    nullable: true
                                    description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                    type: integer
                                  id:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                                  username:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                              instagram:
                                nullable: true
                                type: object
                                properties:
                                  displayName:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                                  followerCount:
                                    nullable: true
                                    description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                    type: integer
                                  id:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                                  username:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                              tiktok:
                                nullable: true
                                type: object
                                properties:
                                  displayName:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                                  followerCount:
                                    nullable: true
                                    description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                    type: integer
                                  id:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                                  username:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                              twitter:
                                nullable: true
                                type: object
                                properties:
                                  displayName:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                                  followerCount:
                                    nullable: true
                                    description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                    type: integer
                                  id:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                                  username:
                                    nullable: true
                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    type: string
                        required:
                        - id
                        - handle
                        - platformBlocked
                        - socialAccounts
                      description:
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        type: string
                      id:
                        description: The Globally Unique ID of this object
                        type: string
                      marketCap:
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        type: string
                      marketCapDelta24h:
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        type: string
                      mediaContent:
                        nullable: true
                        type: object
                        properties:
                          mimeType:
                            nullable: true
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            type: string
                          originalUri:
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            type: string
                          previewImage:
                            nullable: true
                            type: object
                            properties:
                              blurhash:
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                type: string
                              medium:
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                type: string
                              small:
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                type: string
                            required:
                            - small
                            - medium
                          videoHlsUrl:
                            nullable: true
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            type: string
                          videoPreviewUrl:
                            nullable: true
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            type: string
                        required:
                        - originalUri
                      name:
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        type: string
                      payoutRecipientAddress:
                        nullable: true
                        type: string
                      platformBlocked:
                        description: The `Boolean` scalar type represents `true` or `false`.
                        type: boolean
                      platformReferrerAddress:
                        nullable: true
                        type: string
                      poolCurrencyToken:
                        nullable: true
                        type: object
                        properties:
                          address:
                            nullable: true
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            type: string
                          decimals:
                            nullable: true
                            description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                            type: integer
                          name:
                            nullable: true
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            type: string
                      symbol:
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        type: string
                      tokenPrice:
                        nullable: true
                        type: object
                        properties:
                          currencyAddress:
                            description: Ethereum address of the currency
                            type: string
                          priceInPoolToken:
                            description: Price against the native token of the primary currency pool
                            type: string
                          priceInUsdc:
                            nullable: true
                            description: Price of the pool in respect to USDC, not always available
                            type: string
                        required:
                        - currencyAddress
                        - priceInPoolToken
                      tokenUri:
                        nullable: true
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        type: string
                      totalSupply:
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        type: string
                      totalVolume:
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        type: string
                      uniqueHolders:
                        description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                        type: integer
                      uniswapV3PoolAddress:
                        type: string
                      uniswapV4PoolKey:
                        type: object
                        properties:
                          fee:
                            description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                            type: integer
                          hookAddress:
                            type: string
                          tickSpacing:
                            description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                            type: integer
                          token0Address:
                            type: string
                          token1Address:
                            type: string
                        required:
                        - token0Address
                        - token1Address
                        - fee
                        - tickSpacing
                        - hookAddress
                      volume24h:
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        type: string
                      zoraComments:
                        type: object
                        properties:
                          count:
                            description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                            type: integer
                          edges:
                            type: array
                            items:
                              type: object
                              properties:
                                node:
                                  type: object
                                  properties:
                                    comment:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    commentId:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    nonce:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    timestamp:
                                      description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                      type: integer
                                    txHash:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    userAddress:
                                      type: string
                                    userProfile:
                                      nullable: true
                                      type: object
                                      properties:
                                        avatar:
                                          nullable: true
                                          type: object
                                          properties:
                                            previewImage:
                                              type: object
                                              properties:
                                                blurhash:
                                                  nullable: true
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                                medium:
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                                small:
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                              required:
                                              - small
                                              - medium
                                          required:
                                          - previewImage
                                        handle:
                                          description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                          type: string
                                        id:
                                          description: The Globally Unique ID of this object
                                          type: string
                                      required:
                                      - id
                                      - handle
                                  required:
                                  - commentId
                                  - nonce
                                  - userAddress
                                  - txHash
                                  - comment
                                  - timestamp
                              required:
                              - node
                          pageInfo:
                            type: object
                            properties:
                              endCursor:
                                nullable: true
                                description: When paginating forwards, the cursor to continue.
                                type: string
                              hasNextPage:
                                description: When paginating forwards, are there more items?
                                type: boolean
                            required:
                            - hasNextPage
                        required:
                        - pageInfo
                        - count
                        - edges
                    required:
                    - id
                    - platformBlocked
                    - name
                    - description
                    - address
                    - coinType
                    - symbol
                    - totalSupply
                    - totalVolume
                    - volume24h
                    - marketCap
                    - marketCapDelta24h
                    - chainId
                    - uniqueHolders
                    - uniswapV4PoolKey
                    - uniswapV3PoolAddress
                    - zoraComments
  /coinComments:
    get:
      summary: zoraSDK_coinComments query
      operationId: GetCoinComments
      parameters:
      - in: query
        name: address
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: chain
        schema:
          nullable: true
          default: 8453
          type: integer
        style: form
      - in: query
        name: after
        schema:
          nullable: true
          type: string
        style: form
      - in: query
        name: count
        schema:
          nullable: true
          default: 10
          type: integer
        style: form
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  zora20Token:
                    nullable: true
                    type: object
                    properties:
                      zoraComments:
                        type: object
                        properties:
                          count:
                            description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                            type: integer
                          edges:
                            type: array
                            items:
                              type: object
                              properties:
                                node:
                                  type: object
                                  properties:
                                    comment:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    commentId:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    nonce:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    replies:
                                      type: object
                                      properties:
                                        count:
                                          description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                          type: integer
                                        edges:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              node:
                                                type: object
                                                properties:
                                                  comment:
                                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    type: string
                                                  commentId:
                                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    type: string
                                                  nonce:
                                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    type: string
                                                  timestamp:
                                                    description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                                    type: integer
                                                  txHash:
                                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    type: string
                                                  userAddress:
                                                    type: string
                                                  userProfile:
                                                    nullable: true
                                                    type: object
                                                    properties:
                                                      avatar:
                                                        nullable: true
                                                        type: object
                                                        properties:
                                                          previewImage:
                                                            type: object
                                                            properties:
                                                              blurhash:
                                                                nullable: true
                                                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                                type: string
                                                              medium:
                                                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                                type: string
                                                              small:
                                                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                                type: string
                                                            required:
                                                            - small
                                                            - medium
                                                        required:
                                                        - previewImage
                                                      handle:
                                                        description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                                        type: string
                                                      id:
                                                        description: The Globally Unique ID of this object
                                                        type: string
                                                    required:
                                                    - id
                                                    - handle
                                                required:
                                                - commentId
                                                - nonce
                                                - userAddress
                                                - txHash
                                                - comment
                                                - timestamp
                                            required:
                                            - node
                                      required:
                                      - count
                                      - edges
                                    timestamp:
                                      description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                      type: integer
                                    txHash:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    userAddress:
                                      type: string
                                    userProfile:
                                      nullable: true
                                      type: object
                                      properties:
                                        avatar:
                                          nullable: true
                                          type: object
                                          properties:
                                            previewImage:
                                              type: object
                                              properties:
                                                blurhash:
                                                  nullable: true
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                                medium:
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                                small:
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                              required:
                                              - small
                                              - medium
                                          required:
                                          - previewImage
                                        handle:
                                          description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                          type: string
                                        id:
                                          description: The Globally Unique ID of this object
                                          type: string
                                      required:
                                      - id
                                      - handle
                                  required:
                                  - commentId
                                  - nonce
                                  - userAddress
                                  - txHash
                                  - comment
                                  - timestamp
                                  - replies
                              required:
                              - node
                          pageInfo:
                            type: object
                            properties:
                              endCursor:
                                nullable: true
                                description: When paginating forwards, the cursor to continue.
                                type: string
                              hasNextPage:
                                description: When paginating forwards, are there more items?
                                type: boolean
                            required:
                            - hasNextPage
                        required:
                        - pageInfo
                        - count
                        - edges
                    required:
                    - zoraComments
  /coinHolders:
    get:
      summary: zoraSDK_coinHolders query
      operationId: GetCoinHolders
      parameters:
      - in: query
        name: chainId
        required: true
        schema:
          type: integer
        style: form
      - in: query
        name: address
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: after
        schema:
          nullable: true
          type: string
        style: form
      - in: query
        name: count
        schema:
          nullable: true
          default: 25
          type: integer
        style: form
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  zora20Token:
                    nullable: true
                    type: object
                    properties:
                      tokenBalances:
                        type: object
                        properties:
                          count:
                            description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                            type: integer
                          edges:
                            type: array
                            items:
                              type: object
                              properties:
                                node:
                                  type: object
                                  properties:
                                    balance:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    ownerAddress:
                                      type: string
                                    ownerProfile:
                                      type: object
                                      properties:
                                        avatar:
                                          nullable: true
                                          type: object
                                          properties:
                                            previewImage:
                                              type: object
                                              properties:
                                                blurhash:
                                                  nullable: true
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                                medium:
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                                small:
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                              required:
                                              - medium
                                              - small
                                          required:
                                          - previewImage
                                        handle:
                                          description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                          type: string
                                        id:
                                          description: The Globally Unique ID of this object
                                          type: string
                                        platformBlocked:
                                          description: The `Boolean` scalar type represents `true` or `false`.
                                          type: boolean
                                      required:
                                      - id
                                      - handle
                                      - platformBlocked
                                  required:
                                  - balance
                                  - ownerAddress
                                  - ownerProfile
                              required:
                              - node
                          pageInfo:
                            type: object
                            properties:
                              endCursor:
                                nullable: true
                                description: When paginating forwards, the cursor to continue.
                                type: string
                              hasNextPage:
                                description: When paginating forwards, are there more items?
                                type: boolean
                            required:
                            - hasNextPage
                        required:
                        - pageInfo
                        - count
                        - edges
                    required:
                    - tokenBalances
  /coinPriceHistory:
    get:
      summary: zoraSDK_coinPriceHistory query
      operationId: GetCoinPriceHistory
      parameters:
      - in: query
        name: address
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: chain
        schema:
          nullable: true
          default: 8453
          type: integer
        style: form
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  zora20Token:
                    nullable: true
                    type: object
                    properties:
                      all:
                        type: array
                        items:
                          type: object
                          properties:
                            closePrice:
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                            timestamp:
                              description: Date with time (isoformat)
                              type: string
                          required:
                          - timestamp
                          - closePrice
                      oneDay:
                        type: array
                        items:
                          type: object
                          properties:
                            closePrice:
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                            timestamp:
                              description: Date with time (isoformat)
                              type: string
                          required:
                          - timestamp
                          - closePrice
                      oneHour:
                        type: array
                        items:
                          type: object
                          properties:
                            closePrice:
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                            timestamp:
                              description: Date with time (isoformat)
                              type: string
                          required:
                          - timestamp
                          - closePrice
                      oneMonth:
                        type: array
                        items:
                          type: object
                          properties:
                            closePrice:
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                            timestamp:
                              description: Date with time (isoformat)
                              type: string
                          required:
                          - timestamp
                          - closePrice
                      oneWeek:
                        type: array
                        items:
                          type: object
                          properties:
                            closePrice:
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                            timestamp:
                              description: Date with time (isoformat)
                              type: string
                          required:
                          - timestamp
                          - closePrice
                    required:
                    - oneHour
                    - oneDay
                    - oneWeek
                    - oneMonth
                    - all
  /coinSwaps:
    get:
      summary: zoraSDK_coinSwaps query
      operationId: GetCoinSwaps
      parameters:
      - in: query
        name: address
        required: true
        schema:
          type: string
        style: form
      - in: query
        name: chain
        schema:
          nullable: true
          default: 8453
          type: integer
        style: form
      - in: query
        name: after
        schema:
          nullable: true
          type: string
        style: form
      - in: query
        name: first
        schema:
          nullable: true
          default: 10
          type: integer
        style: form
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  zora20Token:
                    nullable: true
                    type: object
                    properties:
                      swapActivities:
                        type: object
                        properties:
                          count:
                            description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                            type: integer
                          edges:
                            type: array
                            items:
                              type: object
                              properties:
                                cursor:
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                  type: string
                                node:
                                  type: object
                                  properties:
                                    activityType:
                                      nullable: true
                                      type: string
                                      enum:
                                      - BUY
                                      - SELL
                                    blockTimestamp:
                                      description: Date with time (isoformat)
                                      type: string
                                    coinAmount:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    currencyAmountWithPrice:
                                      type: object
                                      properties:
                                        currencyAmount:
                                          type: object
                                          properties:
                                            amountDecimal:
                                              description: Amount of the currency, in float format accounting for currency decimals
                                              type: number
                                              format: float
                                            currencyAddress:
                                              description: Ethereum address of the currency
                                              type: string
                                          required:
                                          - currencyAddress
                                          - amountDecimal
                                        priceUsdc:
                                          nullable: true
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                          type: string
                                      required:
                                      - currencyAmount
                                    id:
                                      description: The Globally Unique ID of this object
                                      type: string
                                    recipientAddress:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    senderAddress:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    senderProfile:
                                      nullable: true
                                      type: object
                                      properties:
                                        avatar:
                                          nullable: true
                                          type: object
                                          properties:
                                            previewImage:
                                              type: object
                                              properties:
                                                blurhash:
                                                  nullable: true
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                                medium:
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                                small:
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  type: string
                                              required:
                                              - medium
                                              - small
                                          required:
                                          - previewImage
                                        handle:
                                          description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                          type: string
                                        id:
                                          description: The Globally Unique ID of this object
                                          type: string
                                        platformBlocked:
                                          description: The `Boolean` scalar type represents `true` or `false`.
                                          type: boolean
                                      required:
                                      - id
                                      - handle
                                      - platformBlocked
                                    transactionHash:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                  required:
                                  - id
                                  - currencyAmountWithPrice
                                  - senderAddress
                                  - recipientAddress
                                  - transactionHash
                                  - coinAmount
                                  - blockTimestamp
                              required:
                              - node
                              - cursor
                          pageInfo:
                            type: object
                            properties:
                              endCursor:
                                nullable: true
                                description: When paginating forwards, the cursor to continue.
                                type: string
                              hasNextPage:
                                description: When paginating forwards, are there more items?
                                type: boolean
                            required:
                            - hasNextPage
                        required:
                        - count
                        - edges
                        - pageInfo
                    required:
                    - swapActivities
  /coins:
    get:
      summary: zoraSDK_coins query
      operationId: GetCoins
      parameters:
      - in: query
        name: coins
        required: true
        schema:
          type: array
          items:
            type: object
            properties:
              chainId:
                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                type: integer
              collectionAddress:
                type: string
            required:
            - chainId
            - collectionAddress
        style: form
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  zora20Tokens:
                    description: Batch-resolve Zora ERC-20 coins. Returns nulls for unknown IDs. Preserves input order.
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                        chainId:
                          description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                          type: integer
                        coinType:
                          type: string
                          enum:
                          - CREATOR
                          - CONTENT
                          - TREND
                        createdAt:
                          nullable: true
                          description: Date with time (isoformat)
                          type: string
                        creatorAddress:
                          nullable: true
                          type: string
                        creatorEarnings:
                          nullable: true
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: object
                                properties:
                                  amountDecimal:
                                    description: Amount of the currency, in float format accounting for currency decimals
                                    type: number
                                    format: float
                                  amountRaw:
                                    description: Raw amount of the currency, in wei. Not formatted with decimals
                                    type: string
                                  currencyAddress:
                                    description: Ethereum address of the currency
                                    type: string
                                required:
                                - currencyAddress
                                - amountRaw
                                - amountDecimal
                              amountUsd:
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                type: string
                            required:
                            - amount
                        creatorProfile:
                          nullable: true
                          type: object
                          properties:
                            avatar:
                              nullable: true
                              type: object
                              properties:
                                previewImage:
                                  type: object
                                  properties:
                                    blurhash:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    medium:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    small:
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                  required:
                                  - medium
                                  - small
                              required:
                              - previewImage
                            creatorCoin:
                              nullable: true
                              type: object
                              properties:
                                address:
                                  type: string
                              required:
                              - address
                            handle:
                              description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                              type: string
                            id:
                              description: The Globally Unique ID of this object
                              type: string
                            platformBlocked:
                              description: The `Boolean` scalar type represents `true` or `false`.
                              type: boolean
                            socialAccounts:
                              type: object
                              properties:
                                farcaster:
                                  nullable: true
                                  type: object
                                  properties:
                                    displayName:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    followerCount:
                                      nullable: true
                                      description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                      type: integer
                                    id:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    username:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                instagram:
                                  nullable: true
                                  type: object
                                  properties:
                                    displayName:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    followerCount:
                                      nullable: true
                                      description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                      type: integer
                                    id:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    username:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                tiktok:
                                  nullable: true
                                  type: object
                                  properties:
                                    displayName:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    followerCount:
                                      nullable: true
                                      description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                      type: integer
                                    id:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    username:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                twitter:
                                  nullable: true
                                  type: object
                                  properties:
                                    displayName:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    followerCount:
                                      nullable: true
                                      description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                      type: integer
                                    id:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                                    username:
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      type: string
                          required:
                          - id
                          - handle
                          - platformBlocked
                          - socialAccounts
                        description:
                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          type: string
                        id:
                          description: The Globally Unique ID of this object
                          type: string
                        marketCap:
                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          type: string
                        marketCapDelta24h:
                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          type: string
                        mediaContent:
                          nullable: true
                          type: object
                          properties:
                            mimeType:
                              nullable: true
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                            originalUri:
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                            previewImage:
                              nullable: true
                              type: object
                              properties:
                                blurhash:
                                  nullable: true
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                  type: string
                                medium:
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                  type: string
                                small:
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                  type: string
                              required:
                              - small
                              - medium
                            videoHlsUrl:
                              nullable: true
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                            videoPreviewUrl:
                              nullable: true
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                          required:
                          - originalUri
                        name:
                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          type: string
                        payoutRecipientAddress:
                          nullable: true
                          type: string
                        platformBlocked:
                          description: The `Boolean` scalar type represents `true` or `false`.
                          type: boolean
                        platformReferrerAddress:
                          nullable: true
                          type: string
                        poolCurrencyToken:
                          nullable: true
                          type: object
                          properties:
                            address:
                              nullable: true
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                            decimals:
                              nullable: true
                              description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              type: integer
                            name:
                              nullable: true
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              type: string
                        symbol:
                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          type: string
                        tokenPrice:
                          nullable: true
                          type: object
                          properties:
                            currencyAddress:
                              description: Ethereum address of the currency
                              type: string
                            priceInPoolToken:
                              description: Price against the native token of the primary currency pool
                              type: string
                            priceInUsdc:
                              nullable: true
                              description: Price of the pool in respect to USDC, not always available
                              type: string
                          required:
                          - currencyAddress
                          - priceInPoolToken
                        tokenUri:
                          nullable: true
                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          type: string
                        totalSupply:
                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          type: string
                        totalVolume:
                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          type: string
                        uniqueHolders:
                          description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                          type: integer
                        uniswapV3PoolAddress:
                          type: string
                        uniswapV4PoolKey:
                          type: object
                          properties:
                            fee:
                              description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              type: integer
                            hookAddress:
                              type: string
                            tickSpacing:
                              description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              type: integer
                            token0Address:
                              type: string
                            token1Address:
                              type: string
                          required:
                          - token0Address
                          - token1Address
                          - fee
                          - tickSpacing
                          - hookAddress
                        volume24h:
                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          type: string
                        zoraComments:
                          type: object
                          properties:
                            count:
                              description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              type: integer
                            edges:
                              type: array
                              items:
                                type: object
                                properties:
                                  node:
                                    type: object
                                    properties:
                                      comment:
                                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        type: string
                                      commentId:
                                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        type: string
                                      nonce:
                                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        type: string
                                      timestamp:
                                        description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                        type: integer
                                      txHash:
                                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        type: string
                                      userAddress:
                                        type: string
                                      userProfile:
                                        nullable: true
                                        type: object
                                        properties:
                                          avatar:
                                            nullable: true
                                            type: object
                                            properties:
                                              previewImage:
                                                type: object
                                                properties:
                                                  blurhash:
                                                    nullable: true
                                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    type: string
                                                  medium:
                                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    type: string
                                                  small:
                                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    type: string
                                                required:
                                                - small
                                                - medium
                                            required:
                                            - previewImage
                                          handle:
                                            description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                            type: string
                                          id:
                                            description: The Globally Unique ID of this object
                                            type: string
                                        required:
                                        - id
                                        - handle
                                    required:
                                    - commentId
                                    - nonce
                                    - userAddress
                                    - txHash
                                    - comment
                                    - timestamp
                                required:
                                - node
                            pageInfo:
                              type: object
                              properties:
                                endCursor:
                                  nullable: true
                                  description: When paginating forwards, the cursor to continue.
                                  type: string
                                hasNextPage:
                                  description: When paginating forwards, are there more items?
                                  type: boolean
                              required:
                              - hasNextPage
                          required:
                          - pageInfo
                          - count
                          - edges
                      required:
                      - id
                      - platformBlocked
                      - name
                      - description
                      - address
                      - coinType
                      - symbol
                      - totalSupply
                      - totalVolume
                      - volume24h
                      - marketCap
                      - marketCapDelta24h
                      - chainId
                      - uniqueHolders
                      - uniswapV4PoolKey
                      - uniswapV3PoolAddress
                      - zoraComments
                required:
                - zora20Tokens
  /coinsList:
    get:
      summary: zoraSDK_coinsList query
      operationId: GetCoinsList
      parameters:
      - in: query
        name: first
        schema:
          default: 1000
          type: integer
        style: form
      - in: query
        name: after
        schema:
          nullable: true
          type: string
        style: form
      - in: query
        name: includeUSDCPrice
        schema:
          default: true
          type: boolean
        style: form
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  coinsBasicInfo:
                    type: object
                    properties:
                      edges:
                        type: array
                        items:
                          type: object
                          properties:
                            node:
                              type: object
                              properties:
                                coinAddress:
                                  type: string
                                coinType:
                                  type: string
                                  enum:
                                  - CREATOR
                                  - CONTENT
                                  - TREND
                                createdTimestamp:
                                  description: Date with time (isoformat)
                                  type: string
                                createdUserAddress:
                                  type: string
                                entityName:
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                  type: string
                                name:
                                  nullable: true
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                  type: string
                                platformBlocked:
                                  description: The `Boolean` scalar type represents `true` or `false`.
                                  type: boolean
                                priceUsdc:
                                  nullable: true
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                  type: string
                                symbol:
                                  nullable: true
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                  type: string
                                uri:
                                  nullable: true
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                  type: string
                              required:
                              - coinType
                              - entityName
                              - coinAddress
                              - createdUserAddress
                              - createdTimestamp
                              - platformBlocked
                          required:
                          - node
                      pageInfo:
                        type: object
                        properties:
                          endCursor:
                            nullable: true
                            description: When paginating forwards, the cursor to continue.
                            type: string
                          hasNextPage:
                            description: When paginating forwards, are there more items?
                            type: boolean
                        required:
                        - hasNextPage
                    required:
                    - pageInfo
                    - edges
                required:
                - coinsBasicInfo
  /contentCoinPoolConfig:
    get:
      summary: zoraSDK_contentCoinPoolConfig query
      operationId: GetContentCoinPoolConfig
      parameters:
      - in: query
        name: creatorIdentifier
        schema:
          nullable: true
          type: string
        style: form
      - in: query
        name: currencyType
        required: true
        schema:
          type: string
          enum:
          - ETH
          - ZORA
          - CREATOR_COIN
          - CREATOR_COIN_OR_ZORA
          - CUSTOM_COIN
        style: form
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  contentCoinPoolConfig:
[...]
